{% extends "base.html" %} {% block sidenav %}
<a class="active" href="/settings">Account</a>
<a href="/settings/sessions">Sessions</a>
<a href="/settings/profile">Profile</a>
<a href="/settings/privacy">Privacy</a>
{% endblock %} {% block panel %}

<div class="flex flex-col gap-2">
    <div class="flex flex-col gap-1">
        <label for="sparkler:website_theme">Website theme</label>

        <select
            type="url"
            name="sparkler:website_theme"
            id="sparkler:website_theme"
            onchange="update_theme(event.target.options[event.target.selectedIndex].value)"
        >
            <option value="light" id="light">Light</option>
            <option value="dark" id="dark">Dark</option>
        </select>

        <p class="fade">
            This is just your local preferred theme! Profiles are always in
            light theme, but this will show on every other page.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:website_skin">Website skin</label>

        <select
            type="url"
            name="sparkler:website_skin"
            id="sparkler:website_skin"
            onchange="window.localStorage.setItem('skin', event.target.options[event.target.selectedIndex].value)"
        >
            <option value="sparkler" id="sparkler">Sparkler</option>
            <option value="rocket" id="rocket">Rocket</option>
            <option value="bluebird" id="bluebird">Blue bird</option>
        </select>

        <p class="fade">
            This is just your local preferred website skin! Please refresh after
            changing to view the skin.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:allow_profile_themes">Allow profile themes</label>

        <select
            type="url"
            name="sparkler:allow_profile_themes"
            id="sparkler:allow_profile_themes"
            onchange="update_theme_preference(event.target.options[event.target.selectedIndex].value)"
        >
            <option value="yes" id="yes">Yes</option>
            <option value="no" id="no">No</option>
        </select>

        <p class="fade">
            This is a local perference! Changing this to "No" will not show
            custom profile themes.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <div class="checkbox_container">
            <input
                type="checkbox"
                name="sparkler:clear_notifs"
                id="sparkler:clear_notifs"
                onchange="window.localStorage.setItem('clear_notifs', event.target.checked.toString())"
            />

            <label for="sparkler:clear_notifs" class="normal">
                Clear notifications on view
            </label>
        </div>

        <p class="fade">
            Clear specific notifications automatically whenever you open them.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <div class="checkbox_container">
            <input
                type="checkbox"
                name="sparkler:always_anon"
                id="sparkler:always_anon"
                onchange="window.localStorage.setItem('always_anon', event.target.checked.toString())"
            />

            <label for="sparkler:always_anon" class="normal">
                Default to anonymous
            </label>
        </div>

        <p class="fade">"Hide your name" will be checked by default.</p>
    </div>

    <div class="flex flex-col gap-1">
        <div class="checkbox_container">
            <input
                type="checkbox"
                name="sparkler:limited_friend_requests"
                id="sparkler:limited_friend_requests"
                onchange="update_kv('sparkler:limited_friend_requests', event.target.checked.toString())"
            />

            <label for="sparkler:limited_friend_requests" class="normal">
                Only allow friend requests from people you follow
            </label>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="checkbox_container">
            <input
                type="checkbox"
                name="sparkler:limited_chats"
                id="sparkler:limited_chats"
                onchange="update_kv('sparkler:limited_chats', event.target.checked.toString())"
            />

            <label for="sparkler:limited_chats" class="normal">
                Only allow friends to add you to chats
            </label>
        </div>
    </div>

    <hr />
    <form class="flex flex-col gap-1" id="change_username">
        <h3>Change username</h3>

        <label for="current_password">Current password</label>
        <input type="password" name="current_password" id="current_password" />

        <label for="new_name">New username</label>
        <input type="text" name="new_name" id="new_name" minlength="2" />

        <button>Submit</button>
    </form>

    <hr />
    <form class="flex flex-col gap-1" id="change_password">
        <h3>Change password</h3>

        <label for="current_password">Current password</label>
        <input type="password" name="current_password" id="current_password" />

        <label for="new_password">New password</label>
        <input
            type="password"
            name="new_password"
            id="new_password"
            minlength="6"
        />

        <button>Submit</button>
    </form>

    <hr />
    <form class="flex flex-col gap-1" id="delete_account">
        <h3>Delete account</h3>
        <p>
            Note you
            <b>cannot</b>
            undo this! Please be sure this is what you want before you continue.
        </p>

        <label for="current_password">Current password</label>
        <input type="password" name="current_password" id="current_password" />

        <button>Submit</button>
    </form>

    <hr />
    <div class="flex flex-col gap-1">
        <label for="sparkler:relationships">Relationships</label>

        <div class="card">
            <ul style="margin-bottom: 0">
                {% for relationship in relationships %}
                <li>
                    <div class="footernav" style="display: inline-flex">
                        <a href="/@{{ relationship.0.username }}" class="item">
                            {{ relationship.0.username }}
                        </a>

                        <span class="item">
                            <a
                                href="javascript:remove_relationship('{{ relationship.0.username }}')"
                            >
                                <!-- prettier-ignore -->
                                {% if relationship.1 == crate::model::RelationshipStatus::Blocked %}
                                    Unblock
                                {% else %}
                                    Remove
                                {% endif %}
                            </a>
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <label for="sparkler:block_somebody">Block somebody</label>

        <div class="flex gap-2">
            <input
                name="sparkler:block_somebody"
                id="sparkler:block_somebody"
                placeholder="username"
            />

            <button type="button" onclick="block_dialog()">Submit</button>
        </div>

        <p class="fade">
            Put the username of somebody you want to block in the input above
            and click "Submit" to add them to your block list.
        </p>
    </div>

    <script>
        (() => {
            globalThis.block_dialog = function () {
                // show confirmation
                document.getElementById("block_dialog").showModal();
            };

            globalThis.block = function () {
                const username = document.getElementById(
                    "sparkler:block_somebody",
                ).value;

                fetch(`/api/v1/profiles/${username}/relationship/block`, {
                    method: "POST",
                })
                    .then((res) => res.json())
                    .then((res) => {
                        trigger("app:toast", [
                            res.success ? "success" : "error",
                            res.success ? "User blocked!" : res.message,
                        ]);

                        window.close();
                    });
            };

            globalThis.remove_relationship = function (username) {
                if (!confirm("Are you sure you want to do this?")) {
                    return;
                }

                fetch(`/api/v1/profiles/${username}/relationship`, {
                    method: "DELETE",
                })
                    .then((res) => res.json())
                    .then((res) => {
                        trigger("app:toast", [
                            res.success ? "success" : "error",
                            res.success ? "Relationship removed!" : res.message,
                        ]);

                        window.close();
                    });
            };

            // fill block_somebody
            const search = new URLSearchParams(window.location.search);

            if (search.get("block")) {
                setTimeout(() => {
                    document.getElementById("sparkler:block_somebody").value =
                        search.get("block");

                    block_dialog();
                }, 100);
            }
        })();
    </script>
</div>

<dialog id="block_dialog">
    <div class="inner">
        <p>Are you sure you would like to block this user?</p>

        <hr />
        <div class="flex gap-2">
            <button class="primary bold" onclick="block()">Confirm</button>
            <button
                class="bold"
                onclick="document.getElementById('block_dialog').close(); window.close()"
            >
                Cancel
            </button>
        </div>
    </div>
</dialog>

{% let profile = profile.as_ref().unwrap() %}

<script>
    (() => {
        globalThis.update_theme = (theme) => {
            window.localStorage.setItem("theme", theme);
            document.documentElement.setAttribute("class", theme);
        };

        globalThis.update_theme_preference = (pref) => {
            window.localStorage.setItem("theme-pref", pref);
        };

        // fill current theme
        const current = window.localStorage.getItem("theme");

        if (document.getElementById(current)) {
            document.getElementById(current).setAttribute("selected", "true");
        }

        // fill current skin
        const current_skin = window.localStorage.getItem("skin");

        if (document.getElementById(current_skin)) {
            document
                .getElementById(current_skin)
                .setAttribute("selected", "true");
        }

        // fill current theme preference
        const pref = window.localStorage.getItem("theme-pref");

        if (document.getElementById(pref)) {
            document.getElementById(pref).setAttribute("selected", "true");
        }

        // fill extras
        if (window.localStorage.getItem("clear_notifs") === "true") {
            document
                .getElementById("sparkler:clear_notifs")
                .setAttribute("checked", "true");
        }

        if (window.localStorage.getItem("clear_all_notifs") === "true") {
            document
                .getElementById("sparkler:clear_all_notifs")
                .setAttribute("checked", "true");
        }

        // change username
        document
            .getElementById("change_username")
            .addEventListener("submit", (e) => {
                e.preventDefault();
                fetch("/api/auth/profile/{{ profile.username }}/username", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        password: e.target.current_password.value,
                        new_name: e.target.new_name.value,
                    }),
                })
                    .then((res) => res.json())
                    .then((res) => {
                        trigger("app:shout", [
                            res.success ? "tip" : "caution",
                            res.message || "Username changed!",
                        ]);

                        window.location.href = "#top";
                        e.target.reset();
                    });
            });

        // change password
        document
            .getElementById("change_password")
            .addEventListener("submit", (e) => {
                e.preventDefault();
                fetch("/api/auth/profile/{{ profile.username }}/password", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        password: e.target.current_password.value,
                        new_password: e.target.new_password.value,
                    }),
                })
                    .then((res) => res.json())
                    .then((res) => {
                        trigger("app:shout", [
                            res.success ? "tip" : "caution",
                            res.message || "Password changed!",
                        ]);

                        window.location.href = "#top";
                        e.target.reset();
                    });
            });

        // delete account
        document
            .getElementById("delete_account")
            .addEventListener("submit", (e) => {
                e.preventDefault();

                if (!confirm("Are you 100% sure you want to do this?")) {
                    return;
                }

                fetch("/api/auth/me/delete", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        password: e.target.current_password.value,
                    }),
                })
                    .then((res) => res.json())
                    .then((res) => {
                        trigger("app:shout", [
                            res.success ? "tip" : "caution",
                            res.message || "Profile deleted, goodbye!",
                        ]);

                        window.location.href = "#top";
                        window.localStorage.removeItem("me");
                        e.target.reset();
                    });
            });
    })();
</script>
{% call super() %} {% endblock %}
