{% extends "base.html" %} {% block sidenav %}
<a class="active" href="/settings">{{ text "settings:link.account" }}</a>
<a href="/settings/sessions">{{ text "settings:link.sessions" }}</a>
<a href="/settings/profile">{{ text "settings:link.profile" }}</a>
<a href="/settings/privacy">{{ text "settings:link.privacy" }}</a>
{% endblock %} {% block panel %}

<div class="flex flex-col gap-4">
    <h4 class="title">{{ text "settings:account.html:title.language" }}</h4>

    {% include "components/lang_picker.html" %}

    <h4 class="title">
        {{ text "settings:account.html:title.local_theming" }}
    </h4>

    <div class="flex flex-col gap-1">
        <label for="sparkler:website_theme"
            >{{ text "settings:account.html:label.website_theme" }}</label
        >

        <select
            type="url"
            name="sparkler:website_theme"
            id="sparkler:website_theme"
            onchange="update_theme(event.target.options[event.target.selectedIndex].value)"
        >
            <option value="light" id="light">
                {{ text "settings:text.light" }}
            </option>
            <option value="dark" id="dark">Dark</option>
            <option value="dark midnight" id="dark midnight">
                {{ text "settings:text.midnight" }}
            </option>
            <option value="legacy" id="legacy">
                Legacy {{ text "settings:text.light" }}
            </option>
            <option value="dark legacy" id="dark legacy">Legacy dark</option>
        </select>

        <p class="fade">
            This is just your local preferred theme! Profiles are always in
            light theme, but this will show on every other page.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:allow_profile_themes"
            >{{ text "settings:account.html:label.allow_profile_themes"
            }}</label
        >

        <select
            type="url"
            name="sparkler:allow_profile_themes"
            id="sparkler:allow_profile_themes"
            onchange="update_theme_preference(event.target.options[event.target.selectedIndex].value)"
        >
            <option value="yes" id="yes">
                {{ text "general:dialog.yes" }}
            </option>

            <option value="no" id="no">{{ text "general:dialog.no" }}</option>
        </select>

        <p class="fade">
            This is a local perference! Changing this to "No" will not show
            custom profile themes.
        </p>
    </div>

    <h4 class="title">
        {{ text "settings:account.html:title.local_behaviour" }}
    </h4>
    <div class="flex flex-col gap-1">
        <div class="checkbox_container">
            <input
                type="checkbox"
                name="sparkler:clear_notifs"
                id="sparkler:clear_notifs"
                onchange="window.localStorage.setItem('clear_notifs', event.target.checked.toString())"
            />

            <label for="sparkler:clear_notifs" class="normal">
                {{ text "settings:account.html:label.clear_notifs" }}
            </label>
        </div>

        <p class="fade subtext">
            Clear specific notifications automatically whenever you open them.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <div class="checkbox_container">
            <input
                type="checkbox"
                name="sparkler:always_anon"
                id="sparkler:always_anon"
                onchange="window.localStorage.setItem('always_anon', event.target.checked.toString())"
            />

            <label for="sparkler:always_anon" class="normal">
                {{ text "settings:account.html:label.always_anon" }}
            </label>
        </div>

        <p class="fade subtext">"Hide your name" will be checked by default.</p>
    </div>

    <h4 class="title">
        {{ text "settings:account.html:title.profile_controls" }}
    </h4>
    <div class="flex flex-col gap-1">
        <div class="checkbox_container">
            <input
                type="checkbox"
                name="sparkler:limited_friend_requests"
                id="sparkler:limited_friend_requests"
                onchange="update_kv('sparkler:limited_friend_requests', event.target.checked.toString())"
            />

            <label for="sparkler:limited_friend_requests" class="normal">
                {{ text "settings:account.html:label.limited_friend_requests" }}
            </label>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="checkbox_container">
            <input
                type="checkbox"
                name="sparkler:private_profile"
                id="sparkler:private_profile"
                onchange="update_kv('sparkler:private_profile', event.target.checked.toString())"
            />

            <label for="sparkler:private_profile" class="normal">
                P{{ text "settings:account.html:label.private_profile" }}
            </label>
        </div>

        <p class="fade subtext">
            Only allow friends to view your posts and feed.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <div class="checkbox_container">
            <input
                type="checkbox"
                name="sparkler:limited_chats"
                id="sparkler:limited_chats"
                onchange="update_kv('sparkler:limited_chats', event.target.checked.toString())"
            />

            <label for="sparkler:limited_chats" class="normal">
                {{ text "settings:account.html:label.limited_chats" }}
            </label>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="checkbox_container">
            <input
                type="checkbox"
                name="sparkler:allow_drawings"
                id="sparkler:allow_drawings"
                onchange="update_kv('sparkler:allow_drawings', event.target.checked.toString())"
            />

            <label for="sparkler:allow_drawings" class="normal">
                {{ text "settings:account.html:label.allow_drawings" }}
            </label>
        </div>
    </div>

    <h4 class="title">{{ text "settings:account.html:title.my_account" }}</h4>
    <form class="flex flex-col gap-1" id="change_username">
        <b class="heading"
            >{{ text "settings:account.html:label.change_username" }}</b
        >

        <label for="current_password_username"
            >{{ text "settings:account.html:label.current_password" }}</label
        >

        <input
            type="password"
            name="current_password_username"
            id="current_password_username"
        />

        <label for="new_name">New username</label>
        <input type="text" name="new_name" id="new_name" minlength="2" />

        <button>{{ text "general:form.submit" }}</button>
    </form>

    <form class="flex flex-col gap-1" id="change_password">
        <b class="heading"
            >{{ text "settings:account.html:label.change_password" }}</b
        >

        <label for="current_password"
            >{{ text "settings:account.html:label.current_password" }}</label
        >
        <input type="password" name="current_password" id="current_password" />

        <label for="new_password"
            >{{ text "settings:account.html:label.new_password" }}</label
        >
        <input
            type="password"
            name="new_password"
            id="new_password"
            minlength="6"
        />

        <button>{{ text "general:form.submit" }}</button>
    </form>

    <form class="flex flex-col gap-1" id="delete_account">
        <b class="heading"
            >{{ text "settings:account.html:label.delete_account" }}</b
        >

        <p class="fade subtext">
            {{ text "settings:account.html:text.delete_account_warning" }}
        </p>

        <label for="current_password_delete"
            >{{ text "settings:account.html:label.current_password" }}</label
        >
        <input
            type="password"
            name="current_password_delete"
            id="current_password_delete"
        />

        <button>{{ text "general:form.submit" }}</button>
    </form>

    <h4 class="title">{{ text "settings:account.html:title.blocks" }}</h4>
    <div class="flex flex-col gap-1" id="sparkler:blocks">
        <b class="heading">{{ text "settings:account.html:label.users" }}</b>
        <div class="card">
            <ul style="margin-bottom: 0">
                {% for relationship in relationships %}
                <li>
                    <div class="footernav" style="display: inline-flex">
                        <a href="/@{{ relationship.0.username }}" class="item">
                            {{ relationship.0.username }}
                        </a>

                        <span class="item">
                            <a
                                href="javascript:remove_relationship('{{ relationship.0.username }}')"
                            >
                                {{ text "settings:account.html:actions.ips" }}
                            </a>
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <label for="sparkler:block_somebody">Block somebody</label>

        <div class="flex gap-2">
            <input
                name="sparkler:block_somebody"
                id="sparkler:block_somebody"
                placeholder="username"
            />

            <button type="button" onclick="block_dialog()">
                {{ text "general:form.submit" }}
            </button>
        </div>

        <p class="fade">
            Put the username of somebody you want to block in the input above
            and click "Submit" to add them to your block list.
        </p>

        <b class="heading">{{ text "settings:account.html:label.ips" }}</b>

        <p class="fade subtext">
            Some context is provided to help you remember why you created these
            blocks. The IP of each block will not be shown.
        </p>

        <div class="card">
            <ul style="margin-bottom: 0">
                {% for block in ipblocks %}
                <li>
                    <div
                        class="footernav items-center"
                        style="display: inline-flex"
                    >
                        <button
                            class="gap-2 round"
                            onclick="document.getElementById('blockcontext:{{ block.id }}').showModal()"
                        >
                            {{ icon "ellipsis" }} {{ text
                            "settings:account.html:text.context" }}
                        </button>

                        <dialog id="blockcontext:{{ block.id }}">
                            <div class="inner" style="min-height: 250px">
                                <div
                                    class="w-full flex justify-between items-center gap-2"
                                >
                                    <b
                                        >{{ text
                                        "settings:account.html:text.context"
                                        }}</b
                                    >
                                    <div class="flex gap-2">
                                        <button
                                            class="bold red camo icon-only"
                                            onclick="document.getElementById('blockcontext:{{ block.id }}').close()"
                                            type="button"
                                            title="Close"
                                        >
                                            {{ icon "x" }}
                                        </button>
                                    </div>
                                </div>

                                <hr class="flipped" />
                                <span>{{ block.context }}</span>
                            </div>
                        </dialog>

                        <span class="item fade"
                            >{{ text "settings:account.html:text.blocked" }}
                            <span class="date"
                                >{{ block.timestamp }}</span
                            ></span
                        >

                        <span class="item">
                            <a
                                href="javascript:remove_ipblock('{{ block.id }}')"
                            >
                                {{ text "settings:account.html:action.unblock"
                                }}
                            </a>
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        (() => {
            setTimeout(async () => {
                if (window.location.search === "?note") {
                    document.getElementById("set_note_dialog").showModal();
                } else if (window.location.search === "?note_clear") {
                    if (
                        !(await trigger("app:confirm", [
                            "Are you sure you would like to clear your current status?",
                        ]))
                    ) {
                        window.close();
                        return;
                    }

                    // clear values
                    update_kv("sparkler:status_note", "");
                    update_kv("sparkler:status_emoji", "");

                    // save
                    globalThis.save_settings().then(() => window.close());
                } else if (window.location.search === "?signature") {
                    document.getElementById("set_signature_dialog").showModal();
                }
            }, 250);

            globalThis.block_dialog = function () {
                // show confirmation
                document.getElementById("block_dialog").showModal();
            };

            globalThis.block = function () {
                const username = document.getElementById(
                    "sparkler:block_somebody",
                ).value;

                fetch(`/api/v0/auth/relationships/block/${username}`, {
                    method: "POST",
                })
                    .then((res) => res.json())
                    .then((res) => {
                        trigger("app:toast", [
                            res.success ? "success" : "error",
                            res.success ? "User blocked!" : res.message,
                        ]);

                        window.close();
                    });
            };

            globalThis.remove_relationship = async function (username) {
                if (
                    !(await trigger("app:confirm", [
                        "Are you sure you want to do this?",
                    ]))
                ) {
                    return;
                }

                fetch(`/api/v0/auth/relationships/current/${username}`, {
                    method: "DELETE",
                })
                    .then((res) => res.json())
                    .then((res) => {
                        trigger("app:toast", [
                            res.success ? "success" : "error",
                            res.success ? "Relationship removed!" : res.message,
                        ]);

                        window.close();
                    });
            };

            globalThis.remove_ipblock = async function (id) {
                if (
                    !(await trigger("app:confirm", [
                        "Are you sure you want to do this?",
                    ]))
                ) {
                    return;
                }

                fetch(`/api/v0/auth/ipblocks/${id}`, {
                    method: "DELETE",
                })
                    .then((res) => res.json())
                    .then((res) => {
                        trigger("app:toast", [
                            res.success ? "success" : "error",
                            res.success ? "IP block removed!" : res.message,
                        ]);

                        window.close();
                    });
            };

            // fill block_somebody
            const search = new URLSearchParams(window.location.search);

            if (search.get("block")) {
                setTimeout(() => {
                    document.getElementById("sparkler:block_somebody").value =
                        search.get("block");

                    block_dialog();
                }, 100);
            }
        })();
    </script>
</div>

<dialog id="block_dialog">
    <div class="inner">
        <p>{{ text "settings:account.html:text.confirm_block" }}</p>

        <hr />
        <div class="flex gap-2">
            <button class="primary bold" onclick="block()">
                {{ text "general:dialog.continue" }}
            </button>

            <button
                class="bold"
                onclick="document.getElementById('block_dialog').close(); window.close()"
            >
                {{ text "general:dialog.cancel" }}
            </button>
        </div>
    </div>
</dialog>

<dialog id="set_note_dialog">
    <script
        type="module"
        src="https://unpkg.com/emoji-picker-element@1.22.8/index.js"
    ></script>

    <form class="inner">
        <textarea
            name="sparkler:status_note"
            id="sparkler:status_note"
            onchange="update_kv('sparkler:status_note', event.target.value)"
            placeholder="Tell your friends what you're up to!"
        ></textarea>

        <p class="fade">{{ text "settings:account.html:text.status_note" }}</p>

        <details id="emoji_details">
            <summary class="flex gap-2 items-center">
                <div id="sparkler:status_emoji"></div>
                {{ text "settings:account.html:label.choose_emoji" }}
            </summary>

            <div class="flex gap-2">
                <div class="thread_line"></div>
                <emoji-picker
                    style="
                        --border-radius: var(--radius);
                        --background: var(--color-super-raised);
                        --input-border-radiFus: var(--radius);
                        --input-border-color: var(--color-primary);
                        --indicator-color: var(--color-primary);
                        --emoji-padding: 0.5rem;
                        box-shadow: 0 0 4px var(--color-shadow);
                    "
                    class="w-full"
                ></emoji-picker>
            </div>
        </details>
        <script>
            // I'm not making a whole emoji picker for this one thing, sorry
            document
                .querySelector("emoji-picker")
                .addEventListener("emoji-click", (event) => {
                    update_kv("sparkler:status_emoji", event.detail.unicode);
                    document.getElementById("sparkler:status_emoji").innerText =
                        event.detail.unicode;
                    document
                        .getElementById("emoji_details")
                        .removeAttribute("open");
                });

            setTimeout(() => {
                document.getElementById("sparkler:status_emoji").innerText =
                    document.getElementById("sparkler:status_emoji").value ||
                    "💭";
            }, 100);
        </script>

        <p class="fade">{{ text "settings:account.html:text.status_emoji" }}</p>

        <hr />
        <div class="flex gap-2">
            <button
                class="primary bold"
                onclick="globalThis.save_settings().then(() => window.close())"
            >
                {{ text "general:dialog.continue" }}
            </button>

            <button
                class="bold"
                onclick="document.getElementById('set_note_dialog').close(); window.close()"
                type="button"
            >
                {{ text "general:dialog.cancel" }}
            </button>
        </div>
    </form>
</dialog>

<dialog id="set_signature_dialog">
    <div class="inner">
        <textarea
            name="sparkler:mail_signature"
            id="sparkler:mail_signature"
            onchange="update_kv('sparkler:mail_signature', event.target.value)"
        ></textarea>

        <p class="fade">{{ text "settings:account.html:text.signature" }}</p>

        <hr />
        <div class="flex gap-2">
            <button
                class="primary bold"
                onclick="globalThis.save_settings().then(() => window.close())"
            >
                {{ text "general:dialog.continue" }}
            </button>
            <button
                class="bold"
                onclick="document.getElementById('set_signature_dialog').close(); window.close()"
                type="button"
            >
                {{ text "general:dialog.cancel" }}
            </button>
        </div>
    </div>
</dialog>

{% let profile = profile.as_ref().unwrap() %}

<script>
    (() => {
        globalThis.update_theme = (theme) => {
            window.localStorage.setItem("theme", theme);
            document.documentElement.setAttribute("class", theme);
        };

        globalThis.update_theme_preference = (pref) => {
            window.localStorage.setItem("theme-pref", pref);
        };

        // fill current theme
        const current = window.localStorage.getItem("theme");

        if (document.getElementById(current)) {
            document.getElementById(current).setAttribute("selected", "true");
        }

        // fill current theme preference
        const pref = window.localStorage.getItem("theme-pref");

        if (document.getElementById(pref)) {
            document.getElementById(pref).setAttribute("selected", "true");
        }

        // fill extras
        if (window.localStorage.getItem("clear_notifs") === "true") {
            document
                .getElementById("sparkler:clear_notifs")
                .setAttribute("checked", "true");
        }

        if (window.localStorage.getItem("clear_all_notifs") === "true") {
            document
                .getElementById("sparkler:clear_all_notifs")
                .setAttribute("checked", "true");
        }

        // change username
        document
            .getElementById("change_username")
            .addEventListener("submit", (e) => {
                e.preventDefault();
                fetch("/api/v0/auth/profile/{{ profile.id }}/username", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        password: e.target.current_password_username.value,
                        new_name: e.target.new_name.value,
                    }),
                })
                    .then((res) => res.json())
                    .then((res) => {
                        trigger("app:shout", [
                            res.success ? "tip" : "caution",
                            res.message || "Username changed!",
                        ]);

                        window.location.href = "#top";
                        e.target.reset();
                    });
            });

        // change password
        document
            .getElementById("change_password")
            .addEventListener("submit", (e) => {
                e.preventDefault();
                fetch("/api/v0/auth/profile/{{ profile.id }}/password", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        password: e.target.current_password.value,
                        new_password: e.target.new_password.value,
                    }),
                })
                    .then((res) => res.json())
                    .then((res) => {
                        trigger("app:shout", [
                            res.success ? "tip" : "caution",
                            res.message || "Password changed!",
                        ]);

                        window.location.href = "#top";
                        e.target.reset();
                    });
            });

        // delete account
        document
            .getElementById("delete_account")
            .addEventListener("submit", async (e) => {
                e.preventDefault();

                if (
                    !(await trigger("app:confirm", [
                        "Are you 100% sure you want to do this?",
                    ]))
                ) {
                    return;
                }

                fetch("/api/v0/auth/me/delete", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        password: e.target.current_password_delete.value,
                    }),
                })
                    .then((res) => res.json())
                    .then((res) => {
                        trigger("app:shout", [
                            res.success ? "tip" : "caution",
                            res.message || "Profile deleted, goodbye!",
                        ]);

                        window.location.href = "#top";
                        window.localStorage.removeItem("me");
                        e.target.reset();
                    });
            });
    })();
</script>
{% call super() %} {% endblock %}
