{% extends "../base.html" %} {% block title %}Settings - {{ config.name }}{%
endblock %} {% block nav_left %}
<a class="button" href="/" title="Timeline">
    {{ icon "house" }}
    <span class="desktop">{{ text "general:link.timeline" }}</span>
    <span class="mobile">{{ text "general:link.home" }}</span>
</a>

<a class="button" href="/inbox" title="My inbox">
    {{ icon "inbox" }}
    <span class="flex items-center gap-2">
        <span>{{ text "general:link.inbox" }}</span>
        {% if unread != 0 %}
        <span class="notification tr">{{ unread }}</span>
        {% endif %}
    </span>
</a>
{% endblock %} {% block nav_right %}
<a class="button" href="/inbox/notifications" title="My notifications">
    {{ icon "bell" }} {% if notifs != 0 %}
    <span class="notification tr">{{ notifs }}</span>
    {% endif %}
</a>
{% endblock %} {% block content %} {% if let Some(profile) = profile %} {% let
other = user.clone() %} {% if profile.username == other.username %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% endif %}
<style>
    label:not(.checkbox_container *):not(dialog *),
    .setting {
        text-transform: uppercase;
        opacity: 75%;
        font-weight: 700;
        font-size: 14px;
    }

    .heading {
        text-transform: title;
        font-weight: 700;
        opacity: 100%;
    }

    label + * + p.fade,
    p.fade.subtext {
        font-size: 13px;
    }

    .title:not(:first-of-type):not(.inner *) {
        margin-top: 2rem;
    }
</style>

<article class="flex flex-collapse gap-2">
    <div
        id="settings_nav"
        class="flex flex-col gap-4 sm:static sm:w-full"
        style="
            width: 20rem;
            padding-top: 0;
            height: max-content;
            top: calc(64px + 0.5rem);
            position: sticky;
        "
    >
        <div class="sidenav">
            {% block sidenav %}{% endblock %}
            <a href="/@{{ user.username }}/layout">
                {{ icon "layout-template" }} {{ text
                "profile:base.html:link.layout" }}
            </a>
        </div>
    </div>

    <section id="settings_content" class="card flex flex-col gap-2 w-full">
        {% if viewing_other_profile %}
        <div class="markdown-alert-warning">
            <span>
                These are not your user settings.
                <b
                    >Attempting to delete the account through this page will
                    delete your account</b
                >!
            </span>
        </div>
        {% endif %}

        <div id="admonition_zone"></div>
        {% block panel %}{% endblock %}
    </section>
</article>

<!-- prettier-ignore -->
<script type="application/json" id="my_metadata">{{ metadata|safe }}</script>

<script>
    (() => {
        const app = ns("app");
        let metadata = JSON.parse(
            document
                .getElementById("my_metadata")
                .innerText.replaceAll("\n", "\\n"),
        );

        // handle update
        globalThis.update_kv = (key, value) => {
            metadata.kv[key] = value;
            save_settings(); // auto save

            // live theme
            if (key.startsWith("sparkler:color_")) {
                const real_key = key.replace("sparkler:", "");
                const css_var = real_key.replaceAll("_", "-");
                value = value
                    .replaceAll(";", "")
                    .replaceAll("}", "")
                    .replaceAll("<", "%lt;")
                    .replaceAll(">", "%gt;");

                // check for existing stylesheet
                const existing = document.getElementById(
                    `sparkler_live:${real_key}`,
                );

                if (existing) {
                    if (value === "") {
                        // use default
                        existing.remove();
                        return;
                    }

                    existing.innerHTML = `:root, * { --${css_var}: ${value} !important }`;
                } else {
                    const stylesheets = document.getElementById("stylesheets");
                    const stylesheet = document.createElement("style");
                    stylesheet.id = `sparkler_live:${real_key}`;
                    stylesheet.innerHTML = `:root, * { --${css_var}: ${value} !important }`;
                    stylesheets.appendChild(stylesheet);
                }
            }
        };

        // handle colors
        globalThis.link_color = (id, color) => {
            document.getElementById(id).value = color;
            update_kv(id, color);
        };

        // prefill
        setTimeout(() => {
            for (const [key, value] of Object.entries(metadata.kv)) {
                if (key.length === 0) {
                    continue;
                }

                if (document.getElementById(key)) {
                    document.getElementById(key).value = value;

                    if (value === "true") {
                        document
                            .getElementById(key)
                            .setAttribute("checked", "true");
                    }
                }
            }

            for (let [key, value] of Object.entries(window.localStorage)) {
                if (key.length === 0) {
                    continue;
                }

                key = `sparkler:${key}`;
                if (document.getElementById(key)) {
                    document.getElementById(key).value = value;

                    if (value === "true") {
                        document
                            .getElementById(key)
                            .setAttribute("checked", "true");
                    }
                }
            }
        }, 50);

        // handle submit
        globalThis.save_settings = async () => {
            await app.debounce("settings:save_settings");
            const res = await (
                await fetch("/api/v0/auth/profile/{{ user.id }}/metadata", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        metadata,
                    }),
                })
            ).json();

            trigger("app::toast", [
                res.success ? "success" : "error",
                res.success ? "Settings saved!" : res.message,
            ]);
        };
    })();
</script>
{% call super() %} {% endblock %}
