{% extends "base.html" %} {% block sidenav %}
<a href="/settings">{{ text "settings:link.account" }}</a>
<a href="/settings/sessions">{{ text "settings:link.sessions" }}</a>
<a href="/settings/profile">{{ text "settings:link.profile" }}</a>
<a href="/settings/privacy">{{ text "settings:link.privacy" }}</a>
<a class="active" href="/settings/coins">{{ text "settings:link.coins" }}</a>
{% endblock %} {% block panel %}
<div class="flex flex-col gap-4">
    <div class="pillmenu convertible true">
        <a href="#/balance" class="active" data-tab-button="balance"
            ><span>{{ text "settings:coins.html:title.balance" }}</span></a
        >

        <a href="#/transactions" data-tab-button="transactions"
            ><span>{{ text "settings:coins.html:title.transactions" }}</span></a
        >
    </div>

    <!-- balance -->
    {% if let Some(user) = profile %}
    <div data-tab="balance" class="flex flex-col gap-4">
        <div class="w-full flex justify-between gap-2">
            <div></div>

            <a href="#/transactions" class="button bold">
                {{ icon "wallet" }} <span>{{ user.coins }}</span>
            </a>
        </div>

        <div class="card secondary flex flex-col gap-2">
            <b>{{ text "general:text.coming_soon" }}</b>
            <a
                href="/market"
                class="card w-full flex justify-between items-center gap-2"
                disabled
            >
                <div class="flex gap-2 items-center">
                    {{ icon "store" }}
                    <span>
                        {{ text "settings:coins.html:text.browse_market" }}
                    </span>
                </div>

                <button class="primary icon-only small">
                    {{ icon "chevron-right" }}
                </button>
            </a>

            <a
                href="/market/new?type=UserTheme"
                class="card w-full flex justify-between items-center gap-2"
                disabled
            >
                <div class="flex gap-2 items-center">
                    {{ icon "badge-plus" }}

                    <span>
                        {{ text "settings:coins.html:text.publish_theme" }}
                    </span>
                </div>

                <button class="primary icon-only small">
                    {{ icon "chevron-right" }}
                </button>
            </a>
        </div>
    </div>
    {% endif %}

    <!-- transactions -->
    <div
        class="flex flex-col gap-1 hidden"
        style="overflow: auto"
        data-tab="transactions"
    >
        <table>
            <thead>
                <tr>
                    <th>{{ text "settings:coins.html:label.amount" }}</th>
                    <th>{{ text "settings:coins.html:label.customer" }}</th>
                    <th>{{ text "settings:coins.html:label.merchant" }}</th>
                </tr>
            </thead>

            <!-- prettier-ignore -->
            <tbody>
                {% for ((transaction, _), customer, merchant) in transactions %}
                <tr id="transaction:{{ transaction.id }}">
                    <td>{{ transaction.amount }}</td>
                    <td><a href="/@{{ customer.username }}">{{ customer.username }}</a></td>
                    <td><a href="/@{{ merchant.username }}">{{ merchant.username }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- pagination buttons -->
        <div class="flex justify-between gap-2 w-full">
            {% if page > 0 %}
            <a class="button" href="?page={{ page - 1 }}"
                >{{ text "general:link.previous" }}</a
            >
            {% else %}
            <div></div>
            {% endif %} {% if transactions.len() != 0 %}
            <a class="button" href="?page={{ page + 1 }}"
                >{{ text "general:link.next" }}</a
            >
            {% endif %}
        </div>
    </div>
</div>
{% call super() %} {% endblock %}
