{% extends "base.html" %} {% block sidenav %}
<a href="/settings?profile={{ user.id }}">{{ text "settings:link.account" }}</a>
<a href="/settings/sessions?profile={{ user.id }}"
    >{{ text "settings:link.sessions" }}</a
>
<a href="/settings/profile?profile={{ user.id }}"
    >{{ text "settings:link.profile" }}</a
>
<a class="active" href="/settings/privacy?profile={{ user.id }}"
    >{{ text "settings:link.privacy" }}</a
>
<a href="/settings/coins?profile={{ user.id }}"
    >{{ text "settings:link.coins" }}</a
>
{% endblock %} {% block panel %}
<!-- prettier-ignore -->
{% include "components/privacy_options.html" %}
{% call super() %} {% endblock %}
