{% extends "base.html" %} {% block sidenav %}
<a href="/settings">{{ text "settings:link.account" }}</a>
<a href="/settings/sessions">{{ text "settings:link.sessions" }}</a>
<a class="active" href="/settings/profile"
    >{{ text "settings:link.profile" }}</a
>
<a href="/settings/privacy">{{ text "settings:link.privacy" }}</a>
<a href="/settings/coins">{{ text "settings:link.coins" }}</a>
{% endblock %} {% block panel %}
<!-- prettier-ignore -->
{% include "components/profile_options.html" %}
{% call super() %} {% endblock %}
