{% extends "base.html" %} {% block sidenav %}
<a href="/settings?profile={{ user.id }}"
    >{{ icon "heart" }}{{ text "settings:link.account" }}</a
>
<a href="/settings/sessions?profile={{ user.id }}"
    >{{ icon "cookie" }}{{ text "settings:link.sessions" }}</a
>
<a class="active" href="/settings/profile?profile={{ user.id }}"
    >{{ icon "user-round-pen" }}{{ text "settings:link.profile" }}</a
>
<a href="/settings/theme?profile={{ user.id }}"
    >{{ icon "palette" }}{{ text "settings:link.theme" }}</a
>
<a href="/settings/privacy?profile={{ user.id }}"
    >{{ icon "lock" }}{{ text "settings:link.privacy" }}</a
>
<a href="/settings/coins?profile={{ user.id }}"
    >{{ icon "store" }}{{ text "settings:link.coins" }}</a
>
{% endblock %} {% block panel %}
<!-- prettier-ignore -->
{% include "components/profile_options.html" %}
{% call super() %} {% endblock %}
