{% extends "base.html" %} {% block sidenav %}
<a href="/settings">{{ text "settings:link.account" }}</a>
<a class="active" href="/settings/sessions"
    >{{ text "settings:link.sessions" }}</a
>
<a href="/settings/profile">{{ text "settings:link.profile" }}</a>
<a href="/settings/privacy">{{ text "settings:link.privacy" }}</a>
{% endblock %} {% block panel %}
<div class="flex flex-col gap-4">
    <div
        class="flex flex-col gap-1"
        id="manage_sessions"
        style="overflow: auto"
    >
        <h4 class="title">My Sessions</h4>

        <table>
            <thead>
                <tr>
                    <th>Tag</th>
                    <th>IP</th>
                    <th>App</th>
                    <th>Permissions</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <!-- prettier-ignore -->
            <tbody>
                {% for (i, session) in tokens_src.iter().enumerate() %}
                <tr id="session:{{ session }}" title="{{ session[..10] }}">
                    <td style="white-space: nowrap">
                        {% if current_session == session.to_owned() %}
                        <span class="notification marker">Active</span>
                        {% else %}
                        <span class="tag">None</span>
                        {% endif %}
                    </td>

                    {% if let Some(profile) = profile %}
                    {% if let Some(ip) = profile.ips.get(i.to_owned()) %}
                    <td style="white-space: nowrap">
                        {% if ip.is_empty() %}
                        <span class="tag">None</span>
                        {% else %}
                        {{ ip }}
                        {% endif %}
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}

                    {% if let Some(ctx) = profile.token_context.get(i.to_owned()) %}
                    <td style="white-space: nowrap">
                        {% let name = ctx.app_name() %}
                        {% if name.is_empty() %}
                        <span class="tag">None</span>
                        {% else %}
                        {{ name }}
                        {% endif %}
                    </td>
                    {% else %}
                    <td style="white-space: nowrap">
                        <span class="tag">None</span>
                    </td>
                    {% endif %}

                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}

                    {% if let Some(profile) = profile %}
                    {% if let Some(ctx) = profile.token_context.get(i.to_owned()) %}
                    {% if let Some(permissions) = ctx.permissions %}
                    <td style="white-space: nowrap">
                        {% if permissions.is_empty() %}
                        <span class="tag">None</span>
                        {% else %}
                        <ul>
                            {% for permission in permissions %}
                            <li>
                                {{ serde_json::to_string(permission).unwrap() }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                    {% else %}
                    <td style="white-space: nowrap">
                        <span class="tag">All</span>
                    </td>
                    {% endif %}

                    {% else %}
                    <td></td>
                    {% endif %}

                    {% else %}
                    <td></td>
                    {% endif %}

                    <td>
                        <a href="javascript:remove_session('{{ session }}')"
                            >Delete</a
                        >
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="application/json" id="tokens">
    {{ tokens|safe }}
</script>

<script>
    (() => {
        const tokens = JSON.parse(document.getElementById("tokens").innerText);

        globalThis.remove_session = async (id) => {
            if (
                !(await trigger("app:confirm", [
                    "Are you sure you want to do this?",
                ]))
            ) {
                return;
            }

            tokens.splice(tokens.indexOf(id), 1);
            document.getElementById(`session:${id}`).remove();
            globalThis.save_sessions();
        };

        globalThis.save_sessions = async () => {
            const res = await (
                await fetch("/api/v0/auth/me/tokens", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        tokens,
                    }),
                })
            ).json();

            trigger("app:toast", [
                res.success ? "success" : "error",
                res.success ? "Sessions saved!" : res.message,
            ]);
        };
    })();
</script>
{% call super() %} {% endblock %}
