{% extends "base.html" %} {% block sidenav %}
<a href="/settings?profile={{ user.id }}"
    >{{ icon "smile" }}{{ text "settings:link.account" }}</a
>
<a class="active" href="/settings/sessions?profile={{ user.id }}"
    >{{ icon "cookie" }}{{ text "settings:link.sessions" }}</a
>
<a href="/settings/profile?profile={{ user.id }}"
    >{{ icon "user-round-pen" }}{{ text "settings:link.profile" }}</a
>
<a href="/settings/privacy?profile={{ user.id }}"
    >{{ icon "lock" }}{{ text "settings:link.privacy" }}</a
>
<a href="/settings/coins?profile={{ user.id }}"
    >{{ icon "store" }}{{ text "settings:link.coins" }}</a
>
{% endblock %} {% block panel %}
<div class="flex flex-col gap-4">
    <div
        class="flex flex-col gap-1"
        id="manage_sessions"
        style="overflow: auto"
    >
        <h4 class="title">
            {{ text "settings:sessions.html:title.sessions" }}
        </h4>

        <table>
            <thead>
                <tr>
                    <th>{{ text "settings:sessions.html:label.tag" }}</th>
                    <th>IP</th>
                    <th>{{ text "settings:sessions.html:label.app" }}</th>
                    <th>{{ text "settings:sessions.html:label.created" }}</th>
                    <th>
                        {{ text "settings:sessions.html:label.permissions" }}
                    </th>
                    <th>{{ text "settings:sessions.html:label.actions" }}</th>
                </tr>
            </thead>

            <!-- prettier-ignore -->
            <tbody>
                {% for (i, session) in tokens_src.iter().enumerate() %}
                <tr id="session:{{ session }}" title="{{ session[..10] }}">
                    <td style="white-space: nowrap">
                        {% if current_session == session.to_owned() %}
                        <span class="notification marker">{{ text "settings:sessions.html:text.active" }}</span>
                        {% else %}
                        <span class="tag">{{ text "settings:sessions.html:text.none" }}</span>
                        {% endif %}
                    </td>

                    {% if let Some(ip) = user.ips.get(i.to_owned()) %}
                    <td style="white-space: nowrap">
                        {% if ip.is_empty() %}
                        <span class="tag">{{ text "settings:sessions.html:text.none" }}</span>
                        {% else %}
                        {{ ip }}
                        {% endif %}
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}

                    {% if let Some(ctx) = user.token_context.get(i.to_owned()) %}
                    <td style="white-space: nowrap">
                        {% let name = ctx.app_name() %}
                        {% if name.is_empty() %}
                        <span class="tag">{{ text "settings:sessions.html:text.none" }}</span>
                        {% else %}
                        {{ name }}
                        {% endif %}
                    </td>

                    <td style="white-space: nowrap">
                        <span class="tag date">{{ ctx.timestamp }}</span>
                    </td>
                    {% else %}
                    <td style="white-space: nowrap">
                        <span class="tag">{{ text "settings:sessions.html:text.none" }}</span>
                    </td>

                    <td style="white-space: nowrap">
                        <span class="tag">{{ text "settings:sessions.html:text.none" }}</span>
                    </td>
                    {% endif %}

                    {% if let Some(ctx) = user.token_context.get(i.to_owned()) %}
                    {% if let Some(permissions) = ctx.permissions %}
                    <td style="white-space: nowrap">
                        {% if permissions.is_empty() %}
                        <span class="tag">{{ text "settings:sessions.html:text.none" }}</span>
                        {% else %}
                        <ul>
                            {% for permission in permissions %}
                            <li>
                                {{ serde_json::to_string(permission).unwrap() }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                    {% else %}
                    <td style="white-space: nowrap">
                        <span class="tag">{{ text "settings:sessions.html:text.all" }}</span>
                    </td>
                    {% endif %}

                    {% else %}
                    <td></td>
                    {% endif %}

                    <td>
                        <a href="javascript:remove_session('{{ session }}')"
                            >{{ text "general:action.delete" }}</a
                        >
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="application/json" id="tokens">
    {{ tokens|safe }}
</script>

<script>
    (() => {
        const tokens = JSON.parse(document.getElementById("tokens").innerText);

        globalThis.remove_session = async (id) => {
            if (
                !(await trigger("app:confirm", [
                    "Are you sure you want to do this?",
                ]))
            ) {
                return;
            }

            tokens.splice(tokens.indexOf(id), 1);
            document.getElementById(`session:${id}`).remove();
            globalThis.save_sessions();
        };

        globalThis.save_sessions = async () => {
            const res = await (
                await fetch("/api/v0/auth/me/tokens", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        tokens,
                    }),
                })
            ).json();

            trigger("app:toast", [
                res.success ? "success" : "error",
                res.success ? "Sessions saved!" : res.message,
            ]);
        };
    })();
</script>
{% call super() %} {% endblock %}
