{% extends "base.html" %} {% block sidenav %}
<a href="/settings">Account</a>
<a href="/settings/sessions">Sessions</a>
<a href="/settings/profile">Profile</a>
<a href="/settings/privacy">Privacy</a>
{% endblock %} {% block app_sidenav %}
<a href="/settings/system" class="active">System</a>
{% endblock %} {% block panel %}
<div class="flex flex-col gap-4">
    <div class="flex flex-col gap-1" id="manage_sessions">
        <h4 class="title">System Settings</h4>
        <!-- system notifications, etc. all ipc posts -->
    </div>
</div>
{% call super() %} {% endblock %}
