{% extends "base.html" %} {% block title %}{{ config.name }}{% endblock %} {%
block head %}
<meta name="description" content="{{ config.description }}" />
{% endblock %} {% block nav_left %} {% if profile.is_some() %}
<a class="button" href="/" title="Timeline">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="18"
        height="18"
        aria-label="Home symbol"
        class="icon"
    >
        <path
            d="M12.97 2.59a1.5 1.5 0 0 0-1.94 0l-7.5 6.363A1.5 1.5 0 0 0 3 10.097V19.5A1.5 1.5 0 0 0 4.5 21h4.75a.75.75 0 0 0 .75-.75V14h4v6.25c0 .414.336.75.75.75h4.75a1.5 1.5 0 0 0 1.5-1.5v-9.403a1.5 1.5 0 0 0-.53-1.144l-7.5-6.363Z"
        ></path>
    </svg>
    <span class="desktop">Timeline</span>
    <span class="mobile">Home</span>
</a>

<a class="button" href="/inbox" title="My inbox">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        width="16"
        height="16"
        aria-label="Inbox symbol"
        class="icon"
    >
        <path
            d="M2.8 2.06A1.75 1.75 0 0 1 4.41 1h7.18c.7 0 1.333.417 1.61 1.06l2.74 6.395c.04.093.06.194.06.295v4.5A1.75 1.75 0 0 1 14.25 15H1.75A1.75 1.75 0 0 1 0 13.25v-4.5c0-.101.02-.202.06-.295Zm1.61.44a.25.25 0 0 0-.23.152L1.887 8H4.75a.75.75 0 0 1 .6.3L6.625 10h2.75l1.275-1.7a.75.75 0 0 1 .6-.3h2.863L11.82 2.652a.25.25 0 0 0-.23-.152Zm10.09 7h-2.875l-1.275 1.7a.75.75 0 0 1-.6.3h-3.5a.75.75 0 0 1-.6-.3L4.375 9.5H1.5v3.75c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25Z"
        ></path>
    </svg>
    <span>Inbox</span>
    {% if unread != 0 %}
    <span class="notification tr">{{ unread }}</span>
    {% endif %}
</a>
{% endif %} {% endblock %} {% block nav_right %} {% if profile.is_some() %}
<a class="button" href="/inbox/notifications" title="My notifications">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        width="16"
        height="16"
        aria-label="Bell symbol"
        class="icon"
    >
        <path
            d="M8 16a2 2 0 0 0 1.985-1.75c.017-.137-.097-.25-.235-.25h-3.5c-.138 0-.252.113-.235.25A2 2 0 0 0 8 16ZM3 5a5 5 0 0 1 10 0v2.947c0 .05.015.098.042.139l1.703 2.555A1.519 1.519 0 0 1 13.482 13H2.518a1.516 1.516 0 0 1-1.263-2.36l1.703-2.554A.255.255 0 0 0 3 7.947Zm5-3.5A3.5 3.5 0 0 0 4.5 5v2.947c0 .346-.102.683-.294.97l-1.703 2.556a.017.017 0 0 0-.003.01l.001.006c0 .002.002.004.004.006l.006.004.007.001h10.964l.007-.001.006-.004.004-.006.001-.007a.017.017 0 0 0-.003-.01l-1.703-2.554a1.745 1.745 0 0 1-.294-.97V5A3.5 3.5 0 0 0 8 1.5Z"
        ></path>
    </svg>
    {% if notifs != 0 %}
    <span class="notification tr">{{ notifs }}</span>
    {% endif %}
</a>
{% endif %} {% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-2">
        <!-- question -->
        <div
            class="{% if !already_responded %}card-nest{% endif %} w-full shadow"
            id="question:{{ question.id }}"
        >
            <div
                class="{% if already_responded %}secondary{% endif %} card flex flex-col gap-1"
            >
                <div
                    class="flex items-center justify-between gap-1 question_title"
                >
                    <div class="footernav">
                        <b class="flex items-center gap-2 item">
                            <img
                                title="{{ question.author.username }}'s avatar"
                                src="/api/v1/profiles/{{ question.author.username }}/avatar"
                                alt=""
                                class="avatar"
                                style="--size: 20px"
                            />

                            <!-- prettier-ignore -->
                            {% let author_tag = crate::database::Database::anonymous_tag(question.author.username.as_ref()) %}
                            {% if author_tag.0 == false %}
                            <a
                                href="/@{{ question.author.username }}"
                                style="color: inherit"
                            >
                                {{ question.author.username }}
                            </a>
                            {% else %} {{ question.author.username }} {% endif
                            %}
                        </b>

                        <span class="date item">{{ question.timestamp }}</span>
                    </div>

                    <!-- prettier-ignore -->
                    {% if let Some(profile) = profile %}
                    <!-- stuff for only the question author -->
                    <div class="dropdown">
                        <button
                            onclick="trigger('app:hook.dropdown', [event])"
                            exclude="dropdown"
                            class="camo"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 16 16"
                                width="16"
                                height="16"
                                aria-label="Ellipsis symbol"
                                class="icon"
                            >
                                <path
                                    d="M8 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM1.5 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm13 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                                ></path>
                            </svg>
                        </button>

                        <div
                            class="inner shadow-md w-content"
                            exclude="dropdown"
                        >
                            {% if profile.id == question.author.id %}
                            <b class="title">Manage</b>
                            <a
                                href="#"
                                onclick="trigger('questions:delete', ['{{ question.id }}'])"
                                class="red"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 16 16"
                                    width="16"
                                    height="16"
                                    aria-label="Trash symbol"
                                    class="icon"
                                >
                                    <path
                                        d="M11 1.75V3h2.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75ZM4.496 6.675l.66 6.6a.25.25 0 0 0 .249.225h5.19a.25.25 0 0 0 .249-.225l.66-6.6a.75.75 0 0 1 1.492.149l-.66 6.6A1.748 1.748 0 0 1 10.595 15h-5.19a1.75 1.75 0 0 1-1.741-1.575l-.66-6.6a.75.75 0 1 1 1.492-.15ZM6.5 1.75V3h3V1.75a.25.25 0 0 0-.25-.25h-2.5a.25.25 0 0 0-.25.25Z"
                                    ></path>
                                </svg>
                                Delete
                            </a>
                            {% else if is_helper == true %}
                            <b class="title">Mod</b>
                            <a
                                href="#"
                                onclick="trigger('questions:delete', ['{{ question.id }}'])"
                                class="red"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 16 16"
                                    width="16"
                                    height="16"
                                    aria-label="Trash symbol"
                                    class="icon"
                                >
                                    <path
                                        d="M11 1.75V3h2.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75ZM4.496 6.675l.66 6.6a.25.25 0 0 0 .249.225h5.19a.25.25 0 0 0 .249-.225l.66-6.6a.75.75 0 0 1 1.492.149l-.66 6.6A1.748 1.748 0 0 1 10.595 15h-5.19a1.75 1.75 0 0 1-1.741-1.575l-.66-6.6a.75.75 0 1 1 1.492-.15ZM6.5 1.75V3h3V1.75a.25.25 0 0 0-.25-.25h-2.5a.25.25 0 0 0-.25.25Z"
                                    ></path>
                                </svg>
                                Delete
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>

                <!-- prettier-ignore -->
                <span class="question_content">
                    {{ shared::ui::render_markdown(question.content)|safe }}
                </span>

                {% if is_powerful %}
                <span class="question_ip card shadow round">
                    <a href="/+i/{{ question.ip }}">{{ question.ip }}</a>
                </span>
                {% endif %}
            </div>

            {% if !already_responded %}
            <div class="card">
                <form
                    class="flex flex-col gap-2"
                    onsubmit="respond(event, '{{ question.id }}')"
                >
                    {% if let Some(profile) = profile %}
                    <textarea
                        class="w-full"
                        placeholder="Type your response!"
                        minlength="1"
                        maxlength="{% if profile.tier >= config.tiers.double_limits %}8192{% else %}4096{% endif %}"
                        required
                        name="content"
                        id="content"
                        hook="counter"
                    ></textarea>
                    {% else %}
                    <textarea
                        class="w-full"
                        placeholder="Type your response!"
                        minlength="1"
                        maxlength="4096"
                        required
                        name="content"
                        id="content"
                        hook="counter"
                    ></textarea>
                    {% endif %}

                    <div class="flex justify-between w-full gap-1">
                        <span
                            id="content:counter"
                            class="notification item"
                        ></span>
                        <button class="primary bold">Submit</button>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>

        {% if already_responded %}
        <p class="fade">You've already responded to this question!</p>
        {% endif %}

        <hr />
        <h5 id="reactions">Reactions</h5>
        <div id="reactions" class="flex gap-2 flex-wrap w-full">
            {% for reaction in reactions %}
            <a href="/@{{ reaction.user.username }}">
                <img
                    title="{{ reaction.user.username }}'s avatar"
                    src="/api/v1/profiles/{{ reaction.user.username }}/avatar"
                    alt="@{{ reaction.user.username }}"
                    class="avatar"
                    style="--size: 20px"
                />
            </a>
            {% endfor %}
        </div>

        <hr />
        <h5 id="comments">Responses</h5>
        <div id="feed" class="flex flex-col gap-2">
            <!-- prettier-ignore -->
            {% for response in responses %}
                {% let is_pinned = false %}
                {% let show_pin_button = false %}
                {% let do_not_render_question = true %}
                {% let anonymous_username = Some("anonymous") %}
                {% let anonymous_avatar = Some("") %}
                {% let show_comments = true %}
                {% let do_render_nested = true %}
                {% include "components/response.html" %}
            {% endfor %}
        </div>
    </main>
</article>

<script>
    function respond(e, question) {
        e.preventDefault();
        fetch("/api/v1/responses", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                question,
                content: e.target.content.value,
            }),
        })
            .then((res) => res.json())
            .then((res) => {
                trigger("app:shout", [
                    res.success ? "tip" : "caution",
                    res.message || "Response posted!",
                ]);

                document
                    .getElementById(`question:${question}`)
                    .setAttribute("disabled", "fully");

                if (res.success === true) {
                    e.target.reset();
                    document
                        .getElementById(`question:${question}`)
                        .removeAttribute("disabled");
                }
            });
    }
</script>

{% if let Some(profile) = profile %} {% let other = profile.clone() %} {% if
profile.username == other.username %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% endif %} {% call super() %} {% endblock %}
