{% extends "base.html" %} {% block title %}{{ config.name }}{% endblock %} {%
block head %}
<meta name="description" content="{{ config.description }}" />
{% endblock %} {% block nav_left %} {% if profile.is_some() %}
<a class="button" href="/" title="Timeline">
    {{ icon "house" }}
    <span class="desktop">{{ lang.get("general:links.home") }}</span>
    <span class="mobile">{{ lang.get("general:links.home") }}</span>
</a>

<a class="button" href="/inbox" title="My inbox">
    {{ icon "inbox" }}
    <span class="flex items-center gap-2">
        <span>{{ lang.get("general:links.inbox") }}</span>
        {% if unread != 0 %}
        <span class="notification tr">{{ unread }}</span>
        {% endif %}
    </span>
</a>
{% endif %} {% endblock %} {% block nav_right %} {% if profile.is_some() %}
<a class="button" href="/inbox/notifications" title="My notifications">
    {{ icon "bell" }}
    {% if notifs != 0 %}
    <span class="notification tr">{{ notifs }}</span>
    {% endif %}
</a>
{% endif %} {% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-2">
        <!-- question -->
        <div
            class="{% if !already_responded %}card-nest{% endif %} w-full shadow"
            id="question:{{ question.id }}"
        >
            <div
                class="{% if already_responded %}secondary{% endif %} card flex flex-col gap-1"
            >
                <div
                    class="flex items-center justify-between gap-1 question_title"
                >
                    <div class="footernav">
                        <b class="flex items-center gap-2 item">
                            <img
                                title="{{ question.author.username }}'s avatar"
                                src="/api/v0/auth/profile/{{ question.author.id }}/avatar"
                                alt=""
                                class="avatar"
                                loading="lazy"
                                style="--size: 20px"
                            />

                            <!-- prettier-ignore -->
                            {% let author_tag = crate::database::Database::anonymous_tag(question.author.username.as_ref()) %}
                            {% if author_tag.0 == false %}
                            <a
                                href="/@{{ question.author.username }}"
                                style="color: inherit"
                            >
                                {{ question.author.username }}
                            </a>
                            {% else %} {{ question.author.username }} {% endif
                            %}
                        </b>

                        <span class="date item">{{ question.timestamp }}</span>
                    </div>

                    <!-- prettier-ignore -->
                    {% if let Some(profile) = profile %}
                    <!-- stuff for only the question author -->
                    <div class="dropdown">
                        <button
                            onclick="trigger('app:hook.dropdown', [event])"
                            exclude="dropdown"
                            class="camo"
                        >
                            {{ icon "ellipsis" }}
                        </button>

                        <div
                            class="inner shadow-md w-content"
                            exclude="dropdown"
                        >
                            {% if profile.id == question.author.id %}
                            <b class="title">Manage</b>
                            <a
                                href="#"
                                onclick="trigger('questions:delete', ['{{ question.id }}'])"
                                class="red"
                            >
                                {{ icon "trash" }}
                                Delete
                            </a>
                            {% else if is_helper == true %}
                            <b class="title">Mod</b>
                            <a
                                href="#"
                                onclick="trigger('questions:delete', ['{{ question.id }}'])"
                                class="red"
                            >
                                {{ icon "trash" }}
                                Delete
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>

                <!-- prettier-ignore -->
                <span class="question_content">
                    {{ shared::ui::render_markdown(question.content)|safe }}
                </span>
            </div>

            {% if !already_responded %}
            <div class="card">
                <form
                    class="flex flex-col gap-2"
                    onsubmit="respond(event, '{{ question.id }}')"
                >
                    {% if let Some(profile) = profile %}
                    <textarea
                        class="w-full"
                        placeholder="Type your response!"
                        minlength="1"
                        maxlength="{% if profile.tier >= config.tiers.double_limits %}8192{% else %}4096{% endif %}"
                        required
                        name="content"
                        id="content"
                        hook="counter"
                    ></textarea>
                    {% else %}
                    <textarea
                        class="w-full"
                        placeholder="Type your response!"
                        minlength="1"
                        maxlength="4096"
                        required
                        name="content"
                        id="content"
                        hook="counter"
                    ></textarea>
                    {% endif %}

                    <div class="flex justify-between w-full gap-1">
                        <span
                            id="content:counter"
                            class="notification item"
                        ></span>
                        <button class="primary bold">{{ lang.get("general:form.submit") }}</button>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>

        {% if is_powerful %}
        <div class="question_ip card shadow round">
            <a href="/+i/{{ question.ip }}">{{ question.ip }}</a>
        </div>
        {% endif %} {% if already_responded %}
        <p class="fade">You've already responded to this question!</p>
        {% endif %}

        <hr />
        <h5 id="reactions">Reactions</h5>
        <div id="reactions" class="flex gap-2 flex-wrap w-full">
            {% for reaction in reactions %}
            <a href="/@{{ reaction.user.username }}">
                <img
                    title="{{ reaction.user.username }}'s avatar"
                    src="/api/v0/auth/profile/{{ reaction.user.id }}/avatar"
                    alt="@{{ reaction.user.username }}"
                    class="avatar"
                    loading="lazy"
                    style="--size: 20px"
                />
            </a>
            {% endfor %}
        </div>

        <hr />
        <h5 id="comments">Responses</h5>
        <div id="feed" class="flex flex-col gap-2">
            <!-- prettier-ignore -->
            {% for response in responses %}
                {% let is_pinned = false %}
                {% let show_pin_button = false %}
                {% let do_not_render_question = true %}
                {% let anonymous_username = Some("anonymous") %}
                {% let anonymous_avatar = Some("") %}
                {% let show_comments = true %}
                {% let do_render_nested = true %}
                {% include "components/response.html" %}
            {% endfor %}
        </div>
    </main>
</article>

<script>
    function respond(e, question) {
        e.preventDefault();
        fetch("/api/v1/responses", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                question,
                content: e.target.content.value,
            }),
        })
            .then((res) => res.json())
            .then((res) => {
                trigger("app:shout", [
                    res.success ? "tip" : "caution",
                    res.message || "Response posted!",
                ]);

                document
                    .getElementById(`question:${question}`)
                    .setAttribute("disabled", "fully");

                if (res.success === true) {
                    e.target.reset();
                    document
                        .getElementById(`question:${question}`)
                        .removeAttribute("disabled");
                }
            });
    }
</script>

{% if let Some(profile) = profile %} {% let other = profile.clone() %} {% if
profile.username == other.username %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% endif %} {% call super() %} {% endblock %}
