{% extends "base.html" %} {% block title %}{{ config.name }}{% endblock %} {%
block head %}
<meta name="description" content="{{ config.description }}" />
<meta name="og:url" content="{{ config.host }}/response/{{ response.id }}" />

<meta property="og:type" content="website" />
<meta property="profile:username" content="spark" />

<meta
    name="og:image"
    content="{{ config.host }}/api/v0/auth/profile/{{ response.author.id }}/avatar"
/>

<meta
    name="twitter:image"
    content="https://neospring.org/api/v0/auth/profile/{{ response.author.id }}/avatar"
/>

<meta name="twitter:card" content="summary" />

<!-- prettier-ignore -->
<meta name="og:title" content="@{{ response.author.username }} answered: {{ question.content }}" />
<meta
    name="twitter:title"
    content="@{{ response.author.username }} answered: {{ question.content }}"
/>

<meta name="og:description" content="{{ response.content }}" />
<meta name="twitter:description" content="{{ response.content }}" />
{% endblock %} {% block nav_left %} {% if profile.is_some() %}
<a class="button" href="/" title="Timeline">
    {{ icon "house" }}
    <span class="desktop">{{ lang.get("general:link.timeline") }}</span>
    <span class="mobile">{{ lang.get("general:link.home") }}</span>
</a>

<a class="button" href="/inbox" title="My inbox">
    {{ icon "inbox" }}
    <span class="flex items-center gap-2">
        <span>{{ lang.get("general:link.inbox") }}</span>
        {% if unread != 0 %}
        <span class="notification tr">{{ unread }}</span>
        {% endif %}
    </span>
</a>
{% endif %} {% endblock %} {% block nav_right %} {% if profile.is_some() %}
<a class="button" href="/inbox/notifications" title="My notifications">
    {{ icon "bell" }}
    {% if notifs != 0 %}
    <span class="notification tr">{{ notifs }}</span>
    {% endif %}
</a>
{% endif %} {% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-2">
        <!-- prettier-ignore -->
        {% if relationship != crate::model::RelationshipStatus::Friends
            && response.author.metadata.is_true("sparkler:private_profile") %}
            {% include "components/private_response.html" %}
        {% else %}
            {% let is_pinned = false %}
            {% let show_pin_button = false %}
            {% let do_not_render_question = false %}
            {% let response = (question.clone(), response.clone(), 0, reactions.len()) %}
            {% let show_comments = false %}
            {% let do_render_nested = true %}
            {% include "components/response.html" %}
        {% endif %}

        {% if (relationship == crate::model::RelationshipStatus::Friends)
            | !response.author.metadata.is_true("sparkler:private_profile") %}
        <hr />
        <h5 id="reactions">{{ lang.get("views:text.reactions") }}</h5>
        <div id="reactions" class="flex gap-2 flex-wrap w-full">
            {% for reaction in reactions %}
            <a href="/@{{ reaction.user.username }}">
                <img
                    title="{{ reaction.user.username }}'s avatar"
                    src="/api/v0/auth/profile/{{ reaction.user.id }}/avatar"
                    alt="@{{ reaction.user.username }}"
                    class="avatar"
                    loading="lazy"
                    style="--size: 20px"
                />
            </a>
            {% endfor %}
        </div>

        <hr />
        <h5 id="comments">{{ lang.get("views:text.comments") }}</h5>
        <div class="card-nest w-full shadow" id="comment_field">
            <div class="card flex flex-col gap-1">Leave a comment</div>

            <div class="card">
                <form
                    class="flex flex-col gap-2"
                    onsubmit="comment(event, '{{ response.id }}')"
                >
                    {% if let Some(profile) = profile %}
                    <textarea
                        class="w-full"
                        placeholder="Type your reply!"
                        minlength="1"
                        maxlength="{% if profile.tier >= config.tiers.double_limits %}4096{% else %}2048{% endif %}"
                        required
                        name="content"
                        id="content"
                        hook="counter"
                    ></textarea>
                    {% else %}
                    <textarea
                        class="w-full"
                        placeholder="Type your reply!"
                        minlength="1"
                        maxlength="2048"
                        required
                        name="content"
                        id="content"
                        hook="counter"
                    ></textarea>
                    {% endif %}

                    <div class="flex justify-between w-full gap-1">
                        <div class="flex gap-2 items-center">
                            <span
                                id="content:counter"
                                class="notification item"
                            ></span>

                            <div class="checkbox_container item">
                                <input
                                    type="checkbox"
                                    name="anonymous"
                                    id="anonymous"
                                />

                                <label for="anonymous" class="normal">
                                    {{ lang.get("general:action.hide_your_name") }}
                                </label>
                            </div>

                            <script>
                                function ls_anon_check() {
                                    if (
                                        window.localStorage.getItem(
                                            "always_anon",
                                        ) === "true"
                                    ) {
                                        document.getElementById(
                                            "anonymous",
                                        ).checked = true;
                                    }
                                }

                                ls_anon_check();
                            </script>
                        </div>

                        <button class="primary bold">{{ lang.get("general:form.submit") }}</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- prettier-ignore -->
        {% for comment in comments %}
            {% let show_replies = true %}
            {% include "components/comment.html" %}
        {% endfor %}

        <!-- pagination buttons -->
        <div class="flex justify-between gap-2 w-full">
            {% if page > 0 %}
            <a class="button secondary" href="?page={{ page - 1 }}">{{ lang.get("general:link.previous") }}</a>
            {% else %}
            <div></div>
            {% endif %} {% if comments.len() != 0 %}
            <a class="button secondary" href="?page={{ page + 1 }}">{{ lang.get("general:link.next") }}</a>
            {% endif %}
        </div>
        {% endif %}
    </main>
</article>

<script>
    setTimeout(() => {
        trigger("questions:carp");
    }, 100);

    function comment(e, response) {
        e.preventDefault();

        trigger("comments:create", [
            response,
            e.target.content.value,
            undefined,
            e.target.anonymous.checked,
        ]).then((_) => {
            // reset if successful
            e.target.reset();
        });
    }
</script>

{% if let Some(profile) = profile %} {% let other = profile.clone() %} {% if
profile.username == other.username %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %}

<!-- author actions -->
<!-- prettier-ignore -->
{% if profile.id == response.author.id %}
<script src="https://unpkg.com/codemirror@5.39.2/lib/codemirror.js"></script>
<script src="https://unpkg.com/codemirror@5.39.2/addon/display/placeholder.js"></script>
<script src="https://unpkg.com/codemirror@5.39.2/mode/markdown/markdown.js"></script>

<link
    rel="stylesheet"
    href="https://unpkg.com/codemirror@5.39.2/lib/codemirror.css"
/>

<dialog id="edit_dialog">
    <form
        class="inner flex flex-col gap-2"
        onsubmit="edit(event)"
        style="width: 35rem"
    >
        <!-- prettier-ignore -->
        <script type="text/markdown" id="existing_content">{{ response.content.replace("</script>","</not-script>")|safe }}</script>

        <label for="edit_content">New content</label>
        <div id="post_editor" class="post_editor"></div>

        <script>
            setTimeout(() => {
                use("codemirror", (codemirror) => {
                    codemirror.create_editor(
                        document.getElementById("post_editor"),
                        document.getElementById("existing_content").innerText,
                        "Type your post...",
                        "post_editor_",
                    );
                });
            }, 500);
        </script>

        <hr />
        <div class="flex gap-2">
            <button class="primary bold">Confirm</button>
            <button
                class="bold"
                onclick="document.getElementById('edit_dialog').close(); window.close()"
                type="button"
            >
                Cancel
            </button>
        </div>
    </form>
</dialog>

<dialog id="edit_tags_dialog">
    <form class="inner flex flex-col gap-2" onsubmit="edit_tags(event)">
        <!-- prettier-ignore -->
        <label for="tags">Tags</label>

        <textarea
            class="w-full"
            placeholder="Type your tags!"
            minlength="1"
            maxlength="4096"
            required
            name="tags"
            id="tags"
            hook="counter"
        ></textarea>

        <div>
            <span id="tags:counter" class="notification item"></span>
        </div>

        <p>Tags should be separated by a comma.</p>

        <hr />
        <div class="flex gap-2">
            <button class="primary bold">Confirm</button>
            <button
                class="bold"
                onclick="document.getElementById('edit_tags_dialog').close(); window.close()"
                type="button"
            >
                Cancel
            </button>
        </div>
    </form>
</dialog>

<script>
    setTimeout(() => {
        const dialogs = ns("dialogs");

        dialogs.add("edit_dialog");
        dialogs.add("edit_tags_dialog");

        if (window.location.search === "?edit") {
            dialogs.get("edit_dialog").open();
        } else if (window.location.search === "?edit_tags") {
            dialogs.get("edit_tags_dialog").open();
            document.getElementById("tags").value = `{{ tags|safe }}`
                .replaceAll('["', "")
                .replaceAll('","', ", ")
                .replaceAll('"]', "")
                .replace("[]", "");
        }
    }, 100);

    function edit(e) {
        e.preventDefault();
        trigger("responses:edit", [
            "{{ response.id }}",
            globalThis.post_editor_.getValue(),
        ]).then((res) => {
            alert(res.message || "Response edited!");

            if (res.success === true) {
                window.close();

                setTimeout(() => {
                    window.location.href = "?";
                }, 100);
            }
        });
    }

    function edit_tags(e) {
        e.preventDefault();
        trigger("responses:edit_tags", [
            "{{ response.id }}",
            e.target.tags.value.toLowerCase().split(",").map((t) => t.trim()),
        ]).then((res) => {
            alert(res.message || "Response edited!");

            if (res.success === true) {
                window.close();

                setTimeout(() => {
                    window.location.href = "?";
                }, 100);
            }
        });
    }
</script>
{% endif %} {% endif %} {% call super() %} {% endblock %}
