{% extends "base.html" %} {% block title %}{{ config.name }}{% endblock %} {%
block head %}
<meta name="description" content="{{ config.description }}" />
<meta name="og:url" content="{{ config.host }}/response/{{ response.id }}" />

<meta property="og:type" content="website" />
<meta property="profile:username" content="spark" />

<meta
    name="og:image"
    content="{{ config.host }}/api/v0/auth/profile/{{ response.author.id }}/avatar"
/>

<meta
    name="twitter:image"
    content="https://neospring.org/api/v0/auth/profile/{{ response.author.id }}/avatar"
/>

<meta name="twitter:card" content="summary" />

<!-- prettier-ignore -->
<meta name="og:title" content="@{{ response.author.username }} answered: {{ question.content }}" />
<meta
    name="twitter:title"
    content="@{{ response.author.username }} answered: {{ question.content }}"
/>

<meta name="og:description" content="{{ response.content }}" />
<meta name="twitter:description" content="{{ response.content }}" />
{% endblock %} {% block nav_left %} {% if profile.is_some() %}
<a class="button" href="/" title="Timeline">
    {{ icon "house" }}
    <span class="desktop">{{ text "general:link.timeline" }}</span>
</a>

<a class="button" href="/inbox" title="My inbox">
    {{ icon "inbox" }}
    <span class="flex items-center gap-2">
        <span class="desktop">{{ text "general:link.inbox" }}</span>
        {% if unread != 0 %}
        <span class="notification tr">{{ unread }}</span>
        {% endif %}
    </span>
</a>

<a class="button" href="/discover" title="Discover">
    {{ icon "compass" }}
    <span class="flex items-center gap-2">
        <span class="desktop">{{ text "general:link.discover" }}</span>
    </span>
</a>
{% endif %} {% endblock %} {% block nav_right %} {% if profile.is_some() %}
<a class="button" href="/inbox/notifications" title="My notifications">
    {{ icon "bell" }}
    {% if notifs != 0 %}
    <span class="notification tr">{{ notifs }}</span>
    {% endif %}
</a>
{% endif %} {% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-2">
        <!-- prettier-ignore -->
        {% if relationship != crate::model::RelationshipStatus::Friends
            && response.author.metadata.is_true("sparkler:private_profile") %}
            {% include "components/private_response.html" %}
        {% else %}
            {% let is_pinned = false %}
            {% let show_pin_button = false %}
            {% let do_not_render_question = false %}
            {% let response = (question.clone(), response.clone(), 0, reactions.len()) %}
            {% let show_comments = false %}
            {% let do_render_nested = true %}
            {% include "components/response.html" %}
        {% endif %}

        {% if (relationship == crate::model::RelationshipStatus::Friends)
            | !response.author.metadata.is_true("sparkler:private_profile") %}
        <!-- tabs -->
        <hr />
        <div class="pillmenu convertible true">
            <a href="#/comments" class="active" data-tab-button="comments"
                ><span>{{ text "views:text.comments" }}</span></a
            >
            <a href="#/reactions" data-tab-button="reactions"
                ><span>{{ text "views:text.reactions" }}</span></a
            >
            {% if let Some(profile) = profile %}
            {% if profile.id == response.author.id %}
            <a href="#/edit" data-tab-button="edit"
                ><span>{{ text "general:action.edit" }}</span></a
            >
            <a href="#/tags" data-tab-button="tags"
                ><span>{{ text "response_title.html:action.edit_tags" }}</span></a
            >
            {% endif %}
            {% endif %}
        </div>

        <div data-tab="comments" class="flex flex-col gap-4">
            {% if !response.author.metadata.is_true("rainbeam:disallow_response_comments") %}
            <div class="card-nest w-full" id="comment_field">
                <div class="card flex flex-col gap-1">Leave a comment</div>

                <div class="card">
                    <form
                        class="flex flex-col gap-2"
                        onsubmit="comment(event, '{{ response.id }}')"
                    >
                        {% if let Some(profile) = profile %}
                        <textarea
                            class="w-full"
                            placeholder="Type your reply!"
                            minlength="1"
                            maxlength="{% if profile.tier >= config.tiers.double_limits %}4096{% else %}2048{% endif %}"
                            required
                            name="content"
                            id="content"
                            hook="counter"
                        ></textarea>
                        {% else %}
                        <textarea
                            class="w-full"
                            placeholder="Type your reply!"
                            minlength="1"
                            maxlength="2048"
                            required
                            name="content"
                            id="content"
                            hook="counter"
                        ></textarea>
                        {% endif %}

                        <div class="flex justify-between w-full gap-1">
                            <div class="flex gap-2 items-center">
                                <span
                                    id="content:counter"
                                    class="notification item"
                                ></span>

                                <div class="checkbox_container item">
                                    <input
                                        type="checkbox"
                                        name="anonymous"
                                        id="anonymous"
                                    />

                                    <label for="anonymous" class="normal">
                                        {{ text "general:action.hide_your_name" }}
                                    </label>
                                </div>

                                <script>
                                    function ls_anon_check() {
                                        if (
                                            window.localStorage.getItem(
                                                "always_anon",
                                            ) === "true"
                                        ) {
                                            document.getElementById(
                                                "anonymous",
                                            ).checked = true;
                                        }
                                    }

                                    ls_anon_check();
                                </script>
                            </div>

                            <button class="primary bold">{{ text "general:form.submit" }}</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}

            {% include "partials/views/comments.html" %}

            <!-- pagination buttons -->
            <div class="flex justify-between gap-2 w-full">
                {% if page > 0 %}
                <a class="button secondary" href="?page={{ page - 1 }}">{{ text "general:link.previous" }}</a>
                {% else %}
                <div></div>
                {% endif %} {% if comments.len() != 0 %}
                <a class="button secondary" href="?page={{ page + 1 }}">{{ text "general:link.next" }}</a>
                {% endif %}
            </div>
            {% endif %}
        </div>

        <!-- reactions -->
        <div data-tab="reactions" class="hidden">
            <div id="reactions" class="card flex gap-2 flex-col w-full">
                {% for reaction in reactions %}
                <a href="/@{{ reaction.user.username }}" class="card w-full flex items-center gap-2">
                    <img
                        title="{{ reaction.user.username }}'s avatar"
                        src="/api/v0/auth/profile/{{ reaction.user.id }}/avatar"
                        alt="@{{ reaction.user.username }}"
                        class="avatar"
                    loading="lazy"
                        style="--size: 30px"
                    />
                    {{ reaction.user.username }}
                </a>
                {% endfor %}
            </div>
        </div>

        {% if let Some(profile) = profile %}
        {% if profile.id == response.author.id %}
        <script src="https://unpkg.com/codemirror@5.39.2/lib/codemirror.js"></script>
        <script src="https://unpkg.com/codemirror@5.39.2/addon/display/placeholder.js"></script>
        <script src="https://unpkg.com/codemirror@5.39.2/mode/markdown/markdown.js"></script>

        <link
            rel="stylesheet"
            href="https://unpkg.com/codemirror@5.39.2/lib/codemirror.css"
        />

        <div class="hidden flex flex-col gap-2" data-tab="edit">
            <form
                class="flex flex-col gap-2 w-full card"
                onsubmit="edit(event)"
            >
                <!-- prettier-ignore -->
                <script type="text/markdown" id="existing_content">{{ response.content.replace("</script>","</not-script>")|safe }}</script>

                <label for="edit_content">New content</label>
                <div id="post_editor" class="post_editor"></div>

                <script>
                    setTimeout(() => {
                        use("codemirror", (codemirror) => {
                            codemirror.create_editor(
                                document.getElementById("post_editor"),
                                document.getElementById("existing_content").innerText,
                                "Type your post...",
                                "post_editor_",
                            );
                        });
                    }, 500);
                </script>

                <div class="flex gap-2 w-full justify-right">
                    <button class="primary bold">
                        {{ icon "check" }}
                        <span>{{ text "general:action.save" }}</span>
                    </button>
                </div>
            </form>

            <form class="flex flex-col gap-2 w-full card" onsubmit="edit_context_warning(event)">
                <!-- prettier-ignore -->
                <label for="warning">Warning</label>

                <textarea
                    class="w-full"
                    placeholder="Type your response warning!"
                    minlength="1"
                    maxlength="4096"
                    required
                    name="warning"
                    id="warning"
                >{{ response.context.warning }}</textarea>

                <div class="flex gap-2 w-full justify-right">
                    <button class="primary bold">
                        {{ icon "check" }}
                        <span>{{ text "general:action.save" }}</span>
                    </button>
                </div>
            </form>
        </div>

        <div class="hidden card" data-tab="tags">
            <form class="flex flex-col gap-2 w-full" onsubmit="edit_tags(event)">
                <!-- prettier-ignore -->
                <label for="tags">Tags</label>

                <textarea
                    class="w-full"
                    placeholder="Type your tags!"
                    minlength="1"
                    maxlength="4096"
                    required
                    name="tags"
                    id="tags"
                    hook="counter"
                ></textarea>

                <div>
                    <span id="tags:counter" class="notification item"></span>
                </div>

                <p>Tags should be separated by a comma.</p>

                <div class="flex gap-2 w-full justify-right">
                    <button class="primary bold">
                        {{ icon "check" }}
                        <span>{{ text "general:action.save" }}</span>
                    </button>
                </div>
            </form>
        </div>

        <script>
            setTimeout(() => {
                document.getElementById("tags").value = `{{ tags|safe }}`
                    .replaceAll('["', "")
                    .replaceAll('","', ", ")
                    .replaceAll('"]', "")
                    .replace("[]", "");
            }, 100);

            function edit(e) {
                e.preventDefault();
                trigger("responses::edit", [
                    "{{ response.id }}",
                    globalThis.post_editor_.getValue(),
                ])
            }

            function edit_tags(e) {
                e.preventDefault();
                trigger("responses::edit_tags", [
                    "{{ response.id }}",
                    e.target.tags.value.toLowerCase().split(",").map((t) => t.trim()),
                ])
            }

            function edit_context_warning(e) {
                e.preventDefault();
                trigger("responses::edit_context_warning", [
                    "{{ response.id }}",
                    e.target.warning.value,
                ])
            }
        </script>
        {% endif %}
        {% endif %}
    </main>
</article>

<script>
    setTimeout(() => {
        trigger("questions::carp");
    }, 100);

    function comment(e, response) {
        e.preventDefault();

        trigger("comments::create", [
            response,
            e.target.content.value,
            undefined,
            e.target.anonymous.checked,
        ]).then((_) => {
            // reset if successful
            e.target.reset();
        });
    }
</script>

{% if let Some(profile) = profile %} {% let other = profile.clone() %} {% if
profile.username == other.username %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% endif %} {% call super() %} {% endblock %}
