{% extends "base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}">
    Feed
    <b class="notification">{{ response_count }}</b>
</a>

<a href="/@{{ other.username }}/questions">
    Questions
    <b class="notification">{{ questions_count }}</b>
</a>

{% if !hide_social %}
<a href="/@{{ other.username }}/followers">
    Followers
    <b class="notification">{{ followers_count }}</b>
</a>

<a href="/@{{ other.username }}/following">
    Following
    <b class="notification">{{ following_count }}</b>
</a>
{% endif %} {% if is_powerful %}
<a href="/@{{ other.username }}/mod" class="active">
    Manage
    <b class="notification">Mod</b>
</a>
{% endif %} {% endblock %} {% block panel %}
<!-- change password -->
<form class="card flex flex-col gap-1" id="change_password">
    <h3>Change password</h3>

    <label for="new_password">New password</label>
    <input
        type="password"
        name="new_password"
        id="new_password"
        minlength="6"
    />

    <button>Submit</button>
</form>

<script>
    (() => {
        document
            .getElementById("change_password")
            .addEventListener("submit", (e) => {
                e.preventDefault();

                if (!confirm("Are you sure you want to do this?")) {
                    return;
                }

                fetch("/api/auth/profile/{{ other.username }}/password", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        password: "",
                        new_password: e.target.new_password.value,
                    }),
                })
                    .then((res) => res.json())
                    .then((res) => {
                        trigger("app:shout", [
                            res.success ? "tip" : "caution",
                            res.message || "Password changed!",
                        ]);

                        window.location.href = "#top";
                        e.target.reset();
                    });
            });
    })();
</script>

<hr />

<!-- warnings -->
<div id="warnings" class="flex flex-col gap-4">
    <h3>Warnings</h3>

    <div class="card-nest w-full shadow" id="warning_field">
        <div class="card flex flex-col gap-1">Create a warning</div>

        <div class="card">
            <form
                class="flex flex-col gap-2"
                onsubmit="warn_user(event, '{{ other.id }}')"
            >
                <textarea
                    class="w-full"
                    placeholder="Type your warning!"
                    minlength="1"
                    required
                    name="content"
                    id="content"
                ></textarea>

                <div class="flex justify-between w-full gap-1">
                    <div></div>
                    <button class="round-lg primary bold">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <!-- prettier-ignore -->
    {% for warning in warnings %}
        {% include "../components/warning.html" %}
    {% endfor %}
</div>

<script>
    function warn_user(e, user) {
        e.preventDefault();
        fetch("/api/auth/warnings", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                recipient: user,
                content: e.target.content.value,
            }),
        })
            .then((res) => res.json())
            .then((res) => {
                trigger("app:shout", [
                    res.success ? "tip" : "caution",
                    res.message || "User warned!",
                ]);

                if (res.success === true) {
                    e.target.reset();
                }
            });
    }
</script>
{% call super() %} {% endblock %}
