{% extends "base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}">
    Feed
    <b class="notification">{{ response_count }}</b>
</a>

<a href="/@{{ other.username }}/questions" class="active">
    Questions
    <b class="notification">{{ questions_count }}</b>
</a>

{% if !hide_social %}
<a href="/@{{ other.username }}/followers">
    Followers
    <b class="notification">{{ followers_count }}</b>
</a>

<a href="/@{{ other.username }}/following">
    Following
    <b class="notification">{{ following_count }}</b>
</a>
{% endif %} {% if is_powerful %}
<a href="/@{{ other.username }}/mod">
    Manage
    <b class="notification">Mod</b>
</a>
{% endif %} {% endblock %} {% block sidebar %}
<!-- search -->
<form id="search_form" class="card flex gap-2 flex-col">
    <label for="query">Search</label>

    <input
        id="query"
        name="q"
        value="{{ query }}"
        placeholder="Search global questions"
        maxlength="512"
    />

    <div class="flex justify-between">
        <div></div>
        <button title="Search" class="primary round-lg bold">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                width="16"
                height="16"
                aria-label="Search symbol"
                class="icon"
            >
                <path
                    d="M10.68 11.74a6 6 0 0 1-7.922-8.982 6 6 0 0 1 8.982 7.922l3.04 3.04a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215ZM11.5 7a4.499 4.499 0 1 0-8.997 0A4.499 4.499 0 0 0 11.5 7Z"
                ></path>
            </svg>

            Search
        </button>
    </div>
</form>
{% endblock %} {% block panel %}
<!-- inboxes -->
{% if is_self | is_powerful %}
<div class="pillmenu convertible">
    <a href="/@{{ other.username }}/questions" class="active">Global</a>

    {% if is_powerful %}
    <a href="/@{{ other.username }}/questions/inbox">
        Inbox
        <b class="notification">Mod</b>
    </a>
    {% endif %}

    <a href="/@{{ other.username }}/questions/outbox">
        Outbox
        <b class="notification">Private</b>
    </a>
</div>
{% endif %}

<!-- global questions -->
<div id="questions" class="flex flex-col items-center gap-4">
    <!-- prettier-ignore -->
    {% for question in questions %}
        {% include "../components/global_question.html" %}
    {% endfor %}

    <!-- pagination buttons -->
    {% if questions_count != 0 %}
    <div class="flex justify-between gap-2 w-full">
        {% if page > 0 %}
        <a class="button secondary" href="?page={{ page - 1 }}">Previous</a>
        {% else %}
        <div></div>
        {% endif %} {% if questions.len() != 0 %}
        <a class="button secondary" href="?page={{ page + 1 }}">Next</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% call super() %} {% endblock %}
