<form
    id="search_form"
    class="flex gap-2"
    style="min-width: 15rem; max-width: 100%; flex-direction: row"
    onsubmit="sub_search(event)"
>
    <input
        id="query"
        name="q"
        value="{{ query }}"
        placeholder="Query"
        maxlength="512"
        style="flex: 1 0"
    />

    <select id="driver" name="driver">
        <option value="responses" driver="0">Responses</option>
        <option value="questions" driver="1">Global questions</option>
        <option value="posts" driver="2">Posts</option>
        <option value="users" driver="3">Users</option>
        <option value="tag" driver="4">Tag</option>
    </select>

    <button title="Search" class="normal primary">
        <i class="icon" data-lucide="search"></i>
    </button>
</form>

<script>
    globalThis.sub_search = (e) => {
        e.preventDefault();
        trigger("search:run", [
            e.target.driver.options[e.target.driver.selectedIndex].value,
            e.target.q.value,
        ]);
    };

    for (const option of Array.from(document.querySelectorAll("option"))) {
        if (option.getAttribute("driver") === (driver || "0")) {
            option.setAttribute("selected", "");
        } else {
            continue;
        }
    }
</script>
