{% extends "base.html" %} {% block title %}New post - {{ config.name }}{%
endblock %} {% block nav_left %}
<script>
    document.querySelector("nav").remove();
</script>
{% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-2">
        <script src="https://unpkg.com/codemirror@5.39.2/lib/codemirror.js"></script>
        <script src="https://unpkg.com/codemirror@5.39.2/addon/display/placeholder.js"></script>
        <script src="https://unpkg.com/codemirror@5.39.2/mode/markdown/markdown.js"></script>

        <link
            rel="stylesheet"
            href="https://unpkg.com/codemirror@5.39.2/lib/codemirror.css"
        />

        <div id="create_post_intent" class="flex flex-col gap-2">
            <b class="title">Create post</b>
            <div id="partial"></div>
            <div class="card w-full">
                {% include "partials/components/compose.html" %}
            </div>
        </div>

        <script>
            const search = new URLSearchParams(window.location.search);

            if (search.get("reply")) {
                const reply = search.get("reply");

                document
                    .querySelector("#create_post_intent details")
                    .setAttribute("open", "true");

                document.querySelector(
                    '#create_post_intent [name="reply"]',
                ).value = reply;

                document.getElementById("partial").innerHTML = `<include-partial
                    src="/_app/components/response.html?id=${reply}&do_render_nested=false"
                    uses="app::clean_date_codes,app::link_filter,app::hooks::alt"
                ></include-partial>`;
            }

            if (search.get("circle")) {
                const circle = search.get("circle");
                search.set("title", "Create post in circle");

                document
                    .querySelector("#create_post_intent details")
                    .setAttribute("open", "true");

                document.querySelector(
                    '#create_post_intent [name="circle"]',
                ).value = circle;
            }

            if (search.get("title")) {
                const title = search.get("title");

                document.querySelector(
                    "#create_post_intent b.title",
                ).innerText = title;
            }

            globalThis.create_post = (e) => {
                e.preventDefault();
                e.target
                    .querySelector("button")
                    .setAttribute("disabled", "true");

                trigger("responses::create", [
                    "0", // posts use "0" as their question ID
                    globalThis.compose_editor_.getValue(),
                    e.target.tags.value,
                    e.target.warning.value,
                    e.target.reply.value,
                    e.target.unlisted.checked,
                    e.target.circle.value,
                ]).then((res) => {
                    // reset if successful
                    e.target.reset();
                    e.target
                        .querySelector("button")
                        .removeAttribute("disabled");

                    globalThis.compose_editor_.setValue("");
                    globalThis.compose_editor_.clearHistory();

                    // open post
                    window.location.href = `/response/${res.payload.id}`;
                });
            };

            setTimeout(() => {
                use("codemirror", (codemirror) => {
                    codemirror.create_editor(
                        document.getElementById("compose_editor"),
                        "",
                        "Tell your friends what's on your mind...",
                        "compose_editor_",
                    );
                });
            }, 250);

            async function are_you_sure() {
                return await trigger("app::confirm", [
                    "Are you sure you would like to leave this page?",
                ]);
            }

            globalThis.go_back_confirm = async () => {
                if (await are_you_sure()) {
                    window.history.back();
                }
            };
        </script>
    </main>
</article>
{% if let Some(profile) = profile %} {% let other = profile.clone() %} {% if
profile.username == other.username %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% endif %} {% call super() %} {% endblock %}
