{% extends "base.html" %} {% block title %}New post - {{ config.name }}{%
endblock %} {% block nav_left %}
<a class="button mobile" href="/">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="18"
        height="18"
        aria-label="Home symbol"
        class="icon"
    >
        <path
            d="M12.97 2.59a1.5 1.5 0 0 0-1.94 0l-7.5 6.363A1.5 1.5 0 0 0 3 10.097V19.5A1.5 1.5 0 0 0 4.5 21h4.75a.75.75 0 0 0 .75-.75V14h4v6.25c0 .414.336.75.75.75h4.75a1.5 1.5 0 0 0 1.5-1.5v-9.403a1.5 1.5 0 0 0-.53-1.144l-7.5-6.363Z"
        ></path>
    </svg>
    Home
</a>
{% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-2">
        <script src="https://unpkg.com/codemirror@5.39.2/lib/codemirror.js"></script>
        <script src="https://unpkg.com/codemirror@5.39.2/addon/display/placeholder.js"></script>
        <script src="https://unpkg.com/codemirror@5.39.2/mode/markdown/markdown.js"></script>

        <link
            rel="stylesheet"
            href="https://unpkg.com/codemirror@5.39.2/lib/codemirror.css"
        />

        <div id="create_post_intent" class="flex flex-col gap-2">
            <b class="title">Create post</b>
            <div id="partial"></div>
            <div class="card w-full">
                {% include "partials/components/compose.html" %}
            </div>
        </div>

        <script>
            const search = new URLSearchParams(window.location.search);

            if (search.get("reply")) {
                const reply = search.get("reply");

                document
                    .querySelector("#create_post_intent details")
                    .setAttribute("open", "true");

                document.querySelector(
                    '#create_post_intent [name="reply"]',
                ).value = reply;

                document.getElementById("partial").innerHTML = `<include-partial
                    src="/_app/components/response.html?id=${reply}&do_render_nested=false"
                    uses="app:clean_date_codes,app:link_filter,app:hook.alt"
                ></include-partial>`;
            }

            if (search.get("title")) {
                const title = search.get("title");

                document.querySelector(
                    "#create_post_intent b.title",
                ).innerText = title;
            }

            globalThis.create_post = (e) => {
                e.preventDefault();

                trigger("responses:create", [
                    "0", // posts use "0" as their question ID
                    globalThis.compose_editor_.getValue(),
                    e.target.tags.value,
                    e.target.warning.value,
                    e.target.reply.value,
                    e.target.unlisted.checked,
                ]).then((res) => {
                    // reset if successful
                    e.target.reset();

                    globalThis.compose_editor_.setValue("");
                    globalThis.compose_editor_.clearHistory();

                    // open post
                    window.location.href = `/response/${res.payload.id}`;
                });
            };

            setTimeout(() => {
                use("codemirror", (codemirror) => {
                    codemirror.create_editor(
                        document.getElementById("compose_editor"),
                        "",
                        "Tell your friends what's on your mind...",
                        "compose_editor_",
                    );
                });
            }, 250);
        </script>
    </main>
</article>
{% if let Some(profile) = profile %} {% let other = profile.clone() %} {% if
profile.username == other.username %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% endif %} {% call super() %} {% endblock %}
