{% extends "base.html" %} {% block title %}{{ config.name }}{% endblock %} {%
block head %}
<meta name="description" content="{{ config.description }}" />
{% endblock %} {% block nav_left %}
<script>
    document.querySelector("nav").remove();
</script>
{% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-2">
        {% if profile.is_some() %}
        <div class="markdown-alert-tip">
            <span>
                Since you have an account, please directly mail
                <a href="/+u/0">@system</a> instead if you expect a reply to
                your report.
            </span>
        </div>
        {% endif %}

        <form
            class="card"
            onsubmit="trigger('reports:file', [event])"
        >
            <div class="flex flex-col gap-1">
                <label for="content"
                    >{{ text "report.html:label.reason" }}</label
                >

                <textarea
                    name="content"
                    id="content"
                    required
                    minlength="5"
                ></textarea>

                <p class="fade">
                    {{ text "report.html:text.please_describe" }}
                </p>

                <p class="fade">{{ text "report.html:text.details1" }}</p>
                <p class="fade">{{ text "report.html:text.details2" }}</p>
            </div>

            <div
                class="h-captcha"
                data-sitekey="{{ config.captcha.site_key }}"
            ></div>

            <hr />
            <div class="flex gap-2">
                <button class="primary bold">
                    {{ text "general:action.report" }}
                </button>

                <button class="bold" type="button" onclick="window.close()">
                    {{ text "general:dialog.cancel" }}
                </button>
            </div>
        </form>
    </main>
</article>

<script>
    const search = new URLSearchParams(window.location.search);

    setTimeout(() => {
        trigger("reports::fill", [search.get("type"), search.get("target")]);
    }, 100);
</script>
{% call super() %} {% endblock %}
