{% extends "base.html" %} {% block title %}{{ config.name }}{% endblock %} {%
block head %}
<meta name="description" content="{{ config.description }}" />
{% endblock %} {% block nav_left %}
<script>
    document.querySelector("nav").remove();
</script>
{% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-2">
        <form
            class="card shadow-md"
            onsubmit="trigger('reports:file', [event])"
        >
            <div class="flex flex-col gap-1">
                <label for="content">Reason</label>

                <textarea
                    name="content"
                    id="content"
                    required
                    minlength="5"
                ></textarea>

                <p class="fade">
                    Please describe your reason for reporting this asset above.
                </p>

                <p class="fade">
                    Reports support Markdown formatting. Please include images
                    if they will enforce your report. If you would like to
                    receive a reply, please be sure to include a contact
                    location in your report (such as an email address).
                </p>

                <p class="fade">
                    Please try to cite the site rule or possible law that the
                    asset you are reporting breaks. Citing rules will help us
                    get to your report faster, and reports without them may be
                    discarded.
                </p>
            </div>

            <div
                class="h-captcha"
                data-sitekey="{{ config.captcha.site_key }}"
            ></div>

            <hr />
            <div class="flex gap-2">
                <button class="primary bold">Report</button>
                <button class="bold" type="button" onclick="window.close()">
                    Cancel
                </button>
            </div>
        </form>
    </main>
</article>

<script>
    const search = new URLSearchParams(window.location.search);

    setTimeout(() => {
        trigger("reports:fill", [search.get("type"), search.get("target")]);
    }, 100);
</script>
{% call super() %} {% endblock %}
