{% extends "./social_base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}/followers">
    <span
        >{{ text "profile:link.followers" }}
        <b class="notification">{{ followers_count }}</b></span
    >
</a>

<a href="/@{{ other.username }}/following">
    <span
        >{{ text "profile:link.following" }}
        <b class="notification">{{ following_count }}</b></span
    >
</a>

<a href="/@{{ other.username }}/friends">
    <span
        >{{ text "general:link.friends" }}
        <b class="notification">{{ friends_count }}</b></span
    >
</a>

{% if is_self | is_helper %}
<a href="/@{{ other.username }}/friends/requests"
    ><span>{{ text "general:link.requests" }}</span></a
>
{% endif %} {% if is_helper %}
<a href="/@{{ other.username }}/friends/blocks" class="active"
    ><span>{{ text "settings:account.html:title.blocks" }}</span></a
>
{% endif %} {% endblock %} {% block panel %}
<!-- friend requests -->
<div id="requests">
    <table class="w-full">
        <thead>
            <tr>
                <th>Type</th>
                <th>User</th>
            </tr>
        </thead>

        {% if let Some(user) = profile %}

        <tbody>
            {% for block in blocks %} {% let outbound = block.0.id == user.id %}
            <tr>
                <td>{% if outbound %}Outbound{% else %}Inbound{% endif %}</td>

                <td>
                    {% if outbound %}
                    <a href="/@{{ block.1.username }}">
                        {{ block.1.username }}
                    </a>
                    {% else %}
                    <a href="/@{{ block.0.username }}">
                        {{ block.0.username }}
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>

    <!-- pagination buttons -->
    {% if blocks.len() != 0 %}
    <div class="flex justify-between gap-2 w-full">
        {% if page > 0 %}
        <a class="button camo" href="?page={{ page - 1 }}"
            >{{ icon "arrow-left" }}{{ text "general:link.previous" }}</a
        >
        {% else %}
        <div></div>
        {% endif %}
        <a class="button camo" href="?page={{ page + 1 }}"
            >{{ text "general:link.next" }}{{ icon "arrow-right" }}</a
        >
    </div>
    {% endif %}
</div>
{% call super() %} {% endblock %}
