{% extends "./social_base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}/followers" class="active">
    <span
        >{{ lang.get("profile:link.followers") }}
        <b class="notification">{{ followers_count }}</b></span
    >
</a>

<a href="/@{{ other.username }}/following">
    <span
        >{{ lang.get("profile:link.following") }}
        <b class="notification">{{ following_count }}</b></span
    >
</a>

<a href="/@{{ other.username }}/friends">
    <span
        >{{ lang.get("general:link.friends") }}
        <b class="notification">{{ friends_count }}</b></span
    >
</a>

{% if is_self | is_helper %}
<a href="/@{{ other.username }}/friends/requests"
    ><span>{{ lang.get("general:link.requests") }}</span></a
>
{% endif %} {% endblock %} {% block panel %}
<!-- followers -->
<div id="followers" class="flex flex-col items-center gap-4">
    <!-- prettier-ignore -->
    {% for card in followers %}
        {% let user = card.1.clone() %}
        {% include "components/fetch_profile_card.html" %}
    {% endfor %}

    <!-- pagination buttons -->
    {% if followers_count != 0 %}
    <div class="flex justify-between gap-2 w-full">
        {% if page > 0 %}
        <a class="button secondary" href="?page={{ page - 1 }}"
            >{{ lang.get("general:link.previous") }}</a
        >
        {% else %}
        <div></div>
        {% endif %} {% if followers.len() != 0 %}
        <a class="button secondary" href="?page={{ page + 1 }}"
            >{{ lang.get("general:link.next") }}</a
        >
        {% endif %}
    </div>
    {% endif %}
</div>
{% call super() %} {% endblock %}
