{% extends "./social_base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}/followers">
    <span>Followers <b class="notification">{{ followers_count }}</b></span>
</a>

<a href="/@{{ other.username }}/following" class="active">
    <span>Following <b class="notification">{{ following_count }}</b></span>
</a>

<a href="/@{{ other.username }}/friends">
    <span>Friends <b class="notification">{{ friends_count }}</b></span>
</a>

{% if is_self | is_helper %}
<a href="/@{{ other.username }}/friends/requests"><span>Requests</span></a>
{% endif %} {% endblock %} {% block panel %}
<!-- followers -->
<div id="following" class="flex flex-col items-center gap-4">
    <!-- prettier-ignore -->
    {% for card in following %}
        {% let user = card.2.clone() %}
        {% include "components/fetch_profile_card.html" %}
    {% endfor %}

    <!-- pagination buttons -->
    {% if following_count != 0 %}
    <div class="flex justify-between gap-2 w-full">
        {% if page > 0 %}
        <a class="button secondary" href="?page={{ page - 1 }}">Previous</a>
        {% else %}
        <div></div>
        {% endif %} {% if following.len() != 0 %}
        <a class="button secondary" href="?page={{ page + 1 }}">Next</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% call super() %} {% endblock %}
