{% extends "../../base.html" %} {% block title %}Friend request - {{ config.name
}}{% endblock %} {% block nav_left %}
<a class="button" href="/" title="Timeline">
    {{ icon "house" }}
    <span class="desktop">Timeline</span>
    <span class="mobile">Home</span>
</a>

<a class="button" href="/inbox" title="My inbox">
    {{ icon "inbox" }}
    <span class="flex items-center gap-2">
        <span>Inbox</span>
        {% if unread != 0 %}
        <span class="notification tr">{{ unread }}</span>
        {% endif %}
    </span>
</a>
{% endblock %} {% block nav_right %}
<a class="button" href="/inbox/notifications" title="My notifications">
    {{ icon "bell" }} {% if notifs != 0 %}
    <span class="notification tr">{{ notifs }}</span>
    {% endif %}
</a>
{% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-4">
        <div class="w-full card card-nest">
            <!-- prettier-ignore -->
            <div class="card">
                Accept <a href="/@{{ other.username }}" target="_blank">@{{ other.username }}</a>'s friend request?
            </div>

            <div class="card flex gap-2">
                <button class="primary bold round-lg" onclick="accept()">
                    Yes
                </button>
                <button class="bold round-lg" onclick="decline()">No</button>
            </div>
        </div>
    </main>
</article>

<script>
    globalThis.accept = function (username) {
        fetch("/api/v0/auth/relationships/friend/{{ other.id }}", {
            method: "POST",
        })
            .then((res) => res.json())
            .then((res) => {
                alert("Request accepted!");
                window.close();

                setTimeout(() => {
                    window.location.href = "/";
                }, 1000);
            });
    };

    globalThis.decline = function (username) {
        fetch("/api/v0/auth/relationships/current/{{ other.id }}", {
            method: "DELETE",
        })
            .then((res) => res.json())
            .then((res) => {
                alert("Request declined!");
                window.close();

                setTimeout(() => {
                    window.location.href = "/";
                }, 1000);
            });
    };
</script>

{% if let Some(profile) = profile %} {% let other = profile.clone() %}
<div id="is_self"></div>
{% let raw_metadata = crate::routing::pages::clean_metadata_raw(other.metadata)
%} {% include "components/theming.html" %} {% endif %} {% call super() %} {%
endblock %}
