{% extends "../../base.html" %} {% block title %}{{ other.username }} - {{
config.name }}{% endblock %} {% block head %}
<!-- prettier-ignore -->
{% if let Some(biography) = other.metadata.kv.get("sparkler:biography") %}
<meta name="og:title" content="{{ other.username }}" />
<meta name="og:url" content="{{ config.host }}/@{{ other.username }}" />

<meta property="og:type" content="profile" />
<meta property="profile:username" content="{{ other.username }}" />

<meta
    name="og:image"
    content="{{ config.host }}/api/v0/auth/profile/{{ other.id }}/avatar"
/>

<meta
    name="twitter:image"
    content="{{ config.host }}/api/v0/auth/profile/{{ other.id }}/avatar"
/>

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Ask me something!" />
<meta
    name="twitter:description"
    content="Ask @{{ other.username }} something on {{ config.name }}!"
/>

{% let biography = biography.replace("\"", "\\\\\"") %}
<meta name="description" content="{{ biography }}" />
<meta name="og:description" content="{{ biography }}" />
{% endif %} {% endblock %} {% block nav_left %} {% if profile.is_some() %}
<a class="button" href="/" title="Timeline">
    {{ icon "house" }}
    <span class="desktop">{{ text "general:link.timeline" }}</span>
    <span class="mobile">{{ text "general:link.home" }}</span>
</a>

<a class="button" href="/inbox" title="My inbox">
    {{ icon "inbox" }}
    <span class="flex items-center gap-2">
        <span>{{ text "general:link.inbox" }}</span>
        {% if unread != 0 %}
        <span class="notification tr">{{ unread }}</span>
        {% endif %}
    </span>
</a>
{% endif %} {% endblock %} {% block nav_right %} {% if profile.is_some() %}
<a class="button" href="/inbox/notifications" title="My notifications">
    {{ icon "bell" }} {% if notifs != 0 %}
    <span class="notification tr">{{ notifs }}</span>
    {% endif %}
</a>
{% endif %} {% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-4">
        <a class="button camo bold" href="/@{{ other.username }}">
            {{ icon "arrow-left" }} Back to profile
        </a>

        <!-- menu -->
        <div class="pillmenu convertible true">
            {% block pillmenu %}{% endblock %}
        </div>

        <!-- panel -->
        <div id="panel" style="display: contents">
            {% block panel %}{% endblock %}
        </div>
    </main>
</article>

<!-- prettier-ignore -->
{% if is_self %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% call super() %} {% endblock %}
