target/

# prod
crates/rainbeam/static/site/about.md
crates/rainbeam/static/fonts/
crates/rainbeam/static/manifest.json
crates/rainbeam/static/images/logo/
crates/rainbeam/static/favicon.svg
*.db
.config/config.toml
