target/
node_modules/
package-lock.json
bun.lockb
bindings/

# prod
crates/web/static/site/about.md
crates/web/static/site/tos.md
crates/web/static/site/privacy.md
crates/web/static/fonts/
crates/web/static/manifest.json
crates/web/static/images/logo/
crates/web/static/images/ui/logo.*
crates/web/static/favicon.svg
crates/web/static/build/
*.db
.config/config.toml
.config/databeam/config.toml
.config/.well-known/citrus/citrus.toml
media/
