target/
node_modules/
package-lock.json
bun.lockb

# prod
crates/rainbeam/static/site/about.md
crates/rainbeam/static/site/tos.md
crates/rainbeam/static/site/privacy.md
crates/rainbeam/static/fonts/
crates/rainbeam/static/manifest.json
crates/rainbeam/static/images/logo/
crates/rainbeam/static/images/ui/logo.*
crates/rainbeam/static/favicon.svg
crates/rainbeam/static/build/
crates/rainbeam/templates_build/
*.db
.config/config.toml
.config/databeam/config.toml
.config/templates/
media/
