<div style="margin-right: 1rem; flex-shrink: 0">
    <div style="position: relative">
        <a href="/@{{ user.username }}">
            <img
                title="{{ user.username }}'s avatar"
                src="/api/v1/profiles/{{ user.username }}/avatar"
                alt="@{{ user.username }}"
                class="avatar"
                loading="lazy"
                style="--size: 50px"
            />
        </a>

        {% let use_static = false %} {% include "components/user_note.html" %}
    </div>
</div>
