{% let reply_count = comment.1 %} {% let reaction_count = comment.2 %} {% let
comment = comment.0.clone() %}
<div
    class="card flex flex-col gap-2 comment_body"
    id="comment:{{ comment.id }}"
>
    <div class="footernav items-center comment_title">
        <b class="flex items-center gap-2 item">
            <!-- prettier-ignore -->
            {% let author_tag = crate::database::Database::anonymous_tag(comment.author.username.as_ref()) %}
                {% if author_tag.0 == false %}
            <img
                title="{{ comment.author.username }}'s avatar"
                src="/api/v0/auth/profile/{{ comment.author.id }}/avatar"
                alt=""
                class="avatar"
                loading="lazy"
                style="--size: 25px"
            />

            <a
                href="/@{{ comment.author.username }}"
                style="color: inherit"
                class="username short"
            >
                <!-- prettier-ignore -->
                {% let display_name = comment.author.metadata.kv.get("sparkler:display_name") %}

                    {% if let Some(display_name) = display_name %}
                        {% if !display_name.trim().is_empty() %}
                            {{ crate::routing::pages::escape_username(display_name) }}
                        {% else %}
                            {{ comment.author.username }}
                        {% endif %}
                    {% else %}
                        {{ comment.author.username }}
                    {% endif %}
            </a>
            {% else %}
            <img
                title="{{ comment.author.username }}'s avatar"
                src="/static/images/default-avatar.svg"
                alt=""
                class="avatar"
                loading="lazy"
                style="--size: 25px"
            />

            <span>anonymous</span>

            <!-- prettier-ignore -->
            {% if is_powerful %}
                {% let author_tag = crate::database::Database::anonymous_tag(comment.author.id.as_ref()) %}
                {% if author_tag.0 %}
            <a class="notification" href="/+u/{{ author_tag.1 }}">
                {% if author_tag.1.contains("-") %}
                <span title="User hiding as anonymous">🤫</span>
                {% endif %}
                <!-- prettier-ignore -->
                {% if author_tag.1.len() >= 10 %}
                    {{ author_tag.1[..10] }}
                {% else %}
                    {{ author_tag.1 }}
                {% endif %}
            </a>
            {% endif %} {% endif %} {% endif %}
        </b>

        <span class="flex fade item">
            {% if (comment.edited != 0) && (comment.edited != comment.timestamp)
            %}
            <span class="date">{{ comment.edited }}</span>
            <sup title="Edited">*</sup>
            {% else %}
            <span class="date">{{ comment.timestamp }}</span>
            {% endif %}
        </span>
    </div>

    <!-- prettier-ignore -->
    <span class="comment_content" hook="long">
        {{ rainbeam_shared::ui::render_markdown(comment.content)|safe }}
    </span>

    <!-- actions -->
    <div class="flex w-full gap-2 actions_bar justify-between">
        <div class="flex gap-2 sm:contents">
            <!-- reactions -->
            <button
                title="{{ reaction_count }} reactions"
                class="circle camo sm:w-full"
                onclick="trigger('reactions:toggle', ['{{ comment.id }}', 'Comment', event.target])"
                hook="check_reaction"
                hook-arg:id="{{ comment.id }}"
            >
                {{ icon "heart" }} {% if reaction_count > 0 %}
                <span class="notification camo">{{ reaction_count }}</span>
                {% endif %}
            </button>

            <!-- replies -->
            {% if show_replies != false %} {% if reply_count > 0 %}
            <button
                title="{{ reply_count }} replies"
                class="circle button camo sm:w-full"
                onclick="trigger('app:toggle_flex', [document.getElementById('replies:{{ comment.id }}')])"
            >
                {{ icon "message-circle" }}
                <span class="notification camo">{{ reply_count }}</span>
            </button>
            {% else %}
            <a
                title="{{ reply_count }} replies"
                class="circle button camo sm:w-full"
                href="/@{{ comment.author.username }}/c/{{ comment.id }}"
            >
                {{ icon "message-circle" }}
            </a>
            {% endif %} {% endif %}
        </div>

        <!-- options -->
        <div class="dropdown sm:w-full">
            <button
                onclick="trigger('app:hook.dropdown', [event])"
                exclude="dropdown"
                class="circle camo w-full"
            >
                {{ icon "ellipsis" }}
            </button>

            <div class="inner w-content" exclude="dropdown">
                <b class="title">Sharing</b>

                <!-- prettier-ignore -->
                <button
                    onclick="trigger('app:copy_text', ['{{ config.host }}/+c/{{ comment.id }}'])"
                >
                    {{ icon "copy" }} {{ text "general:action.copy_link" }}
                </button>

                {% if let Some(profile) = profile %} {% if (profile.id ==
                comment.author.id) | (profile.id == response.author.id) %}
                <!-- actions for the comment author/response author only -->
                <b class="title">Manage</b>

                <a
                    href="/@{{ comment.author.username }}/c/{{ comment.id }}#/edit"
                >
                    {{ icon "pen" }} {{ text "general:action.edit" }}
                </a>

                <button
                    onclick="trigger('comments:delete', ['{{ comment.id }}'])"
                    class="red"
                >
                    {{ icon "trash" }} {{ text "general:action.delete" }}
                </button>

                <button
                    onclick="trigger('comments:ipblock', ['{{ comment.id }}'])"
                >
                    {{ icon "shield" }} {{ text "general:action.ip_block" }}
                </button>
                {% endif %} {% endif %}
                <!-- actions for everybody -->
                <b class="title">Tools</b>
                <button
                    onclick="trigger('app:copy_text', ['{{ comment.id }}'])"
                >
                    {{ icon "copy" }} {{ text "general:action.copy_id" }}
                </button>

                <a href="/@{{ comment.author.username }}/c/{{ comment.id }}">
                    {{ icon "external-link" }} {{ text "general:link.open" }}
                </a>

                <!-- prettier-ignore -->
                {% if let Some(profile) = profile %}
                        {% if profile.id != comment.author.id %}
                <!-- actions for users that ARE NOT the author -->
                <a
                    href="javascript:trigger('reports:bootstrap', ['comments', '{{ comment.id }}'])"
                >
                    {{ icon "flag" }} {{ text "general:action.report" }}
                </a>
                {% endif %} {% if is_helper %}
                <b class="title">Mod</b>
                <a
                    href="#"
                    onclick="trigger('comments:delete', ['{{ comment.id }}'])"
                    class="red"
                >
                    {{ icon "trash" }} {{ text "general:action.delete" }}
                </a>
                {% endif %} {% endif %}
            </div>
        </div>
    </div>

    {% if show_replies != false %}
    <div
        id="replies:{{ comment.id }}"
        class="card secondary flex flex-col gap-2"
        style="display: none"
    >
        <include-partial
            src="/_app/components/comments.html?id={{ comment.id }}&page=0"
            uses="app:clean_date_codes,app:link_filter,app:hook.alt,app:hook.partial_embeds"
        ></include-partial>

        <a
            href="/@{{ comment.author.username }}/c/{{ comment.id }}?page=1"
            title="Show more"
            class="button secondary sm:w-full"
        >
            {{ text "general:link.more" }} {{ icon "arrow-right" }}
        </a>
    </div>
    {% endif %}
</div>

<style>
    .comment_body {
        border-radius: var(--radius) !important;
    }
</style>
