<div id="container:{{ user.id }}" class="w-full">
    <div class="card w-full fade shadow">Loading</div>
</div>

<script>
    (async () => {
        const username = "{{ user.username }}";
        const container = document.getElementById("container:{{ user.id }}");

        const site_stylesheet = Array.from(document.styleSheets).find(
            (s) => s.href !== null,
        );

        const root = container.attachShadow({ mode: "open" });

        // load site stylesheet
        let sheet = "";

        for (rule of site_stylesheet.rules) {
            sheet += `${rule.cssText}\n`;
        }

        // load shadowroot
        root.innerHTML = `<style>${sheet}</style>`; // adoptedStyleSheets is so stupid, this is much easier
        root.innerHTML += await (
            await fetch(`/@${username}/_app/card.html`)
        ).text();

        // steal dialog and put it in the root document so it works
        const dialog = root.querySelector("dialog");
        const new_dialog = document.createElement("dialog");
        new_dialog.innerHTML = dialog.innerHTML;
        new_dialog.id = dialog.id;

        document.body.appendChild(new_dialog);
        dialog.remove();
    })();
</script>
