<footer class="fade">
    <span class="item">{{ config.name }}</span>

    <span class="item"
        ><a href="/site/about">{{ text "base.html:link.about" }}</a></span
    >

    <span class="item"
        ><a href="/site/terms-of-service"
            >{{ text "general:link.terms_of_service" }}</a
        ></span
    >

    <span class="item"
        ><a href="/site/privacy"
            >{{ text "general:link.privacy_policy" }}</a
        ></span
    >

    <span class="item">
        <a href='https://github.com/swmff/rainbeam/commit/{{ var "commit" }}'
            >{{ var "commit_short" }}</a
        >

        (built <span class="date">{{ var "time_unix" }}</span>)
    </span>
</footer>
