{% let responses = question.1 %} {% let reaction_count = question.2 %} {% let
question = question.clone().0 %}
<div class="card-nest shadow w-full" id="question:{{ question.id }}">
    <div class="card flex flex-col gap-1">
        <div class="flex items-center justify-between gap-1 question_title">
            <div class="footernav">
                <b class="flex items-center gap-2 item">
                    <!-- prettier-ignore -->
                    {% let author_tag = crate::database::Database::anonymous_tag(question.author.username.as_ref()) %}
                    {% if author_tag.0 == false %}
                    <img
                        title="{{ question.author.username }}'s avatar"
                        src="/api/v0/auth/profile/{{ question.author.id }}/avatar"
                        alt=""
                        class="avatar"
                        loading="lazy"
                        style="--size: 20px"
                    />

                    <a
                        href="/@{{ question.author.username }}"
                        style="color: inherit"
                        class="username short"
                    >
                        <!-- prettier-ignore -->
                        {% let display_name = question.author.metadata.kv.get("sparkler:display_name") %}

                        {% if let Some(display_name) = display_name %}
                            {% if !display_name.trim().is_empty() %}
                                {{ crate::routing::pages::escape_username(display_name) }}
                            {% else %}
                                {{ question.author.username }}
                            {% endif %}
                        {% else %}
                            {{ question.author.username }}
                        {% endif %}
                    </a>
                    {% else %}
                    <img
                        title="{{ question.author.username }}'s avatar"
                        src="/api/v0/auth/profile/{{ question.author.id }}/avatar"
                        alt=""
                        class="avatar"
                        loading="lazy"
                        style="--size: 20px"
                    />
                    {{ question.author.username }} {% endif %}
                </b>

                <span class="date item">{{ question.timestamp }}</span>
            </div>

            <!-- prettier-ignore -->
            {% if let Some(profile) = profile %}
            <!-- stuff for only the question author -->
            <div class="dropdown">
                <button
                    onclick="trigger('app:hook.dropdown', [event])"
                    exclude="dropdown"
                    class="camo"
                >
                    {{ icon "ellipsis" }}
                </button>

                <div class="inner shadow-md w-content" exclude="dropdown">
                    <b class="title">Sharing</b>

                    <!-- prettier-ignore -->
                    {% let short_id = question.id[..10] %}

                    <button
                        onclick="trigger('app:copy_text', ['{{ config.host }}/+q/{{ short_id }}'])"
                    >
                        {{ icon "copy" }} Copy link
                    </button>

                    {% if profile.id == question.author.id %}
                    <b class="title">Manage</b>
                    <a
                        href="#"
                        onclick="trigger('questions:delete', ['{{ question.id }}'])"
                        class="red"
                    >
                        {{ icon "trash" }} Delete
                    </a>
                    {% else if is_helper == true %}
                    <b class="title">Mod</b>
                    <a
                        href="#"
                        onclick="trigger('questions:delete', ['{{ question.id }}'])"
                        class="red"
                    >
                        {{ icon "trash" }} Delete
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>

        <!-- prettier-ignore -->
        <span class="question_content" hook="long">
           {{ shared::ui::render_markdown(question.content)|safe }}
       </span>
    </div>

    <div class="card flex gap-2">
        <!-- reactions -->
        <button
            title="{{ reaction_count }} reactions"
            onclick="trigger('reactions:toggle', ['{{ question.id }}', 'Question'])"
        >
            {{ icon "heart" }}
            <span class="notification camo">{{ reaction_count }}</span>
        </button>

        <!-- responses -->
        <a
            href="/question/{{ question.id }}"
            class="button item"
            style="gap: 0.75rem"
        >
            Respond
            <span class="notification">{{ responses }}</span>
        </a>

        {% if profile.is_none() %}
        <a
            class="button"
            href="javascript:trigger('reports:bootstrap', ['questions', '{{ question.id }}'])"
            title="Report"
        >
            {{ icon "flag" }}
        </a>
        {% else if let Some(profile) = profile %} {% if profile.id !=
        question.author.id %}
        <a
            class="button"
            href="javascript:trigger('reports:bootstrap', ['questions', '{{ question.id }}'])"
            title="Report"
        >
            {{ icon "flag" }}
        </a>
        {% endif %} {% endif %}
    </div>
</div>
