<details>
    <summary>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            width="16"
            height="16"
            aria-label="Ellipsis symbol"
            class="icon"
        >
            <path
                d="M8 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM1.5 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm13 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
            ></path>
        </svg>
    </summary>

    <div class="flex flex-col gap-2 card round shadow-md">
        <input
            type="text"
            name="tags"
            id="tags"
            placeholder="Tags (optional)"
        />

        <p class="fade">Tags should be separated by a comma.</p>

        <input
            type="text"
            name="warning"
            id="warning"
            placeholder="Warning (optional), leaving blank for no warning"
        />

        <p class="fade">
            Users must accept this warning to view your post's contents. This
            may be required if your post contains sensitive content.
        </p>

        <input
            type="text"
            name="reply"
            id="reply"
            placeholder="Reply to ID (optional), leaving blank for no reply"
        />

        <p class="fade">
            Putting the full ID of another response here will mark your response
            as a reply to the response you mentioned here.
        </p>

        <div class="checkbox_container">
            <input type="checkbox" name="unlisted" id="unlisted" />
            <label for="unlisted" class="normal">Unlisted</label>

            {% if let Some(user) = profile %} {% if
            user.metadata.is_true("sparkler:private_profile") %}
            <script style="display: none">
                document.getElementById("unlisted").checked = true;
            </script>
            {% endif %} {% endif %}
        </div>

        <p class="fade">
            Unlisted responses will be hidden from <b>public</b> timelines.
        </p>
    </div>
</details>
