<div class="card-nest w-full" id="notif:{{ notif.id }}">
    <div class="card flex flex-wrap justify-between gap-2">
        <span class="notif_title" do="notif_title" data-id="{{ notif.id }}">
            {{ rainbeam_shared::ui::render_markdown(notif.title)|safe }}
        </span>
        <span class="notif_timestamp date">{{ notif.timestamp }}</span>
    </div>

    <div class="card flex flex-col gap-2">
        <!-- prettier-ignore-->
        <div class="notif_content" hook="long">{{ rainbeam_shared::ui::render_markdown(notif.content)|safe }}</div>

        <!-- actions -->
        <div class="flex gap-2">
            {% if !notif.address.is_empty() %}
            <a
                class="button primary bold"
                href="{{ notif.address }}"
                onclick="trigger('notifications:onopen', ['{{ notif.id }}'])"
                do="notification"
            >
                {{ icon "external-link" }} {{ text "general:link.open" }}
            </a>
            {% endif %} {% if show_mark_as_read %}
            <button
                class="button secondary bold"
                onclick="trigger('notifications:delete', ['{{ notif.id }}'])"
            >
                {{ icon "bell-minus" }} {{ text "general:action.delete" }}
            </button>
            {% endif %}
        </div>
    </div>
</div>
