<div class="card-nest w-full" id="card:{{ user.id }}">
    <div class="card" style="padding: 0">
        <a href="/@{{ user.username }}">
            <img
                title="{{ user.username }}'s banner"
                src="/api/v1/profiles/{{ user.username }}/banner"
                alt=""
                class="shadow round"
                style="
                    width: 100%;
                    min-height: 80px;
                    max-height: 80px;
                    object-fit: cover;
                    border-bottom-left-radius: 0 !important;
                    border-bottom-right-radius: 0 !important;
                "
            />
        </a>
    </div>

    <div class="card flex gap-2">
        <div style="position: relative; margin: -50px 0.5rem 0">
            <a href="/@{{ user.username }}">
                <img
                    title="{{ user.username }}'s avatar"
                    src="/api/v1/profiles/{{ user.username }}/avatar"
                    alt=""
                    class="avatar shadow-md"
                    style="--size: 80px"
                />
            </a>

            {% include "components/user_note.html" %}
        </div>

        <h3 class="no-margin">
            <a href="/@{{ user.username }}">{{ user.username }}</a>
        </h3>
    </div>
</div>
