<div
    class="flex justify-between items-center flex-collapse sm:items-start gap-1 response_title"
>
    <div class="footernav items-center flex-wrap">
        <b class="flex items-center gap-2">
            <img
                title="{{ response.author.username }}'s avatar"
                src="/api/v0/auth/profile/{{ response.author.id }}/avatar"
                alt=""
                class="avatar"
                loading="lazy"
                style="--size: 20px"
            />

            <a
                href="/@{{ response.author.username }}"
                style="color: inherit"
                class="username short"
            >
                <!-- prettier-ignore -->
                {% let display_name = response.author.metadata.kv.get("sparkler:display_name") %}

                {% if let Some(display_name) = display_name %}
                    {% if !display_name.trim().is_empty() %}
                        {{ crate::routing::pages::escape_username(display_name) }}
                    {% else %}
                        {{ response.author.username }}
                    {% endif %}
                {% else %}
                    {{ response.author.username }}
                {% endif %}
            </a>
        </b>

        <span class="flex fade item">
            {% if (response.edited != 0) && (response.edited !=
            response.timestamp) %}
            <span class="date item">{{ response.edited }}</span>
            <sup title="Edited">*</sup>
            {% else %}
            <span class="date item">{{ response.timestamp }}</span>
            {% endif %}
        </span>

        {% if is_pinned == true %}
        <a
            class="item flex items-center justify-center icon-only button primary small"
            title="This question/response is pinned"
            href="/@{{ response.author.username }}"
        >
            {{ icon "pin" }}
        </a>
        {% endif %} {% if !response.context.circle.is_empty() %}
        <a
            class="button item camo icon-only small avatar"
            href="/+g/{{ response.context.circle }}"
            title="Posted in circle"
            style="
                --size: 20px;
                background: url('/api/v1/circles/{{ response.context.circle }}/avatar');
                border-radius: var(--radius);
                background-size: cover;
                padding: 0 !important;
                width: var(--size) !important;
                height: var(--size) !important;
                min-width: var(--size) !important;
                min-height: var(--size) !important;
            "
        >
        </a>
        {% endif %}
    </div>

    {% if do_render_nested == true %}
    <div class="flex justify-between gap-2 sm:w-full actions_bar">
        <!-- reactions -->
        <button
            title="{{ reaction_count }} reactions"
            class="camo"
            onclick="trigger('reactions:toggle', ['{{ response.id }}', 'Response', event.target])"
            hook="check_reaction"
            hook-arg:id="{{ response.id }}"
        >
            {{ icon "heart" }} {% if reaction_count > 0 %}
            <span class="notification camo">{{ reaction_count }}</span>
            {% endif %}
        </button>

        <!-- comments -->
        {% if show_comments != false %}
        <a
            href="/@{{ response.author.username }}/r/{{ response.id }}"
            title="{{ comment_count }} comments"
            class="button camo"
        >
            {{ icon "message-circle" }} {% if comment_count > 0 %}
            <span class="notification camo">{{ comment_count }}</span>
            {% endif %}
        </a>
        {% endif %}

        <!-- quote -->
        <div class="dropdown">
            <button
                class="w-full camo"
                onclick="trigger('app:hook.dropdown', [event])"
                exclude="dropdown"
                title="Quote"
            >
                {{ icon "repeat-2" }}
            </button>

            <div class="inner shadow-md w-content" exclude="dropdown">
                {% if profile.is_some() %}
                <button
                    onclick="trigger('responses:create', ['0', '✨ Boost\n/+r/{{ response.id }}'])
                        .then((p) => {
                            p.success ? window.location.href = `/response/${p.payload.id}` : ''
                        })"
                >
                    {{ icon "rocket" }} {{ text
                    "response_title.html:action.boost" }}
                </button>

                <a
                    href="/intents/post?reply={{ response.id }}&title=Quote%20post"
                >
                    {{ icon "quote" }} {{ text
                    "response_title.html:action.quote" }}
                </a>
                {% endif %}

                <a
                    href="/@{{ response.author.username }}?reply_intent={{ response.id }}#top"
                    data-turbo="false"
                    target="_blank"
                >
                    {{ icon "reply" }} {{ text
                    "response_title.html:action.ask_about_this" }}
                </a>
            </div>
        </div>

        <!-- options -->
        <div class="dropdown">
            <button
                class="w-full camo"
                onclick="trigger('app:hook.dropdown', [event])"
                exclude="dropdown"
                title="More"
            >
                {{ icon "ellipsis" }}
            </button>

            <div class="inner shadow-md w-content" exclude="dropdown">
                <b class="title">Sharing</b>

                <!-- prettier-ignore -->
                <button
                    onclick="trigger('app:copy_text', [trigger('responses:gen_share', [event.target, '{{ response.id }}', 280])])"
                >
                    {{ icon "copy" }} {{ text
                    "response_title.html:action.copy_to_clipboard" }}
                </button>

                <button
                    onclick="trigger('app:intent_twitter', [trigger('responses:gen_share', [event.target, '{{ response.id }}', 280, false]), '{{ config.host }}/+r/{{ response.id }}'])"
                >
                    {{ icon "twitter" }} Twitter
                </button>

                <button
                    onclick="trigger('app:intent_bluesky', [trigger('responses:gen_share', [event.target, '{{ response.id }}', 280, false]), '{{ config.host }}/+r/{{ response.id }}'])"
                >
                    {{ icon "external-link" }} Bluesky
                </button>

                <button
                    onclick="trigger('app:copy_text', ['{{ config.host }}/+r/{{ response.id }}'])"
                >
                    {{ icon "copy" }} {{ text "general:action.copy_link" }}
                </button>

                {% if let Some(profile) = profile %} {% if profile.id ==
                response.author.id %}
                <!-- actions for the profile owner only -->
                <b class="title">Manage</b>

                <!-- pin -->
                {% if show_pin_button == true %} {% if is_pinned == false %}
                <a href="#" onclick="pin_response('{{ response.id }}')">
                    {{ icon "pin" }} {{ text "response_title.html:action.pin" }}
                </a>
                {% else %}
                <a href="#" onclick="unpin_response('{{ response.id }}')">
                    {{ icon "pin-off" }} {{ text
                    "response_title.html:action.unpin" }}
                </a>
                {% endif %} {% endif %}

                <!-- ... -->
                <a
                    href="/@{{ response.author.username }}/r/{{ response.id }}#/edit"
                >
                    {{ icon "pen" }} {{ text "general:action.edit" }}
                </a>

                <a
                    href="/@{{ response.author.username }}/r/{{ response.id }}#/tags"
                >
                    {{ icon "tag" }} {{ text
                    "response_title.html:action.edit_tags" }}
                </a>

                {% if response.context.is_post == false %}
                <a
                    href="#"
                    onclick="trigger('responses:unsend', ['{{ response.id }}'])"
                    class="red"
                >
                    {{ icon "undo-2" }} {{ text
                    "response_title.html:action.return_to_inbox" }}
                </a>
                {% endif %}

                <button
                    onclick="trigger('responses:delete', ['{{ response.id }}'])"
                    class="red"
                >
                    {{ icon "trash" }} {{ text
                    "response_title.html:action.delete_all" }}
                </button>
                {% endif %} {% endif %}
                <!-- actions for everybody -->
                <b class="title">Tools</b>
                <button
                    onclick="trigger('app:copy_text', ['{{ response.id }}'])"
                >
                    {{ icon "copy" }} {{ text "general:action.copy_id" }}
                </button>

                <a href="/@{{ response.author.username }}/r/{{ response.id }}">
                    {{ icon "external-link" }} {{ text "general:link.open" }}
                </a>

                {% if is_helper %}
                <a href="/@{{ question.author.username }}/q/{{ question.id }}">
                    {{ icon "external-link" }} {{ text
                    "response_title.html:link.open_question" }}
                </a>
                {% endif %}

                <!-- prettier-ignore -->
                {% if let Some(profile) = profile %}
                {% if profile.id != response.author.id %}
                <!-- actions for users that ARE NOT the author -->
                <a
                    href="javascript:trigger('reports:bootstrap', ['responses', '{{ response.id }}'])"
                >
                    {{ icon "flag" }} {{ text "general:action.report" }}
                </a>
                {% endif %} {% if is_helper %}
                <b class="title">Mod</b>
                <a
                    href="#"
                    onclick="trigger('responses:delete', ['{{ response.id }}'])"
                    class="red"
                >
                    {{ icon "trash" }} {{ text "general:action.delete" }}
                </a>
                {% endif %} {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
