<div class="card-nest w-full response">
    {% if (do_not_render_question == false) && (response.context.is_post ==
    false) %}
    <div
        class="card flex flex-col gap-1 question {% if !response.context.warning.is_empty() %}hidden{% endif %}"
    >
        <div class="flex justify-between gap-1 question_title">
            <div class="footernav">
                <b class="flex items-center gap-2 item">
                    <!-- prettier-ignore -->
                    {% let author_tag = crate::database::Database::anonymous_tag(question.author.id.as_ref()) %}
                    {% if author_tag.0 == false %}
                    <img
                        title="{{ question.author.username }}'s avatar"
                        src="/api/v0/auth/profile/{{ question.author.id }}/avatar"
                        alt=""
                        class="avatar"
                        loading="lazy"
                        style="--size: 25px"
                    />

                    <a
                        href="/@{{ question.author.username }}"
                        style="color: inherit"
                        class="username short"
                    >
                        <!-- prettier-ignore -->
                        {% let display_name = question.author.metadata.kv.get("sparkler:display_name") %}

                        {% if let Some(display_name) = display_name %}
                            {% if !display_name.trim().is_empty() %}
                                {{ crate::routing::pages::escape_username(display_name) }}
                            {% else %}
                                {{ question.author.username }}
                            {% endif %}
                        {% else %}
                            {{ question.author.username }}
                        {% endif %}
                    </a>
                    {% else %} {% if let Some(avatar) = anonymous_avatar %} {%
                    if (avatar.is_empty()) | (!avatar.starts_with("https://"))
                    %}
                    <!-- default avatar, setting set but blank or unsafe -->
                    <img
                        title="{{ question.author.username }}'s avatar"
                        src="/static/images/default-avatar.svg"
                        alt=""
                        class="avatar"
                        loading="lazy"
                        style="--size: 25px"
                    />
                    {% else %}
                    <!-- anonymous avatar, setting set and valid -->
                    <img
                        title="This profile's anonymous avatar"
                        src="/api/v0/util/ext/image?img={{ avatar }}"
                        alt=""
                        class="avatar"
                        loading="lazy"
                        style="--size: 25px"
                    />
                    {% endif %} {% else %}
                    <!-- default avatar, setting not set -->
                    <img
                        title="{{ question.author.username }}'s avatar"
                        src="/static/images/default-avatar.svg"
                        alt=""
                        class="avatar"
                        loading="lazy"
                        style="--size: 25px"
                    />
                    {% endif %}

                    <!-- prettier-ignore -->
                    {% if let Some(username) = anonymous_username %}
                        {% if username.is_empty() %}
                            anonymous
                        {% else %}
                            {{ username }}
                        {% endif %}
                    {% else %}
                        anonymous
                    {% endif %}
                    {% endif %}

                    <!-- prettier-ignore -->
                    {% if let Some(profile) = profile %}
                            {% if author_tag.0 && author_tag.1 == profile.id %}
                    <span class="notification">You</span>
                    {% endif %} {% endif %}

                    <!-- prettier-ignore -->
                    {% if is_powerful %}
                    {% if author_tag.0 %}
                    <a class="notification" href="/+u/{{ author_tag.1 }}">
                        {% if author_tag.1.contains("-") %}
                        <span title="User hiding as anonymous">🤫</span>
                        {% endif %}
                        <!-- prettier-ignore -->
                        {% if author_tag.1.len() >= 10 %}
                            {{ author_tag.1[..10] }}
                        {% else %}
                            {{ author_tag.1 }}
                        {% endif %}
                    </a>
                    {% endif %} {% endif %}
                </b>

                <span class="date item fade">{{ question.timestamp }}</span>

                {% if question.recipient.id == "@" %}
                <a
                    class="button item primary icon-only small"
                    href="/question/{{ question.id }}"
                    title="Global question"
                >
                    {{ icon "globe" }}
                </a>
                {% endif %}
            </div>
        </div>

        <!-- prettier-ignore -->
        <span class="question_content" hook="long" hook-arg="lowered">
            <p style="display: none">{{ question.context.media }}</p>
            {{ rainbeam_shared::ui::render_markdown(question.content)|safe }}

            {% if !response.reply.is_empty() && response.context.is_post == false && do_render_nested == true %}
            <include-partial
                src="/_app/components/response.html?id={{ response.reply }}&do_render_nested=false"
                uses="app:clean_date_codes,app:link_filter,app:hook.alt"
            ></include-partial>
            {% endif %}
        </span>
    </div>
    {% else %}
    <div class="card" style="display: none"></div>
    {% endif %}

    <div class="card flex flex-col gap-1 response_body">
        <!-- prettier-ignore -->
        {% if (do_not_render_question == true) | (response.context.is_post == true) %}
            {% include "components/response_title.html" %}
        {% endif %}

        <!-- prettier-ignore -->
        <span class="response_content {% if !response.context.warning.is_empty() %}hidden{% endif %}" hook="long">
            {{ rainbeam_shared::ui::render_markdown(response.content)|safe }}

            {% if !response.reply.is_empty() && response.context.is_post == true && do_render_nested == true %}
            <include-partial
                src="/_app/components/response.html?id={{ response.reply }}&do_render_nested=false"
                uses="app:clean_date_codes,app:link_filter,app:hook.alt"
            ></include-partial>
            {% endif %}
        </span>

        {% if !response.context.warning.is_empty() %}
        <span
            class="response_warning markdown-alert-draft"
            style="cursor: pointer; margin-bottom: 0"
        >
            <div class="flex flex-col gap-4 w-full">
                {{ response.context.warning }}

                <div class="flex items-center gap-4">
                    <button class="bold primary border small">
                        {{ text "general:dialog.okay" }}
                    </button>

                    <span class="fade text-small">
                        {{ text "response_inner.html:text.click_to_view" }}
                    </span>
                </div>
            </div>
        </span>
        {% endif %} {% if do_render_nested == true %}
        <span class="response_tags flex gap-2 flex-wrap">
            {% for tag in response.tags %}
            <a
                href="/@{{ response.author.username }}?tag={{ tag }}"
                class="tag"
            >
                #{{ tag }}
            </a>
            {% endfor %}
        </span>
        {% endif %}

        <!-- prettier-ignore -->
        {% if (do_not_render_question == false) && (response.context.is_post == false) %}
            {% include "components/response_title.html" %}
        {% endif %}
    </div>
</div>
