<!-- prettier-ignore -->
<div id="stylesheets">
{% if let Some(css) = raw_metadata.kv.get("rainbeam:market_theme_template") %}
    {% if !css.is_empty() %}
        <style id="rainbeam:market_theme_template">{{ css|safe }}</style>
    {% endif %}
{% endif %}
{% if let Some(color) = raw_metadata.kv.get("sparkler:color_surface") %}
    {% let color = crate::routing::pages::color_escape(color) %}
    {% if !color.is_empty() %}
        <style id="sparkler_live:color_surface">:root, * { --color-surface: {{ color|safe }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = raw_metadata.kv.get("sparkler:color_lowered") %}
    {% let color = crate::routing::pages::color_escape(color) %}
    {% if !color.is_empty() %}
        <style id="sparkler_live:color_lowered">:root, * { --color-lowered: {{ color|safe }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = raw_metadata.kv.get("sparkler:color_super_lowered") %}
    {% let color = crate::routing::pages::color_escape(color) %}
    {% if !color.is_empty() %}
        <style id="sparkler_live:color_super_lowered">:root, * { --color-super-lowered: {{ color|safe }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = raw_metadata.kv.get("sparkler:color_raised") %}
    {% let color = crate::routing::pages::color_escape(color) %}
    {% if !color.is_empty() %}
        <style id="sparkler_live:color_raised">:root, * { --color-raised: {{ color|safe }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = raw_metadata.kv.get("sparkler:color_super_raised") %}
    {% let color = crate::routing::pages::color_escape(color) %}
    {% if !color.is_empty() %}
        <style id="sparkler_live:color_super_raised">:root, * { --color-super-raised: {{ color|safe }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = raw_metadata.kv.get("sparkler:color_text") %}
    {% let color = crate::routing::pages::color_escape(color) %}
    {% if !color.is_empty() %}
        <style id="sparkler_live:color_text">:root, * { --color-text: {{ color|safe }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = raw_metadata.kv.get("sparkler:color_text_raised") %}
    {% let color = crate::routing::pages::color_escape(color) %}
    {% if !color.is_empty() %}
        <style id="sparkler_live:color_text_raised">:root, * { --color-text-raised: {{ color|safe }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = raw_metadata.kv.get("sparkler:color_text_lowered") %}
    {% let color = crate::routing::pages::color_escape(color) %}
    {% if !color.is_empty() %}
        <style id="sparkler_live:color_text_lowered">:root, * { --color-text-lowered: {{ color|safe }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = raw_metadata.kv.get("sparkler:color_link") %}
    {% let color = crate::routing::pages::color_escape(color) %}
    {% if !color.is_empty() %}
        <style id="sparkler_live:color_link">:root, * { --color-link: {{ color|safe }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = raw_metadata.kv.get("sparkler:color_primary") %}
    {% let color = crate::routing::pages::color_escape(color) %}
    {% if !color.is_empty() %}
        <style id="sparkler_live:color_primary">:root, * { --color-primary: {{ color|safe }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = raw_metadata.kv.get("sparkler:color_primary_lowered") %}
    {% let color = crate::routing::pages::color_escape(color) %}
    {% if !color.is_empty() %}
        <style id="sparkler_live:color_primary_lowered">:root, * { --color-primary-lowered: {{ color|safe }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = raw_metadata.kv.get("sparkler:color_primary_alpha") %}
    {% let color = crate::routing::pages::color_escape(color) %}
    {% if !color.is_empty() %}
        <style id="sparkler_live:color_primary_alpha">:root, * { --color-primary-alpha: {{ color|safe }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = raw_metadata.kv.get("sparkler:color_primary_raised") %}
    {% let color = crate::routing::pages::color_escape(color) %}
    {% if !color.is_empty() %}
        <style id="sparkler_live:color_primary_raised">:root, * { --color-primary-raised: {{ color|safe }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = raw_metadata.kv.get("sparkler:color_text_primary") %}
    {% let color = crate::routing::pages::color_escape(color) %}
    {% if !color.is_empty() %}
        <style id="sparkler_live:color_text_primary">:root, * { --color-text-primary: {{ color|safe }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = raw_metadata.kv.get("sparkler:color_shadow") %}
    {% let color = crate::routing::pages::color_escape(color) %}
    {% if !color.is_empty() %}
        <style id="sparkler_live:color_shadow">:root, * { --color-shadow: {{ color|safe }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(css) = raw_metadata.kv.get("sparkler:custom_css") %}
    {% if !css.is_empty() %}
        <style id="sparkler_live:custom_css">{{ css|safe }}</style>
    {% endif %}
{% endif %}

{% if let Some(img_url) = raw_metadata.kv.get("sparkler:desktop_tl_logo") %}
{% if !img_url.is_empty() %}
{% let img_url = img_url.replace("`", "") %}
<script>
    document.getElementById("title-img").src = `/api/v0/util/ext/image?img={{ img_url }}`
</script>
{% endif %}
{% endif %}
</div>

<script type="text/plain" id="theme">
    {% if let Some(theme) = raw_metadata.kv.get("sparkler:profile_theme") %}
        {% if !theme.is_empty() %}
            {{ theme }}
        {% endif %}
    {% endif %}
</script>

<script>
    (() => {
        const is_self_theme = document.getElementById("is_self") !== null;

        // theme preference
        const theme_pref = window.localStorage.getItem("theme-pref") || "yes";

        if (theme_pref === "no" && !is_self_theme) {
            document.getElementById("stylesheets").remove(); // remove custom theme stuff
        }

        // css preference
        const css_pref = window.localStorage.getItem("css-pref") || "yes";

        if (
            css_pref === "no" &&
            !is_self_theme &&
            document.getElementById("sparkler_live:custom_css")
        ) {
            document.getElementById("sparkler_live:custom_css").remove(); // remove custom css stuff
        }

        // profile theme
        const profile_theme = document.getElementById("theme").innerText.trim();

        if (profile_theme !== "" && (theme_pref !== "no" || is_self_theme)) {
            document.documentElement.setAttribute("class", profile_theme);
            globalThis.USES_DIFF_THEME = true;
            globalThis.IS_SELF_THEME = true;
        }
    })();
</script>
