{% if let Some(profile) = profile %} {% if
user.metadata.exists("sparkler:status_note") | (profile.id == user.id) %} {% if
let Some(note) = user.metadata.kv.get("sparkler:status_note") %} {% if
!note.is_empty() | (profile.id == user.id) %}
<button
    class="status_note primary {% if use_static == true %}static{% endif %}"
    title="View note"
    onclick="document.getElementById('status:{{ user.id }}').showModal()"
>
    <!-- prettier-ignore -->
    {% if let Some(emoji) = user.metadata.kv.get("sparkler:status_emoji") %}
        {% if !emoji.is_empty() %}
            {{ emoji }}
        {% else %}
            💭
        {% endif %}
    {% else %}
        💭
    {% endif %}
</button>

<dialog id="status:{{ user.id }}">
    <div class="inner" style="min-height: 250px">
        <div class="w-full flex justify-between items-center gap-2">
            <b>{{ user.username }}</b>
            <div class="flex gap-2">
                {% if profile.id == user.id %}
                <a
                    href="/settings?note"
                    class="button camo icon-only"
                    title="Edit note"
                    target="_blank"
                >
                    {{ icon "pen" }}
                </a>
                {% endif %}

                <div class="dropdown">
                    <button
                        onclick="trigger('app:hook.dropdown', [event])"
                        exclude="dropdown"
                        class="camo icon-only"
                    >
                        {{ icon "ellipsis" }}
                    </button>

                    <div class="inner shadow-md w-content" exclude="dropdown">
                        {% if profile.id == user.id %}
                        <a
                            href="/settings?note_clear"
                            target="_blank"
                            class="red"
                        >
                            {{ icon "trash" }} Clear
                        </a>
                        {% endif %}

                        <b class="title">Actions</b>

                        <a href="/@{{ user.username }}">
                            {{ icon "circle-user-round" }} Show profile
                        </a>

                        <button
                            onclick="trigger('chats:create', ['{{ user.id }}'])"
                        >
                            {{ icon "message-circle-plus" }} Chat
                        </button>

                        <a
                            href="javascript:trigger('reports:bootstrap', ['profiles', '{{ user.username }}'])"
                        >
                            {{ icon "flag" }} Report
                        </a>
                    </div>
                </div>

                <button
                    class="bold red camo icon-only"
                    onclick="document.getElementById('status:{{ user.id }}').close()"
                    type="button"
                    title="Close"
                >
                    {{ icon "circle-x" }}
                </button>
            </div>
        </div>

        <hr class="flipped" />
        <span>{{ shared::ui::render_markdown(note)|safe }}</span>
    </div>
</dialog>
{% endif %} {% endif %} {% endif %} {% endif %}
