{% if let Some(profile) = profile %} {% if
user.metadata.exists("sparkler:status_note") | (profile.id == user.id) %}
<button
    class="status_note primary {% if use_static == true %}static{% endif %}"
    title="View note"
    onclick="document.getElementById('status:{{ user.id }}').showModal()"
>
    <!-- prettier-ignore -->
    {% if let Some(emoji) = user.metadata.kv.get("sparkler:status_emoji") %}
        {% if !emoji.is_empty() %}
            {{ emoji }}
        {% else %}
            💭
        {% endif %}
    {% else %}
        💭
    {% endif %}
</button>

<dialog id="status:{{ user.id }}">
    <div class="inner" style="min-height: 250px">
        <div class="w-full flex justify-between items-center gap-2">
            <b>{{ user.username }}</b>
            <div class="flex gap-2">
                {% if profile.id == user.id %}
                <a
                    href="/settings?note"
                    class="button camo icon-only"
                    title="Edit note"
                    target="_blank"
                >
                    <i class="icon" data-lucide="pen"></i>
                </a>
                {% endif %}

                <div class="dropdown">
                    <button
                        onclick="trigger('app:hook.dropdown', [event])"
                        exclude="dropdown"
                        class="camo icon-only"
                    >
                        <i class="icon" data-lucide="ellipsis"></i>
                    </button>

                    <div class="inner shadow-md w-content" exclude="dropdown">
                        <b class="title">Actions</b>

                        <a href="/@{{ user.username }}">
                            <i class="icon" data-lucide="circle-user-round"></i>
                            Show profile
                        </a>

                        <button
                            onclick="trigger('chats:create', ['{{ user.id }}'])"
                        >
                            <i
                                class="icon"
                                data-lucide="message-circle-plus"
                            ></i>
                            Chat
                        </button>

                        <a
                            href="javascript:trigger('reports:bootstrap', ['profiles', '{{ user.username }}'])"
                        >
                            <i class="icon" data-lucide="flag"></i>
                            Report
                        </a>
                    </div>
                </div>

                <button
                    class="bold red camo icon-only"
                    onclick="document.getElementById('status:{{ user.id }}').close()"
                    type="button"
                    title="Close"
                >
                    <i class="icon" data-lucide="circle-x"></i>
                </button>
            </div>
        </div>

        <hr class="flipped" />
        {% if let Some(note) = user.metadata.kv.get("sparkler:status_note") %}
        <span>{{ shared::ui::render_markdown(note)|safe }}</span>
        {% endif %}
    </div>
</dialog>
{% endif %} {% endif %}
