<div class="card-nest w-full shadow" id="warning:{{ warning.id }}">
    <div class="card flex flex-col gap-1">
        <div class="flex justify-between gap-1 warning_title">
            <div class="footernav items-center">
                <b class="flex items-center gap-2 item">
                    <img
                        title="{{ warning.moderator.username }}'s avatar"
                        src="/api/v0/auth/profile/{{ warning.moderator.id }}/avatar"
                        alt=""
                        class="avatar"
                        loading="lazy"
                        style="--size: 20px"
                    />

                    <a
                        href="/@{{ warning.moderator.username }}"
                        style="color: inherit"
                    >
                        {{ warning.moderator.username }}
                    </a>
                </b>

                <span class="date item">{{ warning.timestamp }}</span>
            </div>

            <div class="flex gap-2">
                <!-- options -->
                <div class="dropdown">
                    <button
                        class="secondary"
                        onclick="trigger('app:hook.dropdown', [event])"
                        exclude="dropdown"
                    >
                        {{ icon "ellipsis" }}
                    </button>

                    <div class="inner shadow-md w-content" exclude="dropdown">
                        <!-- actions for warning moderator ONLY -->
                        {% if let Some(profile) = profile %} {% if profile.id ==
                        warning.moderator.id %}
                        <b class="title">Manage</b>
                        <a
                            href="#"
                            onclick="trigger('account_warnings:delete', ['{{ warning.id }}'])"
                            class="red"
                        >
                            {{ icon "trash" }}
                            Delete
                        </a>
                        {% endif %} {% endif %}
                        <!-- actions for everybody -->
                        <b class="title">Tools</b>
                        <a
                            href="#"
                            onclick="trigger('app:copy_text', ['{{ warning.id }}'])"
                        >
                            {{ icon "copy" }}
                            Copy ID
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" class="warning_content">
        {{ shared::ui::render_markdown(warning.content)|safe }}
    </div>
</div>
