{% extends "raw_base.html" %} {% block title %}Carpgraph{% endblock %} {% block
base %}
<script>
    setTimeout(() => {
        use("carp", (carp) => {
            const sammy = carp.new(document.body);
            globalThis.sammy = sammy;
            sammy.create_canvas();

            sammy.resize({
                x: window.innerWidth,
                y: window.innerHeight - 60,
            });

            window.addEventListener("beforeunload", (e) => {
                e.preventDefault();
                event.returnValue = true;
            });
        });
    }, 100);
</script>

<style>
    body {
        display: flex;
        flex-direction: column;
        overflow: auto;
        width: max-content;
    }

    canvas {
        border-radius: 0;
        border: none;
        box-shadow: none;
    }

    .carp\:toolbar {
        background: var(--color-lowered);
        border-top: solid 2px var(--color-primary);
        padding: 0.75rem;
        width: 100%;
        height: 60px;
    }
</style>
{% call super() %} {% endblock %}
