{% extends "base.html" %} {% block title %}Login - {{ config.name }}{% endblock
%} {% block content %}
<div id="use_split_page"></div>
<article class="flex flex-col gap-1 items-center page_section">
    <main class="flex flex-col gap-2">
        <div
            id="success"
            class="card flex flex-col gap-2"
            style="display: none; width: 100%"
        ></div>
        <div
            id="error"
            class="markdown-alert-caution"
            style="display: none; width: 100%"
        ></div>

        <div id="forms" class="flex flex-col gap-2 items-center">
            <h3 class="no-margin">{{ text "auth:login.html:title.login" }}</h3>

            <div class="card" style="width: 25rem">
                <form id="login_form" class="flex flex-col gap-2">
                    <div class="row flex flex-col gap-1">
                        <label for="username"
                            >{{ text "auth:label.username" }}</label
                        >
                        <input
                            type="text"
                            name="username"
                            id="username"
                            required
                            minlength="2"
                            maxlength="32"
                        />
                    </div>

                    <div class="row flex flex-col gap-1">
                        <label for="password"
                            >{{ text "auth:label.password" }}</label
                        >
                        <input
                            type="password"
                            name="password"
                            id="password"
                            required
                            minlength="6"
                        />
                    </div>

                    <details>
                        <summary class="flex items-center gap-2">
                            {{ icon "ellipsis" }}
                            <span
                                >{{ text "settings:account.html:label.2fa"
                                }}</span
                            >
                        </summary>

                        <div class="flex flex-col gap-1 card w-full">
                            <p>
                                This section is only important if you have TOTP
                                enabled for your account. You can ignore it if
                                you don't.
                            </p>

                            <label for="totp">TOTP code</label>
                            <input
                                type="text"
                                name="totp"
                                id="totp"
                                minlength="6"
                                maxlength="16"
                            />
                        </div>
                    </details>

                    <hr />

                    <div
                        class="h-captcha"
                        data-sitekey="{{ config.captcha.site_key }}"
                    ></div>

                    <hr />

                    <button class="primary bold">
                        {{ text "general:link.login" }}
                    </button>
                </form>
            </div>

            <p>
                {{ text "auth:login.html:text.no_account" }}
                <a href="/sign_up" data-turbo="false"
                    >{{ text "general:link.sign_up" }}</a
                >
            </p>
        </div>

        <script>
            const error = document.getElementById("error");
            const success = document.getElementById("success");
            const forms = document.getElementById("forms");
            const callback = "/api/v0/auth/callback";

            document
                .getElementById("login_form")
                .addEventListener("submit", async (e) => {
                    e.preventDefault();
                    const res = await fetch("/api/v0/auth/login", {
                        method: "POST",
                        body: JSON.stringify({
                            username: e.target.username.value,
                            password: e.target.password.value,
                            token: e.target.querySelector(".h-captcha textarea")
                                .value,
                            totp: e.target.totp.value || "",
                        }),
                        headers: {
                            "Content-Type": "application/json",
                        },
                    });

                    const json = await res.json();

                    if (json.success === false) {
                        error.style.display = "block";
                        error.innerHTML = `<div class="mdnote-title">${json.message}</div>`;
                    } else {
                        // update tokens
                        const new_tokens = ns("me").LOGIN_ACCOUNT_TOKENS;
                        new_tokens[e.target.username.value] = json.message;
                        trigger("me::set_login_account_tokens", [new_tokens]);

                        // ...
                        success.style.display = "flex";
                        success.innerHTML = `<p>Successfully logged into account.</p>

                        <hr />
                        <a href="${callback}?token=${json.message}" class="button login bold">Continue</a>`;
                        forms.style.display = "none";
                    }
                });
        </script>
    </main>
</article>
{% call super() %} {% endblock %}
