{% extends "base.html" %} {% block title %}My chats - {{ config.name }}{%
endblock %} {% block nav_left %}
<a class="button" href="/" title="Timeline">
    <i class="icon" data-lucide="house"></i>
    <span class="desktop">Timeline</span>
    <span class="mobile">Home</span>
</a>

<a class="button" href="/inbox" title="My inbox">
    <i class="icon" data-lucide="inbox"></i>
    <span class="flex items-center gap-2">
        <span>Inbox</span>
        {% if unread != 0 %}
        <span class="notification tr">{{ unread }}</span>
        {% endif %}
    </span>
</a>
{% endblock %} {% block nav_right %}
<a class="button" href="/inbox/notifications" title="My notifications">
    <i class="icon" data-lucide="bell"></i>
    {% if notifs != 0 %}
    <span class="notification tr">{{ notifs }}</span>
    {% endif %}
</a>
{% endblock %} {% block content %}
<style>
    body {
        overflow: hidden;
    }

    nav {
        margin-bottom: 0 !important;
    }

    article,
    main {
        width: 100dvw !important;
    }
</style>

<script>
    globalThis.message_contents = {};
</script>

<article style="height: calc(100dvh - 48px - 1.5rem); padding: 0">
    <div id="is_chat_page"></div>

    <main class="flex flex-col justify-between gap-4" style="height: 100%">
        <header
            class="w-full flex justify-between gap-2"
            style="
                padding: 0.75rem 0;
                border-bottom: solid 1px var(--color-super-lowered);
            "
        >
            <div class="flex items-center gap-2">
                <a href="/chats" class="camo button icon-only" title="Back">
                    <i class="icon" data-lucide="chevron-left"></i>
                </a>

                <b>{{ chat.name }}</b>
            </div>
            <div class="dropdown">
                <button
                    class="camo icon-only"
                    onclick="trigger('app:hook.dropdown', [event])"
                    exclude="dropdown"
                >
                    <i class="icon" data-lucide="ellipsis"></i>
                </button>

                <div class="inner shadow-md" exclude="dropdown">
                    <b class="title">Actions</b>
                    <button
                        onclick="document.getElementById('name_dialog').showModal()"
                    >
                        <i class="icon" data-lucide="pen"></i>
                        Change name
                    </button>

                    <button
                        onclick="document.getElementById('add_friends_dialog').showModal()"
                    >
                        <i class="icon" data-lucide="user-plus"></i>
                        Add friend
                    </button>

                    <button
                        class="red"
                        onclick="trigger('chats:leave', ['{{ chat.id }}'])"
                    >
                        <i class="icon" data-lucide="x"></i>
                        Leave
                    </button>

                    <b class="title">Tools</b>
                    <a
                        href="javascript:trigger('reports:bootstrap', ['chats', '{{ chat.id }}'])"
                    >
                        <i class="icon" data-lucide="flag"></i>
                        Report
                    </a>
                </div>
            </div>
        </header>

        <div id="chat_members" class="flex flex-wrap gap-2 w-full">
            {% for member in members %}
            <a href="/@{{ member.username }}">
                <img
                    title="{{ member.username }}'s avatar"
                    src="/api/v0/auth/profile/{{ member.id }}/avatar"
                    alt="@{{ member.username }}"
                    class="avatar"
                    loading="lazy"
                    style="--size: 20px"
                />
            </a>
            {% endfor %}
        </div>

        <div
            class="flex gap-1 window"
            id="messages"
            style="
                height: 100%;
                max-height: 100%;
                overflow: auto;
                flex-direction: column-reverse;
            "
        >
            {% if messages.len() == 0 %}
            <div class="markdown-alert-important">
                <span>No results matching this query yet!</span>
            </div>
            {% endif %}

            <div class="flex justify-center w-full">
                {% if page > 0 %}
                <a
                    class="button secondary"
                    href="?page={{ page - 1 }}"
                    id="previous_button"
                >
                    Go back
                </a>
                {% endif %}
            </div>

            <!-- prettier-ignore -->
            {% if let Some(user) = profile %}
                {% for message in messages %}
                    {% let is_own = user.id == message.1.id %}
                    {% include "components/message.html" %}
                {% endfor %}
            {% endif %}

            <div class="flex justify-center w-full">
                {% if messages.len() >= 50 %}
                <a class="button secondary" href="?page={{ page + 1 }}">
                    Load more
                </a>
                {% endif %}
            </div>
        </div>

        <footer class="card shadow w-full flex flex-col gap-2">
            <script src="https://unpkg.com/codemirror@5.39.2/lib/codemirror.js"></script>
            <script src="https://unpkg.com/codemirror@5.39.2/addon/display/placeholder.js"></script>
            <script src="https://unpkg.com/codemirror@5.39.2/mode/markdown/markdown.js"></script>

            <link
                rel="stylesheet"
                href="https://unpkg.com/codemirror@5.39.2/lib/codemirror.css"
            />

            <b id="above_form_text" style="display: none"></b>

            <form
                id="message_writer_form"
                class="flex gap-1"
                style="flex-direction: row"
                onsubmit="send_message(event)"
            >
                <div id="message_writer" class="message_editor"></div>
                <button class="normal primary icon-only" title="Send">
                    <i class="icon" data-lucide="send"></i>
                </button>

                <script>
                    setTimeout(() => {
                        use("codemirror", (codemirror) => {
                            codemirror.create_editor(
                                document.getElementById("message_writer"),
                                "",
                                "Send a message",
                                "message_writer_",
                            );
                        });
                    }, 500);
                </script>
            </form>

            <form
                id="message_editor_form"
                class="flex gap-1"
                style="flex-direction: row; display: none"
                onsubmit="edit_message(event)"
            >
                <div id="message_editor" class="message_editor"></div>
                <button class="normal primary icon-only" title="Save">
                    <i class="icon" data-lucide="save"></i>
                </button>

                <script>
                    setTimeout(() => {
                        use("codemirror", (codemirror) => {
                            codemirror.create_editor(
                                document.getElementById("message_editor"),
                                "",
                                "Edit message",
                                "message_editor_",
                            );
                        });
                    }, 500);
                </script>
            </form>

            <style>
                .message_editor {
                    width: 100%;
                }

                .CodeMirror {
                    height: max-content !important;
                }
            </style>
        </footer>

        {% if let Some(user) = profile %}
        <script>
            window.CHAT_USER_ID = "{{ user.id }}";
            window.CHAT_ID = "{{ chat.id }}";
        </script>
        {% endif %}

        <script>
            globalThis.send_message = (event) => {
                event.preventDefault();
                trigger("chats:msg", [
                    "{{ chat.id }}",
                    globalThis.message_writer_.getValue(),
                ]).then((message) => {
                    event.target.reset();
                    globalThis.message_writer_.setValue("");
                    globalThis.message_writer_.clearHistory();
                    fetch_last(() => {}); // render new message by fetching it
                });
            };

            globalThis.edit_message = (event) => {
                event.preventDefault();
                trigger("chats:msg_edit", [
                    ns("chats").EDIT_MESSAGE_ID,
                    globalThis.message_editor_.getValue(),
                ]).then((_) => {
                    event.target.reset();
                    globalThis.message_editor_.clearHistory();
                    trigger("chats:ui.views.writer"); // hide editor
                });
            };

            globalThis.update_name = (event) => {
                event.preventDefault();
                trigger("chats:name", [
                    "{{ chat.id }}",
                    event.target.content.value,
                ]).then(() => {
                    document.getElementById("name_dialog").close();
                });
            };

            globalThis.add_friend = (event) => {
                event.preventDefault();
                trigger("chats:add", [
                    "{{ chat.id }}",
                    event.target.friend.options[
                        event.target.friend.selectedIndex
                    ].value,
                ]).then(() => {
                    event.target.reset();
                    document.getElementById("add_friends_dialog").close();
                });
            };

            // polling
            // we were originally going to do some stupidly complicated websocket thing, but this is easy
            let last_message_id = "{{ last_message_id }}";
            const times = [1500, 2500, 3500, 4500, 5500, 6500];

            const gen_ran_poll_time = () => {
                return Math.floor(Math.random() * times.length);
            };

            const fetch_last = (callback) => {
                fetch("/api/v1/chats/{{ chat.id }}/last")
                    .then((res) => res.json())
                    .then((res) => {
                        if (!res.success) {
                            callback();
                            return;
                        }

                        if (res.payload[0].id !== last_message_id) {
                            // render message and show
                            last_message_id = res.payload[0].id;

                            // fetch whole page again (in case we missed some messages)
                            fetch("/api/v1/chats/{{ chat.id }}/messages")
                                .then((res) => res.json())
                                .then((res) => {
                                    for (msg of res.payload) {
                                        if (
                                            document.getElementById(
                                                `message:${msg[0].id}`,
                                            )
                                        ) {
                                            // message already exists on page
                                            continue;
                                        }

                                        trigger("chats:msg.html", [
                                            msg,
                                            document.getElementById("messages"),
                                            msg[1].id === window.CHAT_USER_ID, // check if this message is from us (so we don't send notif request)
                                        ]);
                                    }

                                    trigger("app:lucide", []);
                                });
                        }

                        callback();
                    });
            };

            const poll = () => {
                if (!window.location.pathname.startsWith("/chats")) {
                    return;
                }

                if (document.getElementById("previous_button")) {
                    // we're exploring old messages, no need to poll
                    console.log("poll cancelled");
                    setTimeout(poll, times[gen_ran_poll_time()]); // keep waiting to poll again in case page changes
                    return;
                }

                fetch_last(() => {
                    setTimeout(poll, times[gen_ran_poll_time()]);
                });
            };

            setTimeout(poll, times[gen_ran_poll_time()]);
        </script>
    </main>
</article>

<dialog id="name_dialog">
    <form class="inner flex flex-col gap-2" onsubmit="update_name(event)">
        <!-- prettier-ignore -->
        <label for="new_name">Edit chat name</label>

        <input
            class="w-full"
            placeholder="Name this chat!"
            minlength="2"
            maxlength="32"
            value="{{ chat.name }}"
            required
            name="content"
            id="new_name"
            hook="counter"
        />

        <div>
            <span id="new_name:counter" class="notification item"></span>
        </div>

        <hr />
        <div class="flex gap-2">
            <button class="primary bold">Confirm</button>
            <button
                class="bold"
                onclick="document.getElementById('name_dialog').close()"
                type="button"
            >
                Cancel
            </button>
        </div>
    </form>
</dialog>

{% if let Some(profile) = profile %} {% let other = profile.clone() %} {% if
profile.username == other.username %}
<dialog id="add_friends_dialog">
    <form class="inner flex flex-col gap-2" onsubmit="add_friend(event)">
        <!-- prettier-ignore -->
        <label for="friend">Add a friend</label>

        <select name="friend" id="friend" required>
            <option value="" disabled selected>Select a friend</option>

            <!-- prettier-ignore -->
            {% for user in friends %}
            {% if other.id != user.0.id %}
            <!-- prettier-ignore -->
            <option
                value="{{ user.0.id }}"
                {% if chat.users.contains(user.0.id) %}disabled{% endif %}
            >
                {{ user.0.username }}
            </option>
            {% else %}
            <!-- prettier-ignore -->
            <option
                value="{{ user.1.id }}"
                {% if chat.users.contains(user.1.id) %}disabled{% endif %}
            >
                {{ user.1.username }}
            </option>
            {% endif %} {% endfor %}
        </select>

        <hr />
        <div class="flex gap-2">
            <button class="primary bold">Confirm</button>
            <button
                class="bold"
                onclick="document.getElementById('add_friends_dialog').close()"
                type="button"
            >
                Cancel
            </button>
        </div>
    </form>
</dialog>

<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% endif %} {% call super() %} {% endblock %}
