{% extends "base.html" %} {% block title %}My chats - {{ config.name }}{%
endblock %} {% block nav_left %}
<a class="button" href="/" title="Timeline">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="18"
        height="18"
        aria-label="Home symbol"
        class="icon"
    >
        <path
            d="M12.97 2.59a1.5 1.5 0 0 0-1.94 0l-7.5 6.363A1.5 1.5 0 0 0 3 10.097V19.5A1.5 1.5 0 0 0 4.5 21h4.75a.75.75 0 0 0 .75-.75V14h4v6.25c0 .414.336.75.75.75h4.75a1.5 1.5 0 0 0 1.5-1.5v-9.403a1.5 1.5 0 0 0-.53-1.144l-7.5-6.363Z"
        ></path>
    </svg>
    <span class="desktop">Timeline</span>
    <span class="mobile">Home</span>
</a>

<a class="button" href="/inbox" title="My inbox">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        width="16"
        height="16"
        aria-label="Inbox symbol"
        class="icon"
    >
        <path
            d="M2.8 2.06A1.75 1.75 0 0 1 4.41 1h7.18c.7 0 1.333.417 1.61 1.06l2.74 6.395c.04.093.06.194.06.295v4.5A1.75 1.75 0 0 1 14.25 15H1.75A1.75 1.75 0 0 1 0 13.25v-4.5c0-.101.02-.202.06-.295Zm1.61.44a.25.25 0 0 0-.23.152L1.887 8H4.75a.75.75 0 0 1 .6.3L6.625 10h2.75l1.275-1.7a.75.75 0 0 1 .6-.3h2.863L11.82 2.652a.25.25 0 0 0-.23-.152Zm10.09 7h-2.875l-1.275 1.7a.75.75 0 0 1-.6.3h-3.5a.75.75 0 0 1-.6-.3L4.375 9.5H1.5v3.75c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25Z"
        ></path>
    </svg>
    <span>Inbox</span>
    {% if unread != 0 %}
    <span class="notification tr">{{ unread }}</span>
    {% endif %}
</a>
{% endblock %} {% block nav_right %}
<a class="button" href="/inbox/notifications" title="My notifications">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        width="16"
        height="16"
        aria-label="Bell symbol"
        class="icon"
    >
        <path
            d="M8 16a2 2 0 0 0 1.985-1.75c.017-.137-.097-.25-.235-.25h-3.5c-.138 0-.252.113-.235.25A2 2 0 0 0 8 16ZM3 5a5 5 0 0 1 10 0v2.947c0 .05.015.098.042.139l1.703 2.555A1.519 1.519 0 0 1 13.482 13H2.518a1.516 1.516 0 0 1-1.263-2.36l1.703-2.554A.255.255 0 0 0 3 7.947Zm5-3.5A3.5 3.5 0 0 0 4.5 5v2.947c0 .346-.102.683-.294.97l-1.703 2.556a.017.017 0 0 0-.003.01l.001.006c0 .002.002.004.004.006l.006.004.007.001h10.964l.007-.001.006-.004.004-.006.001-.007a.017.017 0 0 0-.003-.01l-1.703-2.554a1.745 1.745 0 0 1-.294-.97V5A3.5 3.5 0 0 0 8 1.5Z"
        ></path>
    </svg>
    {% if notifs != 0 %}
    <span class="notification tr">{{ notifs }}</span>
    {% endif %}
</a>
{% endblock %} {% block content %}
<article style="height: calc(100dvh - 48px - 4rem)">
    <main class="flex flex-col justify-between gap-4" style="height: 100%">
        <header
            class="w-full flex justify-between gap-2"
            style="
                padding: 0.75rem 0;
                border-bottom: solid 1px var(--color-super-lowered);
            "
        >
            <div class="flex items-center gap-2">
                <a href="/chats" class="camo button" title="Back">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16"
                        width="16"
                        height="16"
                        aria-label="Left chevron icon"
                        class="icon"
                    >
                        <path
                            d="M9.78 12.78a.75.75 0 0 1-1.06 0L4.47 8.53a.75.75 0 0 1 0-1.06l4.25-4.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042L6.06 8l3.72 3.72a.75.75 0 0 1 0 1.06Z"
                        ></path>
                    </svg>
                </a>

                <b>{{ chat.name }}</b>
            </div>
            <div class="dropdown">
                <button
                    class="camo"
                    onclick="trigger('app:hook.dropdown', [event])"
                    exclude="dropdown"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16"
                        width="16"
                        height="16"
                        aria-label="Ellipsis symbol"
                        class="icon"
                    >
                        <path
                            d="M8 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM1.5 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm13 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                        ></path>
                    </svg>
                </button>

                <div class="inner shadow-md" exclude="dropdown">
                    <b class="title">Actions</b>
                    <button
                        onclick="document.getElementById('name_dialog').showModal()"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            width="16"
                            height="16"
                            aria-label="Pencil symbol"
                            class="icon"
                        >
                            <path
                                d="M11.013 1.427a1.75 1.75 0 0 1 2.474 0l1.086 1.086a1.75 1.75 0 0 1 0 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 0 1-.927-.928l.929-3.25c.081-.286.235-.547.445-.758l8.61-8.61Zm.176 4.823L9.75 4.81l-6.286 6.287a.253.253 0 0 0-.064.108l-.558 1.953 1.953-.558a.253.253 0 0 0 .108-.064Zm1.238-3.763a.25.25 0 0 0-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 0 0 0-.354Z"
                            ></path>
                        </svg>
                        Change name
                    </button>

                    <button
                        onclick="document.getElementById('add_friends_dialog').showModal()"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            width="16"
                            height="16"
                            aria-label="Person add symbol"
                            class="icon"
                        >
                            <path
                                d="M7.9 8.548h-.001a5.528 5.528 0 0 1 3.1 4.659.75.75 0 1 1-1.498.086A4.01 4.01 0 0 0 5.5 9.5a4.01 4.01 0 0 0-4.001 3.793.75.75 0 1 1-1.498-.085 5.527 5.527 0 0 1 3.1-4.66 3.5 3.5 0 1 1 4.799 0ZM13.25 0a.75.75 0 0 1 .75.75V2h1.25a.75.75 0 0 1 0 1.5H14v1.25a.75.75 0 0 1-1.5 0V3.5h-1.25a.75.75 0 0 1 0-1.5h1.25V.75a.75.75 0 0 1 .75-.75ZM5.5 4a2 2 0 1 0-.001 3.999A2 2 0 0 0 5.5 4Z"
                            ></path>
                        </svg>
                        Add friend
                    </button>

                    <button
                        class="red"
                        onclick="trigger('chats:leave', ['{{ chat.id }}'])"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            width="16"
                            height="16"
                            aria-label="Leave symbol"
                            class="icon"
                        >
                            <path
                                d="M2 2.75C2 1.784 2.784 1 3.75 1h2.5a.75.75 0 0 1 0 1.5h-2.5a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h2.5a.75.75 0 0 1 0 1.5h-2.5A1.75 1.75 0 0 1 2 13.25Zm10.44 4.5-1.97-1.97a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734l1.97-1.97H6.75a.75.75 0 0 1 0-1.5Z"
                            ></path>
                        </svg>
                        Leave
                    </button>

                    <b class="title">Tools</b>
                    <a
                        href="javascript:trigger('reports:bootstrap', ['chats', '{{ chat.id }}'])"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            width="16"
                            height="16"
                            aria-label="Report symbol"
                            class="icon"
                        >
                            <path
                                d="M4.47.22A.749.749 0 0 1 5 0h6c.199 0 .389.079.53.22l4.25 4.25c.141.14.22.331.22.53v6a.749.749 0 0 1-.22.53l-4.25 4.25A.749.749 0 0 1 11 16H5a.749.749 0 0 1-.53-.22L.22 11.53A.749.749 0 0 1 0 11V5c0-.199.079-.389.22-.53Zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5ZM8 4a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"
                            ></path>
                        </svg>

                        Report
                    </a>
                </div>
            </div>
        </header>

        <div id="chat_members" class="flex flex-wrap gap-2 w-full">
            {% for member in members %}
            <a href="/@{{ member.username }}">
                <img
                    title="{{ member.username }}'s avatar"
                    src="/api/v1/profiles/{{ member.username }}/avatar"
                    alt="@{{ member.username }}"
                    class="avatar round-sm"
                    style="--size: 20px"
                />
            </a>
            {% endfor %}
        </div>

        <div
            class="flex gap-4 window"
            id="messages"
            style="
                height: 100%;
                max-height: 100%;
                overflow: auto;
                flex-direction: column-reverse;
            "
        >
            {% if messages.len() == 0 %}
            <div class="markdown-alert-important">
                <span>No results matching this query yet!</span>
            </div>
            {% endif %}

            <!-- prettier-ignore -->
            {% for message in messages %}
                {% include "components/message.html" %}
            {% endfor %}
        </div>

        <footer class="card w-full">
            <form
                class="flex gap-1"
                style="flex-direction: row"
                onsubmit="send_message(event)"
            >
                <input
                    id="content"
                    name="content"
                    placeholder="Send a message"
                    maxlength="512"
                    style="flex: 1 0"
                />

                <button class="normal primary" title="Send">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16"
                        width="16"
                        height="16"
                        aria-label="Paper airplane symbol"
                        class="icon"
                    >
                        <path
                            d="M.989 8 .064 2.68a1.342 1.342 0 0 1 1.85-1.462l13.402 5.744a1.13 1.13 0 0 1 0 2.076L1.913 14.782a1.343 1.343 0 0 1-1.85-1.463L.99 8Zm.603-5.288L2.38 7.25h4.87a.75.75 0 0 1 0 1.5H2.38l-.788 4.538L13.929 8Z"
                        ></path>
                    </svg>
                </button>
            </form>
        </footer>

        <script>
            globalThis.send_message = (event) => {
                event.preventDefault();
                trigger("chats:msg", [
                    "{{ chat.id }}",
                    event.target.content.value,
                ]).then(() => {
                    event.target.reset();
                    window.location.reload(); // TODO: render message instead of reloading
                });
            };

            globalThis.update_name = (event) => {
                event.preventDefault();
                trigger("chats:name", [
                    "{{ chat.id }}",
                    event.target.content.value,
                ]).then(() => {
                    document.getElementById("name_dialog").close();
                });
            };

            globalThis.add_friend = (event) => {
                event.preventDefault();
                trigger("chats:add", [
                    "{{ chat.id }}",
                    event.target.friend.options[
                        event.target.friend.selectedIndex
                    ].value,
                ]).then(() => {
                    event.target.reset();
                    document.getElementById("add_friends_dialog").close();
                });
            };

            // polling
            // we were originally going to do some stupidly complicated websocket thing, but this is easy
            const last_message_id = "{{ last_message_id }}";
            const times = [1500, 2500, 3500, 4500, 5500, 6500];

            const gen_ran_poll_time = () => {
                return Math.floor(Math.random() * times.length);
            };

            const poll = () => {
                fetch("/api/v1/chats/{{ chat.id }}/last")
                    .then((res) => res.json())
                    .then((res) => {
                        if (!res.success) {
                            setTimeout(poll, times[gen_ran_poll_time()]);
                            return;
                        }

                        if (res.payload[0].id !== last_message_id) {
                            // TODO: render message instead of reloading
                            window.location.reload();
                        } else {
                            setTimeout(poll, times[gen_ran_poll_time()]);
                        }
                    });
            };

            setTimeout(poll, times[gen_ran_poll_time()]);
        </script>
    </main>
</article>

<dialog id="name_dialog">
    <form class="inner flex flex-col gap-2" onsubmit="update_name(event)">
        <!-- prettier-ignore -->
        <label for="new_name">Edit chat name</label>

        <input
            class="w-full"
            placeholder="Name this chat!"
            minlength="2"
            maxlength="32"
            value="{{ chat.name }}"
            required
            name="content"
            id="new_name"
            hook="counter"
        />

        <div>
            <span id="new_name:counter" class="notification item"></span>
        </div>

        <hr />
        <div class="flex gap-2">
            <button class="primary bold">Confirm</button>
            <button
                class="bold"
                onclick="document.getElementById('name_dialog').close()"
                type="button"
            >
                Cancel
            </button>
        </div>
    </form>
</dialog>

{% if let Some(profile) = profile %} {% let other = profile.clone() %} {% if
profile.username == other.username %}
<dialog id="add_friends_dialog">
    <form class="inner flex flex-col gap-2" onsubmit="add_friend(event)">
        <!-- prettier-ignore -->
        <label for="friend">Add a friend</label>

        <select name="friend" id="friend" required>
            <option value="" disabled selected>Select a friend</option>

            <!-- prettier-ignore -->
            {% for user in friends %}
            {% if other.id != user.0.id %}
            <!-- prettier-ignore -->
            <option 
                value="{{ user.0.id }}" 
                {% if chat.users.contains(user.0.id) %}disabled{% endif %}
            >
                {{ user.0.username }}
            </option>
            {% else %}
            <!-- prettier-ignore -->
            <option 
                value="{{ user.1.id }}" 
                {% if chat.users.contains(user.1.id) %}disabled{% endif %}
            >
                {{ user.1.username }}
            </option>
            {% endif %} {% endfor %}
        </select>

        <hr />
        <div class="flex gap-2">
            <button class="primary bold">Confirm</button>
            <button
                class="bold"
                onclick="document.getElementById('add_friends_dialog').close()"
                type="button"
            >
                Cancel
            </button>
        </div>
    </form>
</dialog>

<div id="is_self"></div>
{% endif %} {% include "components/theming.html" %} {% endif %} {% call super()
%} {% endblock %}
