<div class="row flex flex-col gap-1">
    <label for="type">Type</label>
    <select name="type" id="type" required>
        <option value="" disabled selected>
            {{ text "market:label.select_an_item_type" }}
        </option>

        <option value="Text">{{ text "market:text.text" }}</option>
        <option value="UserTheme">{{ text "market:text.user_theme" }}</option>
    </select>
</div>

<div class="row flex flex-col gap-1">
    <label for="name">{{ text "market:label.name" }}</label>
    <input
        type="text"
        name="name"
        id="name"
        required
        minlength="2"
        maxlength="32"
        placeholder="Give your item an appealing name"
    />
</div>

<div class="row flex flex-col gap-1">
    <label for="description">{{ text "market:label.description" }}</label>
    <textarea
        type="text"
        name="description"
        id="description"
        minlength="0"
        maxlength="8192"
        placeholder="Describe your item here"
    ></textarea>
</div>

<div class="row flex flex-col gap-1">
    <label for="cost">{{ text "market:label.cost" }}</label>
    <input
        type="number"
        name="cost"
        id="cost"
        required
        minlength="0"
        maxlength="10000"
        placeholder="25"
    />
</div>

<div class="checkbox_container">
    <input
        type="checkbox"
        name="not_for_sale"
        id="not_for_sale"
        onchange="update_not_for_sale(event)"
    />
    <label for="not_for_sale" class="normal"
        >{{ text "market:text.not_for_sale" }}</label
    >
</div>

<hr />

<div class="flex w-full gap-2 justify-right">
    <button class="primary bold">{{ icon "check" }} Create for C$25</button>

    <a href="javascript:history.back()" class="button red bold">Cancel</a>
</div>

<script>
    function update_not_for_sale(event) {
        if (event.target.checked) {
            document.getElementById("cost").setAttribute("disabled", "true");
        } else {
            document.getElementById("cost").removeAttribute("disabled");
        }
    }
</script>
