<a href="/market/item/{{ item.id }}" class="card flex justify-between gap-2">
    <div class="flex flex-col gap-2">
        <b>{{ item.name }}</b>
        <div class="footernav items-center fade">
            <span class="item">{{ item.type.to_string() }}</span>
            <span class="date item">{{ item.timestamp }}</span>
        </div>
    </div>

    <div class="flex flex-col justify-right gap-2">
        <span class="flex items-center justify-right gap-2">
            <img
                title="{{ author.username }}'s avatar"
                src="/api/v0/auth/profile/{{ author.id }}/avatar"
                alt="@{{ author.username }}"
                class="avatar"
                loading="lazy"
                style="--size: 30px"
            />
            <span>{{ author.username }}</span>
        </span>

        <b class="flex gap-2 items-center justify-right">
            {% include "market/components/price.html" %}
        </b>
    </div>
</a>
