{% extends "raw_base.html" %} {% block base %}
<article>
    <main>{% block content %}{% endblock %}</main>
</article>

<section class="footer">
    <hr />
    <div class="flex footernav gap-2">
        <a href="/" class="item">{{ config.title }}</a>

        <select
            type="url"
            name="sparkler:website_theme"
            id="sparkler:website_theme"
            onchange="update_theme(event.target.options[event.target.selectedIndex].value)"
            class="item"
        >
            <option value="light" id="light">
                {{ text "settings:text.light" }}
            </option>
            <option value="dark" id="dark">Dark</option>
            <option value="dark midnight" id="dark midnight">
                {{ text "settings:text.midnight" }}
            </option>
        </select>
    </div>
</section>
{% call super() %} {% endblock %}
