{% extends "./base.html" %} {% block title %}My posts - {{ config.name }}{%
endblock %} {% block head %}
<meta name="description" content="{{ config.description }}" />
{% endblock %} {% block content %}
<div class="flex flex-col gap-2">
    <div class="pillmenu">
        <a href="/me/posts" class="active">List</a>
        <a href="/editor" data-turbo="false">Editor</a>
    </div>

    <!-- prettier-ignore -->
    {% if let Some(user) = profile %}
        {% for post in posts %}
    <a
        href="/{{ post.slug }}"
        class="card w-fill flex items-center justify-between"
    >
        <div class="flex items-center gap-2">
            {{ icon "file-text" }}
            <b>{{ post.slug }}</b>
        </div>

        <button class="primary">{{ icon "chevron-right" }}</button>
    </a>
    {% endfor %} {% endif %}

    <!-- pagination buttons -->
    <div class="flex justify-between gap-2 w-full">
        {% if page > 0 %}
        <a class="button secondary" href="?page={{ page - 1 }}"
            >{{ text "general:link.previous" }}</a
        >
        {% else %}
        <div></div>
        {% endif %} {% if posts.len() != 0 %}
        <a class="button secondary" href="?page={{ page + 1 }}"
            >{{ text "general:link.next" }}</a
        >
        {% endif %}
    </div>
</div>

{% if let Some(profile) = profile %} {% let other = profile.clone() %} {% if
profile.username == other.username %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% endif %} {% call super() %} {% endblock %}
