{% if reactions.len() > 0 %}
<div class="flex w-full items-center flex-wrap gap-2">
    <div class="flex" style="margin-top: 4px">{{ icon "heart" }}</div>

    {% for reaction in reactions %}
    <a href="/@{{ reaction.user.username }}">
        <img
            title="{{ reaction.user.username }}'s avatar"
            src="/api/v0/auth/profile/{{ reaction.user.id }}/avatar"
            alt="@{{ reaction.user.username }}"
            class="avatar"
            loading="lazy"
            style="--size: 20px"
        />
    </a>
    {% endfor %}
</div>
{% endif %}
