{% extends "base.html" %} {% block title %}Audit log - {{ config.name }}{%
endblock %} {% block head %}
<meta name="description" content="{{ config.description }}" />
{% endblock %} {% block nav_left %}
<a class="button" href="/" title="Timeline">
    {{ icon "house" }}
    <span class="desktop">{{ text "general:link.timeline" }}</span>
</a>

<a class="button" href="/inbox" title="My inbox">
    {{ icon "inbox" }}
    <span class="flex items-center gap-2">
        <span class="desktop">{{ text "general:link.inbox" }}</span>
        {% if unread != 0 %}
        <span class="notification tr">{{ unread }}</span>
        {% endif %}
    </span>
</a>

<a class="button" href="/discover" title="Discover">
    {{ icon "compass" }}
    <span class="flex items-center gap-2">
        <span class="desktop">{{ text "general:link.discover" }}</span>
    </span>
</a>
{% endblock %} {% block nav_right %}
<a class="button" href="/inbox/notifications" title="My notifications">
    {{ icon "bell" }}
</a>
{% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-2">
        <div class="pillmenu convertible">
            <a href="/inbox"><span>My Inbox</span></a>
            <a href="/inbox/audit" class="active"><span>Audit Log</span></a>
            <a href="/inbox/reports"><span>Reports</span></a>
        </div>

        <div class="pillmenu convertible">
            <a href="/inbox/audit" class="active"><span>Mod Actions</span></a>
            <a href="/inbox/audit/ipbans"><span>IP Bans</span></a>
        </div>

        {% if logs.len() == 0 %}
        <div class="markdown-alert-warning">
            <span>{{ text "general:text.no_results" }}</span>
        </div>
        {% endif %}

        <!-- audit logs -->
        <!-- prettier-ignore -->
        {% for notif in logs %}
            {% let show_mark_as_read = false %}
            {% include "components/notification.html" %}
        {% endfor %}

        <!-- pagination buttons -->
        <div class="flex justify-between gap-2 w-full">
            {% if page > 0 %}
            <a class="button secondary" href="?page={{ page - 1 }}"
                >{{ text "general:link.previous" }}</a
            >
            {% else %}
            <div></div>
            {% endif %} {% if logs.len() != 0 %}
            <a class="button secondary" href="?page={{ page + 1 }}"
                >{{ text "general:link.next" }}</a
            >
            {% endif %}
        </div>
    </main>
</article>
{% call super() %} {% endblock %}
