{% extends "raw_base.html" %} {% block base %}
<nav>
    <div class="content_container">
        <div class="flex nav_side">
            <a class="button desktop title" href="/">
                <b>
                    <img
                        src="/static/images/ui/logo.svg"
                        alt="{{ config.name }}"
                        width="32px"
                        height="32px"
                        class="title-content"
                        id="title-img"
                    />

                    <b class="title-content" style="display: none"
                        >{{ config.name }}</b
                    >
                </b>
            </a>

            {% if profile.is_none() %}
            <a class="button mobile" href="/"> {{ icon "house" }} Home </a>
            {% endif %} {% block nav_left %}{% endblock %}
        </div>

        <div class="flex nav_side">
            {% block nav_right %}{% endblock %}

            <div class="dropdown">
                <button
                    class="flex-row title"
                    onclick="trigger('app::hooks::dropdown', [event])"
                    exclude="dropdown"
                    style="gap: 0.25rem !important"
                >
                    {% if let Some(profile) = profile %}
                    <img
                        title="{{ profile.username }}'s avatar"
                        src="/api/v0/auth/profile/{{ profile.id }}/avatar"
                        alt=""
                        class="avatar"
                        style="--size: 24px"
                    />
                    {% endif %} {{ icon "chevron-down" c(dropdown-arrow) }}
                </button>

                <div class="inner" exclude="dropdown">
                    {% if let Some(profile) = profile %}
                    <b class="title">{{ profile.username }}</b>

                    <a href="/@{{ profile.username }}">
                        {{ icon "circle-user-round" }} {{ text
                        "general:link.show_profile" }}
                    </a>

                    <a href="/settings">
                        {{ icon "settings" }} {{ text "general:link.settings" }}
                    </a>

                    <b class="title">{{ text "general:title.services" }}</b>

                    <a href="/market?status=Featured">
                        {{ icon "store" }} {{ text "general:service.market" }}
                    </a>
                    <b class="title">{{ text "general:title.social" }}</b>

                    <a
                        href="/@{{ profile.username }}/friends"
                        title="My friends"
                    >
                        {{ icon "book-user" }} {{ text "general:link.friends" }}
                    </a>

                    <a
                        href="/@{{ profile.username }}/friends/requests"
                        title="My friend requests"
                    >
                        {{ icon "user-round-plus" }} {{ text
                        "general:link.requests" }}
                    </a>
                    {% else %}
                    <b class="title">{{ text "general:title.account" }}</b>

                    <a href="/login" data-turbo="false">
                        {{ icon "log-in" }} {{ text "general:link.login" }}
                    </a>

                    <a href="/sign_up" data-turbo="false">
                        {{ icon "user-round-plus" }} {{ text
                        "general:link.sign_up" }}
                    </a>
                    {% endif %}

                    <!-- site stuff -->
                    <b class="title">{{ config.name }}</b>

                    <a href="/site/about">
                        {{ icon "info" }} {{ text "base.html:link.about" }}
                    </a>

                    <a href="https://swmff.github.io/rainbeam/">
                        {{ icon "book" }} {{ text "base.html:link.reference" }}
                    </a>

                    <!-- ... -->
                    <a href="/search">
                        {{ icon "search" }} {{ text "general:link.search" }}
                    </a>

                    {% if profile.is_some() %}
                    <b class="title"></b>

                    <button
                        onclick="document.getElementById('tokens_dialog').showModal()"
                    >
                        {{ icon "ellipsis" }} {{ text
                        "general:link.switch_account" }}
                    </button>

                    <button onclick="trigger('me::logout')" class="red">
                        {{ icon "log-out" }} {{ text "base.html:link.sign_out"
                        }}
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

<div id="toast_zone"></div>
{% block under_nav %}{% endblock %}

<div id="page">
    <div class="content_container" id="page_content">
        {% block content %}{% endblock %}
    </div>
</div>
{% call super() %} {% endblock %}
