{% extends "base.html" %} {% block title %}Uh oh! 😿 - {{ config.name }}{%
endblock %} {% block head %}
<meta name="description" content="{{ message }}" />
{% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-2">
        <div class="card flex flex-col gap-2 w-full">
            <p>
                <b>{{ text "error.html:link.uh_oh" }}</b>
                <span id="error">{{ message }}</span>
            </p>

            <hr />
            <a href="/" class="button bold"
                >{{ text "error.html:link.go_home" }}</a
            >
        </div>
    </main>
</article>
{% call super() %} {% endblock %}
