{% extends "base.html" %} {% block title %}{{ title }} - {{ config.name }}{%
endblock %} {% block head %}
<meta name="description" content="{{ config.description }}" />
<script>
    globalThis.no_policy = true;
</script>
{% endblock %} {% block content %}
<article>
    <main>
        <div class="card">
            {{ rainbeam_shared::ui::render_markdown(text)|safe }}
        </div>
    </main>
</article>

<script>
    setTimeout(() => {
        if (document.getElementById("policy_consent")) {
            document.getElementById("policy_consent").remove();
        }
    }, 500);
</script>
{% call super() %} {% endblock %}
