{% extends "base.html" %} {% block title %}{{ config.name }}{% endblock %} {%
block head %}
<meta name="description" content="{{ config.description }}" />
{% endblock %} {% block content %}
<div id="use_split_page"></div>

<main class="flex flex-col gap-4 page_section items-center justify-center">
    <div class="flex flex-col items-center gap-2">
        <h1 class="no-margin" style="color: var(--color-primary)">
            {{ config.name }}
        </h1>

        <h3 style="font-weight: normal; margin-top: 0">
            {{ config.description }}
        </h3>
    </div>

    <div
        class="flex flex-col gap-4 items-center justify-center"
        style="width: 20rem; max-width: 100%"
    >
        <hr class="w-full" />

        <div class="flex flex-col gap-2 w-full">
            <a
                class="big primary button bold w-full"
                href="/sign_up"
                data-turbo="false"
                style="gap: 1rem !important"
            >
                <i class="icon" data-lucide="user-round-plus"></i>
                Create account
            </a>

            <a
                class="big button secondary bold w-full"
                href="/login"
                data-turbo="false"
                style="gap: 1rem !important"
            >
                <i class="icon" data-lucide="smile"></i>
                Login
            </a>
        </div>
    </div>
</main>

<script>
    // logout of account (if it exists), we can only possibly see this page with an account if it was deleted
    fetch("/api/v0/auth/logout", { method: "POST" });
</script>

<style>
    nav {
        background: transparent !important;
        border: none !important;
        color: var(--color-surface) !important;
    }
</style>
{% call super() %} {% endblock %}
