{% extends "base.html" %} {% block title %}Inbox - {{ config.name }}{% endblock
%} {% block nav_left %}
<a class="button" href="/" title="Timeline">
    {{ icon "house" }}
    <span class="desktop">{{ text "general:link.timeline" }}</span>
</a>

<a class="button active" href="/inbox" title="My inbox">
    {{ icon "inbox" }}
    <span class="desktop">{{ text "general:link.inbox" }}</span>
</a>

<a class="button" href="/discover" title="Discover">
    {{ icon "compass" }}
    <span class="flex items-center gap-2">
        <span class="desktop">{{ text "general:link.discover" }}</span>
    </span>
</a>
{% endblock %} {% block nav_right %}
<a class="button" href="/inbox/notifications" title="My notifications">
    {{ icon "bell" }} {% if notifs != 0 %}
    <span class="notification tr">{{ notifs }}</span>
    {% endif %}
</a>
{% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-2">
        {% if is_helper %}
        <div class="pillmenu convertible">
            <a href="/inbox" class="active"><span>My Inbox</span></a>
            <a href="/inbox/audit"><span>Audit Log</span></a>
            <a href="/inbox/reports"><span>Reports</span></a>
        </div>
        {% endif %} {% if unread.len() == 0 %}
        <div class="markdown-alert-warning">
            <span>{{ text "general:text.no_results" }}</span>
        </div>
        {% else %}
        <div class="w-full flex justify-between">
            <div></div>
            <button onclick="clear_inbox()" class="secondary red bold">
                {{ icon "bomb" }} {{ text "general:action.clear" }}
            </button>
        </div>
        {% endif %} {% for question in unread %}
        <div class="card-nest w-full" id="question:{{ question.id }}">
            <div class="card flex gap-2">
                <!-- prettier-ignore -->
                {% let author_tag = crate::database::Database::anonymous_tag(question.author.username.as_ref()) %}
                {% if author_tag.0 == false %}
                <img
                    title="{{ question.author.username }}'s avatar"
                    src="/api/v0/auth/profile/{{ question.author.id }}/avatar"
                    alt=""
                    class="avatar"
                    loading="lazy"
                    style="--size: 40px"
                />
                {% else %} {% if let Some(avatar) = anonymous_avatar %} {% if
                (avatar.is_empty()) | (!avatar.starts_with("https://")) %}
                <!-- default avatar, setting set but blank or unsafe -->
                <img
                    title="{{ question.author.username }}'s avatar"
                    src="/static/images/default-avatar.svg"
                    alt=""
                    class="avatar"
                    loading="lazy"
                    style="--size: 40px"
                />
                {% else %}
                <!-- anonymous avatar, setting set and valid -->
                <img
                    title="This profile's anonymous avatar"
                    src="/api/v0/util/ext/image?img={{ avatar }}"
                    alt=""
                    class="avatar"
                    loading="lazy"
                    style="--size: 40px"
                />
                {% endif %} {% else %}
                <!-- default avatar, setting not set -->
                <img
                    title="{{ question.author.username }}'s avatar"
                    src="/static/images/default-avatar.svg"
                    alt=""
                    class="avatar"
                    loading="lazy"
                    style="--size: 40px"
                />
                {% endif %} {% endif %}

                <div class="flex flex-col w-full">
                    <div
                        class="flex items-center justify-between gap-1 question_title"
                    >
                        <div class="footernav flex-wrap">
                            <b class="flex items-center gap-2 item">
                                <!-- prettier-ignore -->
                                {% let author_tag = crate::database::Database::anonymous_tag(question.author.username.as_ref()) %}
                                {% if author_tag.0 == false %}
                                <a
                                    href="/@{{ question.author.username }}"
                                    style="color: inherit"
                                    class="username short"
                                >
                                    <!-- prettier-ignore -->
                                    {% let display_name = question.author.metadata.kv.get("sparkler:display_name") %}

                                    {% if let Some(display_name) = display_name %}
                                        {{ crate::routing::pages::escape_username(display_name) }}
                                    {% else %}
                                        {{ question.author.username }}
                                    {% endif %}
                                </a>
                                {% else %}
                                <!-- prettier-ignore -->
                                {% if let Some(username) = anonymous_username %}
                                    {% if username.is_empty() %}
                                        anonymous
                                    {% else %}
                                        {{ username }}
                                    {% endif %}
                                {% else %}
                                    anonymous
                                {% endif %}
                                {% endif %}
                            </b>

                            <span class="date item"
                                >{{ question.timestamp }}</span
                            >
                        </div>

                        <div class="dropdown actions_bar">
                            <button
                                onclick="trigger('app::hooks::dropdown', [event])"
                                exclude="dropdown"
                            >
                                {{ icon "ellipsis" }}
                            </button>

                            <div class="inner" exclude="dropdown">
                                <b class="title">Manage</b>
                                <a
                                    href="#"
                                    onclick="trigger('questions::delete', ['{{ question.id }}'])"
                                    class="red"
                                >
                                    {{ icon "trash" }} {{ text
                                    "general:action.delete" }}
                                </a>

                                <a
                                    href="javascript:trigger('questions::ipblock', ['{{ question.id }}'])"
                                >
                                    {{ icon "shield" }} {{ text
                                    "general:action.ip_block" }}
                                </a>

                                <a
                                    href="javascript:trigger('reports::bootstrap', ['questions', '{{ question.id }}'])"
                                >
                                    {{ icon "flag" }} {{ text
                                    "general:action.report" }}
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- prettier-ignore -->
                    <span class="question_content" hook="long" hook-arg="lowered">
                        <p style="display: none">{{ question.context.media }}</p>
                        {{ rainbeam_shared::ui::render_markdown(question.content)|safe }}
                    </span>
                </div>
            </div>

            <div class="card">
                <form
                    class="flex flex-col gap-2"
                    onsubmit="respond(event, '{{ question.id }}')"
                >
                    {% if let Some(profile) = profile %}
                    <textarea
                        class="w-full"
                        placeholder="Type your response!"
                        minlength="1"
                        maxlength="{% if profile.tier >= config.tiers.double_limits %}8192{% else %}4096{% endif %}"
                        required
                        name="content"
                        id="content-{{ question.id }}"
                        hook="counter"
                    ></textarea>
                    {% else %}
                    <textarea
                        class="w-full"
                        placeholder="Type your response!"
                        minlength="1"
                        maxlength="4096"
                        required
                        name="content"
                        id="content-{{ question.id }}"
                        hook="counter"
                    ></textarea>
                    {% endif %} {% include
                    "components/more_response_options.html" %}

                    <div class="flex justify-between w-full gap-1">
                        <span
                            id="content-{{ question.id }}:counter"
                            class="notification item"
                        ></span>
                        <button class="primary bold">
                            {{ text "general:form.submit" }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </main>
</article>

<script>
    function respond(e, question) {
        e.preventDefault();
        e.target.querySelector("button").setAttribute("disabled", "true");

        trigger("responses::create", [
            question,
            e.target.content.value,
            e.target.tags.value,
            e.target.warning.value,
            e.target.reply.value,
            e.target.unlisted.checked,
        ]).then((_) => {
            // reset if successful
            e.target.reset();
            e.target.querySelector("button").removeAttribute("disabled");
        });
    }

    async function clear_inbox() {
        if (
            !(await trigger("app::confirm", [
                "Are you sure you want to do this? This will delete every question currently in your inbox permanently.",
            ]))
        ) {
            return;
        }

        fetch(`/api/v1/questions/inbox/me/clear`, {
            method: "POST",
        })
            .then((res) => res.json())
            .then((res) => {
                trigger("app::toast", [
                    res.success ? "success" : "error",
                    res.success ? "Inbox cleared!" : res.message,
                ]);
            });
    }

    setTimeout(() => {
        trigger("questions::carp");
    }, 150);
</script>

{% if let Some(profile) = profile %} {% let other = profile.clone() %} {% if
profile.username == other.username %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% endif %} {% call super() %} {% endblock %}
