<!-- 🌈 RAINBEAM <https://github.com/swmff/rainbeam> -->
<!doctype html>

<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            http-equiv="content-security-policy"
            content="default-src 'self' blob:; img-src * data:; media-src *; font-src *; style-src 'unsafe-inline' 'self' blob: *; script-src 'self' 'unsafe-inline' blob: *; object-src 'self' blob: *; upgrade-insecure-requests; connect-src * localhost; frame-src 'self' blob: data: *"
        />

        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% block head %}{% endblock %}

        <link rel="icon" href="/static/favicon.svg" />
        <link rel="manifest" href="/manifest.json" />

        <meta name="theme-color" content="#b62f5a" />
        <meta name="description" content="{{ config.description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="{{ config.name }}" />

        <meta name="turbo-prefetch" content="false" />
        <meta name="turbo-refresh-method" content="morph" />
        <meta name="turbo-refresh-scroll" content="preserve" />

        <link
            rel="stylesheet"
            href="/static/build/css/style.css"
            id="style.css"
            data-turbo-permanent="true"
        />

        <!-- shared js -->
        <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
        <script
            src="https://unpkg.com/@hotwired/turbo@8.0.5/dist/turbo.es2017-esm.js"
            type="module"
            async
            defer
        ></script>

        <script>
            globalThis.ns_verbose = false;
            globalThis.ns_config = {
                root: "/static/build/js/",
                version: '{{ var "commit" }}',
                verbose: globalThis.ns_verbose,
            };

            globalThis._app_base = {
                name: "rainbeam",
                config: {
                    name: "{{ config.name }}",
                    description: `{{ config.description }}`,
                    host: "{{ config.host }}",
                },
                build: {
                    time: '{{ var "time" }}',
                    commit: '{{ var "commit" }}',
                    commit_short: '{{ var "commit_short" }}',
                },
                ns_store: {},
                classes: {},
            };

            globalThis.no_policy = false;
        </script>

        <script
            src="/static/build/js/loader.js"
            id="loader.js"
            data-turbo-permanent
        ></script>

        <script
            src="/static/build/js/app.js"
            id="app.js"
            data-turbo-permanent
        ></script>

        <script>
            function media_theme_pref() {
                document.documentElement.removeAttribute("class");

                if (
                    window.matchMedia("(prefers-color-scheme: dark)").matches &&
                    !window.localStorage.getItem("theme")
                ) {
                    document.documentElement.classList.add("dark");
                    // window.localStorage.setItem("theme", "dark");
                } else if (
                    window.matchMedia("(prefers-color-scheme: light)")
                        .matches &&
                    !window.localStorage.getItem("theme")
                ) {
                    document.documentElement.classList.remove("dark");
                    // window.localStorage.setItem("theme", "light");
                } else if (window.localStorage.getItem("theme")) {
                    /* restore theme */
                    const current = window.localStorage.getItem("theme");
                    document.documentElement.className = current;
                }
            }

            media_theme_pref();
            document.documentElement.addEventListener("turbo:load", () => {
                if (!document.getElementById("theme")) {
                    return;
                }

                const profile_theme = document
                    .getElementById("theme")
                    .innerText.trim();

                if (profile_theme) {
                    return;
                }

                media_theme_pref();
            });
        </script>

        {{ config.templates.header()|safe }}
    </head>

    <body>
        <div id="top"></div>

        {% if let Some(user) = profile %} {% if user.group == -1 %}
        <div
            class="markdown-alert-caution flex flex-collapse items-center justify-center gap-4"
            style="border-radius: 0 !important; margin-bottom: 0 !important"
        >
            {{ icon "shield-ban" }}
            <span> {{ text "base.html:text.account_banned" }} </span>
        </div>

        <style>
            body {
                overflow: hidden;
            }

            #page {
                opacity: 50%;
                pointer-events: none;
                user-select: none;
            }
        </style>
        {% endif %} {% endif %} {% if !config.alert.is_empty() %}
        <div
            class="markdown-alert-tip flex flex-collapse items-center justify-center gap-4"
            style="border-radius: 0 !important; margin-bottom: 0 !important"
            id="annc_banner"
        >
            {{ icon "megaphone" }}
            <span
                >{{ rainbeam_shared::ui::render_markdown(config.alert)|safe
                }}</span
            >
        </div>

        <script>
            (() => {
                const annc_banner = document.getElementById("annc_banner");
                const seen_banner = window.localStorage.getItem("seen_banner");

                if (
                    seen_banner &&
                    annc_banner.children[1].innerText === seen_banner
                ) {
                    annc_banner.remove(); // remove banner
                } else {
                    window.localStorage.setItem(
                        "seen_banner",
                        annc_banner.children[1].innerText,
                    );
                }
            })();
        </script>

        <style>
            #annc_banner span p {
                margin-bottom: 0;
            }
        </style>
        {% endif %} {% block base %}{% endblock %} {% if profile.is_some() %}
        <dialog id="tokens_dialog">
            <div class="inner flex flex-col gap-2">
                <form
                    class="flex gap-2 flex-col"
                    onsubmit="event.preventDefault()"
                >
                    <div id="tokens" style="display: contents"></div>

                    <a href="/login" class="button" data-turbo="false">
                        {{ icon "plus" }} {{ text "general:link.add_account" }}
                    </a>

                    <div class="flex justify-between">
                        <div></div>

                        <div class="flex gap-2">
                            <button
                                class="primary bold"
                                onclick="document.getElementById('tokens_dialog').close()"
                                type="button"
                            >
                                {{ icon "check" }} {{ text "general:dialog.okay"
                                }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </dialog>
        {% endif %}

        <script data-turbo-eval="false">
            // load resources
            use("dialogs", () => {});
            use("warnings", () => {});
            use("search", () => {});

            use("questions", () => {});
            use("responses", () => {});
            use("comments", () => {});
            use("reactions", () => {});
            use("chats", () => {});
            use("items", () => {});

            use("notifications", () => {});

            use("reports", () => {});
            use("account_warnings", () => {});

            use("tokens", () => {});
            use("me", () => {});

            // load classes
            require("PartialComponent", () => {});
        </script>

        <script data-turbo-permanent="true" id="init-script">
            document.documentElement.addEventListener("turbo:load", () => {
                if (
                    window.CHAT_ID &&
                    window.location.pathname !== `/chats/${window.CHAT_ID}`
                ) {
                    console.log("page blocked by chat");
                    window.location.reload();
                }

                const app = ns("app");
                app.disconnect_observers();
                app.clean_date_codes();
                app.link_filter();
                trigger("me::me", []);

                setTimeout(() => {
                    // this is so some pages can choose to refresh even with turbo="true"
                    app.PREVIOUSLY_EXISTED = true;

                    if (
                        !window.location.pathname.startsWith("@") &&
                        !window.location.pathname.startsWith("+")
                    ) {
                        // everything that isn't a profile will go back to respecting user theme choice
                        if (
                            globalThis.USES_DIFF_THEME === true &&
                            globalThis.IS_SELF_THEME === false
                        ) {
                            media_theme_pref();
                            console.log("use media theme pref");
                        }
                    }
                }, 1000);

                if (document.getElementById("tokens")) {
                    trigger("me::ui::render", [
                        document.getElementById("tokens"),
                    ]);
                }

                app["hooks::scroll"](document.body, document.documentElement);
                app["hooks::dropdown.init"](window);
                app["hooks::character_counter.init"]();
                app["hooks::long_text.init"]();
                app["hooks::alt"]();
                app["hooks::ips"]();
                app["hooks::check_reactions"]();
                app["hooks::tabs"]();
                app["hooks::partial_embeds"]();
            });
        </script>

        <!-- dialogs -->
        <dialog id="link_filter">
            <div class="inner">
                <p>Pressing continue will bring you to the following URL:</p>
                <pre><code id="link_filter_url"></code></pre>
                <p>Are sure you want to go there?</p>

                <hr />
                <div class="flex gap-2">
                    <a
                        class="button primary bold"
                        id="link_filter_continue"
                        rel="noopener noreferrer"
                        target="_blank"
                        onclick="document.getElementById('link_filter').close()"
                    >
                        {{ text "general:dialog.continue" }}
                    </a>
                    <button
                        class="bold"
                        type="button"
                        onclick="document.getElementById('link_filter').close()"
                    >
                        {{ text "general:dialog.cancel" }}
                    </button>
                </div>
            </div>
        </dialog>

        <dialog id="web_api_prompt">
            <div class="inner flex flex-col gap-2">
                <form
                    class="flex gap-2 flex-col"
                    onsubmit="event.preventDefault()"
                >
                    <label for="prompt" id="web_api_prompt:msg"></label>
                    <input id="prompt" name="prompt" />

                    <div class="flex justify-between">
                        <div></div>

                        <div class="flex gap-2">
                            <button
                                class="primary bold circle"
                                onclick="globalThis.web_api_prompt_submit(document.getElementById('prompt').value); document.getElementById('prompt').value = ''"
                                type="button"
                            >
                                {{ icon "check" }} {{ text "general:dialog.okay"
                                }}
                            </button>

                            <button
                                class="bold red camo"
                                onclick="globalThis.web_api_prompt_submit('')"
                                type="button"
                            >
                                {{ icon "x" }} {{ text "general:dialog.cancel"
                                }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </dialog>

        <dialog id="web_api_prompt_long">
            <div class="inner flex flex-col gap-2">
                <form
                    class="flex gap-2 flex-col"
                    onsubmit="event.preventDefault()"
                >
                    <label
                        for="prompt_long"
                        id="web_api_prompt_long:msg"
                    ></label>
                    <textarea id="prompt_long" name="prompt_long"></textarea>

                    <div class="flex justify-between">
                        <div></div>

                        <div class="flex gap-2">
                            <button
                                class="primary bold circle"
                                onclick="globalThis.web_api_prompt_long_submit(document.getElementById('prompt_long').value); document.getElementById('prompt_long').value = ''"
                                type="button"
                            >
                                {{ icon "check" }} {{ text "general:dialog.okay"
                                }}
                            </button>

                            <button
                                class="bold red camo"
                                onclick="globalThis.web_api_prompt_long_submit('')"
                                type="button"
                            >
                                {{ icon "x" }} {{ text "general:dialog.cancel"
                                }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </dialog>

        <dialog id="web_api_confirm">
            <div class="inner flex flex-col gap-2">
                <form
                    class="flex gap-2 flex-col"
                    onsubmit="event.preventDefault()"
                >
                    <label id="web_api_confirm:msg"></label>

                    <div class="flex justify-between">
                        <div></div>

                        <div class="flex gap-2">
                            <button
                                class="primary bold circle"
                                onclick="globalThis.web_api_confirm_submit(true)"
                                type="button"
                            >
                                {{ icon "check" }} {{ text "general:dialog.yes"
                                }}
                            </button>

                            <button
                                class="bold red camo"
                                onclick="globalThis.web_api_confirm_submit(false)"
                                type="button"
                            >
                                {{ icon "x" }} {{ text "general:dialog.no" }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </dialog>

        {% if let Some(user) = profile %} {% if user.metadata.policy_consent ==
        false %}
        <dialog id="policy_consent">
            <div class="inner flex flex-col gap-2">
                <b>We've updated our policies!</b>

                <span
                    >Don't worry, you're not in trouble! We need everybody to
                    give consent to these updated policies to make sure you
                    understand them.</span
                >

                <ul class="card secondary" style="margin-bottom: 0">
                    <li>
                        <a href="/site/terms-of-service">Terms of Service</a>
                    </li>

                    <li>
                        <a href="/site/privacy">Privacy Policy</a>
                    </li>
                </ul>

                <span
                    >Please agree to these policies to continue using our
                    services. Disagreeing will prompt you to delete your data
                    from our servers.</span
                >

                <hr />
                <div class="flex justify-right">
                    <div class="flex gap-2">
                        <button
                            class="primary bold circle"
                            onclick="globalThis.policy_consent(true)"
                            type="button"
                        >
                            {{ icon "check" }} {{ text "general:dialog.continue"
                            }}
                        </button>

                        <button
                            class="bold red camo"
                            onclick="globalThis.policy_consent(false)"
                            type="button"
                        >
                            {{ icon "x" }} {{ text "general:dialog.cancel" }}
                        </button>
                    </div>
                </div>
            </div>
        </dialog>

        <script>
            if (!globalThis.no_policy) {
                document.getElementById("policy_consent").showModal();
            }

            globalThis.patch_metadata = async (metadata) => {
                fetch("/api/v0/auth/profile/{{ user.id }}/metadata", {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        metadata,
                    }),
                })
                    .then((res) => res.json())
                    .then((res) => {
                        trigger("app::toast", [
                            res.success ? "success" : "error",
                            res.success ? "Metadata updated!" : res.message,
                        ]);
                    });
            };

            globalThis.policy_consent = async (consent) => {
                if (consent) {
                    // yay, we agree!
                    globalThis
                        .patch_metadata({
                            policy_consent: true,
                        })
                        .then(() => {
                            setTimeout(() => {
                                window.location.reload();
                            }, 1000);
                        });
                } else {
                    // delete account, probably for the best
                    if (
                        !(await trigger("app::confirm", [
                            "Are you 100% sure you want to do this?",
                        ]))
                    ) {
                        return;
                    }

                    const password = await trigger("app::prompt", [
                        "Please enter your account password below to confirm:",
                    ]);

                    if (!password) {
                        return;
                    }

                    fetch("/api/v0/auth/me/delete", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            password,
                        }),
                    })
                        .then((res) => res.json())
                        .then((res) => {
                            window.location.href = "/";
                        });
                }
            };
        </script>
        {% endif %} {% endif %} {{ config.templates.body()|safe }}
    </body>
</html>
