{% extends "base.html" %} {% block title %}{{ config.name }}{% endblock %} {%
block head %}
<meta name="description" content="{{ config.description }}" />
{% endblock %} {% block nav_left %}
<a class="button active" href="/" title="Timeline">
    {{ icon "house" }}
    <span class="desktop">{{ text "general:link.timeline" }}</span>
</a>

<a class="button" href="/inbox" title="My inbox">
    {{ icon "inbox" }}
    <span class="flex items-center gap-2">
        <span class="desktop">{{ text "general:link.inbox" }}</span>
        {% if unread != 0 %}
        <span class="notification tr">{{ unread }}</span>
        {% endif %}
    </span>
</a>

<a class="button" href="/discover" title="Discover">
    {{ icon "compass" }}
    <span class="flex items-center gap-2">
        <span class="desktop">{{ text "general:link.discover" }}</span>
    </span>
</a>
{% endblock %} {% block nav_right %}
<a class="button" href="/inbox/notifications" title="My notifications">
    {{ icon "bell" }} {% if notifs != 0 %}
    <span class="notification tr">{{ notifs }}</span>
    {% endif %}
</a>
{% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-2">
        <div class="pillmenu convertible">
            <a href="/"><span>{{ text "timelines:link.timeline" }}</span></a>
            <a href="/inbox/posts"
                ><span>{{ text "timelines:link.posts" }}</span></a
            >
            <a href="/inbox/global" class="active"
                ><span>{{ text "timelines:link.global" }}</span></a
            >
        </div>

        <div class="pillmenu convertible">
            <a href="/inbox/global"
                ><span>{{ text "timelines:link.public" }}</span></a
            >
            <a href="/inbox/global/following" class="active"
                ><span>{{ text "timelines:link.following" }}</span></a
            >
        </div>

        <!-- compose -->
        <div class="card-nest w-full">
            <!-- prettier-ignore -->
            <div class="card">
                {{ text "profile:base.html:action.ask" }}
            </div>

            <div class="card">
                <form id="question_form" class="flex flex-col gap-2">
                    {% if let Some(profile) = profile %}
                    <textarea
                        class="w-full"
                        placeholder="Type your question!"
                        minlength="1"
                        maxlength="{% if (profile.tier >= config.tiers.double_limits) %}4096{% else %}2048{% endif %}"
                        required
                        name="content"
                        id="content"
                        hook="counter"
                    ></textarea>
                    {% else %}
                    <textarea
                        class="w-full"
                        placeholder="Type your question!"
                        minlength="1"
                        maxlength="2048"
                        required
                        name="content"
                        id="content"
                        hook="counter"
                    ></textarea>
                    {% endif %}

                    <div class="flex justify-between w-full gap-1">
                        <span
                            id="content:counter"
                            class="notification item"
                        ></span>
                        <button class="primary bold">Ask</button>
                    </div>
                </form>
            </div>
        </div>
        <hr class="small" />

        <!-- feed -->
        <div class="flex flex-col gap-4" id="feed">
            {% if questions.len() == 0 %}
            <div class="markdown-alert-warning">
                <span>{{ text "general:text.no_results" }}</span>
            </div>
            {% endif %} {% include "partials/timelines/global_questions.html" %}
        </div>

        <!-- pagination buttons -->
        <div class="flex justify-between gap-2 w-full">
            {% if page > 0 %}
            <a class="button secondary" href="?page={{ page - 1 }}"
                >{{ text "general:link.previous" }}</a
            >
            {% else %}
            <div></div>
            {% endif %} {% if questions.len() != 0 %}
            <a class="button secondary" href="?page={{ page + 1 }}"
                >{{ text "general:link.next" }}</a
            >
            {% endif %}
        </div>
    </main>
</article>

<script>
    document.getElementById("question_form").addEventListener("submit", (e) => {
        e.preventDefault();
        fetch("/api/v1/questions", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                recipient: "@",
                content: e.target.content.value,
                anonymous: false,
            }),
        })
            .then((res) => res.json())
            .then((res) => {
                trigger("app::toast", [
                    res.success ? "success" : "error",
                    res.message || "Question asked!",
                ]);

                if (res.success === true) {
                    e.target.reset();
                    window.location.href = `/question/${res.payload}`;
                }
            });
    });
</script>

{% include "components/footer.html" %} {% if let Some(profile) = profile %} {%
let other = profile.clone() %} {% if profile.username == other.username %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% endif %} {% call super() %} {% endblock %}
