<!doctype html>

<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            http-equiv="content-security-policy"
            content="default-src 'self' blob:; img-src * data:; media-src *; font-src *; style-src 'unsafe-inline' 'self' blob: *; script-src 'self' 'unsafe-inline' blob: *; object-src 'self' blob: *; upgrade-insecure-requests; connect-src *; frame-src 'self' blob: data: *"
        />

        <title>Profile Embed</title>
        {% block head %}{% endblock %}

        <link rel="icon" href="/static/favicon.svg" />
        <link rel="stylesheet" href="/static/build/css/style.css" />

        <!-- shared js -->
        <script
            src="/static/build/js/loader.js"
            id="loader.js"
            data-turbo-permanent
        ></script>

        <script>
            globalThis.ns_config = {
                root: "/static/js/",
                version: "0.0.0",
            };

            globalThis._app_base = {
                name: "rainbeam",
                ns_store: {},
            };
        </script>

        <script
            src="/static/build/js/app.js"
            id="app.js"
            data-turbo-permanent
        ></script>
    </head>

    <body class="flex flex-col">
        <!-- prettier-ignore -->
        {% let anonymous_username = other.metadata.kv.get("sparkler:anonymous_username") %}
        {% let anonymous_avatar = other.metadata.kv.get("sparkler:anonymous_avatar") %}

        <nav id="top" class="flex justify-between gap-2">
            <a
                href="/@{{ other.username }}"
                target="_blank"
                class="flex items-center gap-2 title button"
                title="@{{ other.username }}"
            >
                <img
                    title="{{ other.username }}'s avatar"
                    src="/api/v0/auth/profile/{{ other.id }}/avatar"
                    alt=""
                    class="avatar shadow round-sm"
                    style="--size: 20px"
                />

                <b>
                    <!-- prettier-ignore -->
                    {% if let Some(display_name) = other.metadata.kv.get("sparkler:display_name") %}
                        {{ crate::routing::pages::escape_username(display_name) }}
                    {% else %}
                        {{ other.username }}
                    {% endif %}
                </b>
            </a>

            <a
                href="/"
                target="_blank"
                title="{{ config.name }}"
                class="button flex items-center title"
            >
                <img
                    src="/static/images/ui/logo.svg"
                    alt="{{ config.name }} logo"
                    class="avatar shadow round-sm title-content"
                    style="--size: 20px"
                />
            </a>
        </nav>

        <div id="toast_zone"></div>

        <div id="page" class="flex flex-col gap-4">
            <!-- question box -->
            <header class="card flex flex-col gap-2">
                <div class="motivational_header">
                    <!-- prettier-ignore -->
                    {% if let Some(header) = other.metadata.kv.get("sparkler:motivational_header") %}
                        {{ rainbeam_shared::ui::render_markdown(header)|safe }}
                    {% else %}
                        Ask a question
                    {% endif %}
                </div>

                <div>
                    <!-- prettier-ignore -->
                    {% if !lock_profile && (other.group != -1) %}
                    {% if (require_account && profile.is_some()) | (disallow_anonymous && profile.is_some()) | (!require_account && !disallow_anonymous) %}
                    <form id="question_form" class="flex flex-col gap-2">
                        <div id="carp_context"></div>
                        <input
                            name="carp_context"
                            id="carp_content"
                            type="text"
                            style="display: none"
                        />

                        {% if let Some(profile) = profile %}
                        <textarea
                            class="w-full"
                            placeholder="Type your question!"
                            minlength="1"
                            maxlength="{% if (profile.tier >= config.tiers.double_limits) | (other.tier >= config.tiers.double_limits) %}4096{% else %}2048{% endif %}"
                            required
                            name="content"
                            id="content"
                            hook="counter"
                        ></textarea>
                        {% else %}
                        <textarea
                            class="w-full"
                            placeholder="Type your question!"
                            minlength="1"
                            maxlength="{% if other.tier >= config.tiers.double_limits %}4096{% else %}2048{% endif %}"
                            required
                            name="content"
                            id="content"
                            hook="counter"
                        ></textarea>
                        {% endif %}

                        <!-- prettier-ignore -->
                        <div class="flex justify-between w-full gap-1 flex-wrap">
                            <div class="footernav items-center gap-2">
                                <span id="content:counter" class="notification item"></span>
                                {% if profile.is_some() && (disallow_anonymous == false) %}
                                <div class="checkbox_container item">
                                    <input
                                        type="checkbox"
                                        name="anonymous"
                                        id="anonymous"
                                    />

                                    <label for="anonymous" class="normal">
                                        {{ text "general:action.hide_your_name" }}
                                    </label>
                                </div>

                                <script>
                                function ls_anon_check() {
                                    if (window.localStorage.getItem("always_anon") === "true") {
                                        document.getElementById("anonymous").checked = true
                                    }
                                }

                                ls_anon_check();
                                </script>
                                {% else %}
                                <div></div>
                                {% endif %}
                            </div>

                            <div class="flex gap-2">
                                {% if other.metadata.is_true("sparkler:allow_drawings") %}
                                <button onclick="attach_carp(event)" type="button">Draw</button>
                                {% endif %}

                                <button class="primary bold">Ask</button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <b>This profile does not allow anonymous questions.</b>
                    {% endif %} {% else %}
                    <b>This profile is not currently accepting questions.</b>

                    <style>
                        #question_box {
                            display: none;
                        }
                    </style>
                    {% endif %}
                </div>
            </header>

            <!-- locked message -->
            {% if other.metadata.is_true("sparkler:private_profile") %}
            <div
                class="card padded shadow flex flex-col w-full gap-4 items-center justify-center"
            >
                {{ icon "lock-keyhole" }}

                <h4>
                    This profile only allows friends to view their responses.
                </h4>
            </div>
            {% else %}
            <!-- pinned -->
            <!-- prettier-ignore -->
            {% if let Some(pinned) = pinned %}
                {% for response in pinned %}
                    {% let is_pinned = true %}
                    {% let show_pin_button = true %}
                    {% let do_not_render_question = false %}
                    {% let show_comments = true %}
                    {% let do_render_nested = true %}
                    {% include "../components/response.html" %}
                {% endfor %}
            {% endif %}

            <!-- prettier-ignore -->
            <!-- actual feed -->
            {% include "partials/profile/feed.html" %} {% endif %}

            <!-- closing statement -->
            <footer
                class="w-full flex justify-center gap-2"
                style="margin: 1rem 0"
            >
                <!-- prettier-ignore -->
                <span>
                    See more on
                    <a href="/" target="_blank"><b>{{ config.name }}</b></a>!
                </span>
            </footer>
        </div>

        <script src="https://unpkg.com/@twemoji/api@15.1.0/dist/twemoji.min.js"></script>
        <script src="https://unpkg.com/lucide@latest"></script>

        <script>
            use("questions", () => {});
            use("responses", () => {});

            use("reactions", () => {});
            use("reports", () => {});

            (() => {
                const app = ns("app");
                app.clean_date_codes();
                app.link_filter();

                app["hook.dropdown.init"](window);
                app["hook.character_counter.init"]();
                app["hook.long_text.init"]();

                twemoji.parse(document.body);

                // anchors
                for (const anchor of Array.from(
                    document.querySelectorAll("a"),
                )) {
                    anchor.setAttribute("target", "_blank");
                }

                // questions
                setTimeout(() => {
                    trigger("questions:carp");
                }, 150);

                document
                    .getElementById("question_form")
                    .addEventListener("submit", (e) => {
                        e.preventDefault();

                        trigger("questions:create", [
                            "{{ other.id }}",
                            e.target.content.value,
                            (e.target.anonymous || { checked: false }).checked,
                            e.target.carp_content.value.length != 0
                                ? e.target.carp_content.value
                                : "",
                        ]).then((_) => {
                            // reset if successful
                            e.target.reset();

                            if (globalThis.sammy) {
                                globalThis.sammy.clear();
                            }
                        });
                    });
            })();

            function attach_carp(e) {
                e.target.innerText = "Remove drawing";
                e.target.onclick = async (e) => {
                    if (
                        !(await trigger("app:confirm", [
                            "Are you sure you want to do this?",
                        ]))
                    ) {
                        return;
                    }

                    globalThis.detach_carp(e);
                };

                use("carp", (carp) => {
                    const sammy = carp.new(
                        document.getElementById("carp_context"),
                    );

                    sammy.create_canvas();
                    sammy.onedit = (text) => {
                        document.getElementById("carp_content").value =
                            `--CARP${text}`;
                    };

                    globalThis.sammy = sammy;
                });
            }
        </script>

        {% let raw_metadata =
        crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
        "components/theming.html" %}
    </body>
</html>
