<!doctype html>
<!-- 🌈 RAINBEAM <https://github.com/swmff/rainbeam> -->
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            http-equiv="content-security-policy"
            content="default-src 'self' blob:; img-src * data:; media-src *; font-src *; style-src 'unsafe-inline' 'self' blob: *; script-src 'self' 'unsafe-inline' blob: *; object-src 'self' blob: *; upgrade-insecure-requests; connect-src *; frame-src 'self' blob: data: *"
        />

        <title>Profile Embed</title>
        {% block head %}{% endblock %}

        <link rel="icon" href="/static/favicon.svg" />
        <link rel="stylesheet" href="/static/style.css" />

        <!-- shared js -->
        <script src="https://unpkg.com/regns@1.0.1/index.js"></script>
        <script src="https://unpkg.com/@twemoji/api@15.1.0/dist/twemoji.min.js"></script>

        <script>
            globalThis.ns_config = {
                root: "/static/js/",
                version: "0.0.0",
            };

            globalThis._app_base = {
                name: "rainbeam",
                ns_store: {},
            };
        </script>

        <script src="/static/js/app.js"></script>
    </head>

    <body class="flex flex-col">
        <!-- prettier-ignore -->
        {% let anonymous_username = other.metadata.kv.get("sparkler:anonymous_username") %}
        {% let anonymous_avatar = other.metadata.kv.get("sparkler:anonymous_avatar") %}

        <nav id="top" class="card flex justify-between gap-2">
            <a
                href="/@{{ other.username }}"
                target="_blank"
                class="flex items-center gap-2"
            >
                <img
                    title="{{ other.username }}'s avatar"
                    src="/api/v1/profiles/{{ other.username }}/avatar"
                    alt=""
                    class="avatar shadow round-sm"
                    style="--size: 20px"
                />

                <b>
                    <!-- prettier-ignore -->
                    {% if let Some(display_name) = other.metadata.kv.get("sparkler:display_name") %}
                        {{ display_name }}
                    {% else %}
                        {{ other.username }}
                    {% endif %}
                </b>

                <span>&lpar;{{ other.username }}&rpar;</span>
            </a>

            <a
                href="/"
                target="_blank"
                title="{{ config.name }}"
                class="flex items-center"
            >
                <img
                    src="/static/favicon.svg"
                    alt="{{ config.name }} logo"
                    class="avatar shadow round-sm"
                    style="--size: 20px"
                />
            </a>
        </nav>

        <div id="toast_zone"></div>

        <div id="page" class="flex flex-col">
            <!-- question box -->
            <header class="card flex flex-col gap-2">
                <div class="motivational_header">
                    <!-- prettier-ignore -->
                    {% if let Some(header) = other.metadata.kv.get("sparkler:motivational_header") %} 
                        {{ shared::ui::render_markdown(header)|safe }} 
                    {% else %} 
                        Ask a question 
                    {% endif %}
                </div>

                <div>
                    <!-- prettier-ignore -->
                    {% if !lock_profile %}
                    {% if (require_account && profile.is_some()) | (disallow_anonymous && profile.is_some()) | (!require_account && !disallow_anonymous) %}
                    <form id="question_form" class="flex flex-col gap-2">
                        <textarea
                            class="w-full"
                            placeholder="Type your question!"
                            minlength="1"
                            maxlength="2048"
                            required
                            name="content"
                            id="content"
                            hook="counter"
                        ></textarea>

                        <!-- prettier-ignore -->
                        <div class="flex justify-between w-full gap-1">
                        <div class="footernav items-center gap-2">
                            <span id="content:counter" class="notification item"></span>
                            {% if profile.is_some() && (disallow_anonymous == false) %}
                            <div class="checkbox_container item">
                                <input
                                    type="checkbox"
                                    name="anonymous"
                                    id="anonymous"
                                />

                                <label for="anonymous" class="normal">
                                    Hide your name
                                </label>
                            </div>
                            {% else %}
                            <div></div>
                            {% endif %}
                            </div>

                            <button class="round-lg primary bold">Ask</button>
                        </div>
                    </form>
                    {% else %}
                    <b>This profile does not allow anonymous questions.</b>
                    {% endif %} {% else %}
                    <b>This profile is not currently accepting questions.</b>
                    {% endif %}
                </div>
            </header>

            <!-- pinned -->
            <!-- prettier-ignore -->
            {% if let Some(pinned) = pinned %}
                {% for response in pinned %}
                    {% let is_pinned = true %}
                    {% let show_pin_button = true %}
                    {% let do_not_render_question = false %}
                    {% let show_comments = true %}
                    {% include "../components/response.html" %}
                {% endfor %}
            {% endif %}

            <!-- feed -->
            <!-- prettier-ignore -->
            {% for response in responses %}
                {% let is_pinned = false %}
                {% let show_pin_button = true %}
                {% let do_not_render_question = false %}
                {% let show_comments = true %}
                {% include "../components/response.html" %} 
            {% endfor %}

            <!-- closing statement -->
            <footer
                class="w-full flex justify-center gap-2"
                style="margin: 1rem 0"
            >
                <!-- prettier-ignore -->
                <span>
                    See more on
                    <a href="/" target="_blank"><b>{{ config.name }}</b></a>!
                </span>
            </footer>
        </div>

        <script>
            use("questions", () => {});
            use("responses", () => {});

            use("reactions", () => {});
            use("reports", () => {});

            (() => {
                const app = ns("app");
                app.clean_date_codes();
                app.link_filter();

                app["hook.dropdown.init"](window);
                app["hook.character_counter.init"]();
                app["hook.long_text.init"]();

                twemoji.parse(document.body);

                // anchors
                for (const anchor of Array.from(
                    document.querySelectorAll("a"),
                )) {
                    anchor.setAttribute("target", "_blank");
                }

                // questions
                document
                    .getElementById("question_form")
                    .addEventListener("submit", (e) => {
                        e.preventDefault();

                        trigger("questions:create", [
                            "{{ other.id }}",
                            e.target.content.value,
                            (e.target.anonymous || { checked: false }).checked,
                        ]).then((_) => {
                            // reset if successful
                            e.target.reset();
                        });
                    });
            })();
        </script>

        <style>
            .card,
            .card-nest {
                box-shadow: none;
                border-radius: 0 !important;
                border-bottom: solid 1px var(--color-super-lowered);
            }

            nav a::before {
                display: none;
            }
        </style>

        {% include "components/theming.html" %}
    </body>
</html>
