{% extends "base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}">
    <span
        >{{ text "profile:link.feed" }}
        <b class="notification">{{ response_count }}</b></span
    >
</a>

<a href="/@{{ other.username }}/questions" class="active">
    <span
        >{{ text "profile:link.questions" }}
        <b class="notification">{{ questions_count }}</b></span
    >
</a>
{% if is_helper %}
<a href="/@{{ other.username }}/mod">
    <span
        >{{ text "profile:link.manage" }} <b class="notification">Mod</b></span
    >
</a>
{% endif %} {% endblock %} {% block panel %}
<!-- inboxes -->
{% if is_self | is_powerful %}
<div class="pillmenu convertible">
    <a href="/@{{ other.username }}/questions"
        ><span>{{ text "timelines:link.global" }}</span></a
    >

    {% if is_powerful %}
    <a href="/@{{ other.username }}/questions/inbox" class="active">
        <span
            >{{ text "general:link.inbox" }}
            <b class="notification">Mod</b></span
        >
    </a>
    {% endif %}

    <a href="/@{{ other.username }}/questions/outbox">
        <span
            >{{ text "profile:link.outbox" }}
            <b class="notification">Private</b></span
        >
    </a>
</div>
{% endif %}

<!-- global questions -->
<div id="questions" class="flex flex-col items-center gap-4">
    {% for question in questions %}
    <div
        class="card flex flex-col gap-1 secondary w-full"
        id="question:{{ question.id }}"
    >
        <div class="flex items-center justify-between gap-1 question_title">
            <div class="footernav">
                <b class="flex items-center gap-2 item">
                    <!-- prettier-ignore -->
                    {% let author_tag = crate::database::Database::anonymous_tag(question.author.username.as_ref()) %}
                    {% if author_tag.0 == false %}
                    <img
                        title="{{ question.author.username }}'s avatar"
                        src="/api/v0/auth/profile/{{ question.author.id }}/avatar"
                        alt=""
                        class="avatar"
                        loading="lazy"
                        style="--size: 20px"
                    />

                    <a
                        href="/@{{ question.author.username }}"
                        style="color: inherit"
                        class="username"
                    >
                        <!-- prettier-ignore -->
                        {% let display_name = question.author.metadata.kv.get("sparkler:display_name") %}

                        {% if let Some(display_name) = display_name %}
                            {{ crate::routing::pages::escape_username(display_name) }}
                        {% else %}
                            {{ question.author.username }}
                        {% endif %}
                    </a>
                    {% else %}
                    <img
                        title="{{ question.author.username }}'s avatar"
                        src="/static/images/default-avatar.svg"
                        alt=""
                        class="avatar"
                        loading="lazy"
                        style="--size: 20px"
                    />

                    anonymous {% endif %}

                    <!-- prettier-ignore -->
                    {% if is_powerful %}
                    {% if author_tag.0 %}
                    <a class="notification" href="/+u/{{ author_tag.1 }}">
                        {% if author_tag.1.contains("-") %}
                        <span title="User hiding as anonymous">🤫</span>
                        {% endif %}
                        <!-- prettier-ignore -->
                        {% if author_tag.1.len() >= 10 %}
                            {{ author_tag.1[..10] }}
                        {% else %}
                            {{ author_tag.1 }}
                        {% endif %}
                    </a>
                    {% endif %} {% endif %}
                </b>

                <span class="date item">{{ question.timestamp }}</span>
            </div>

            <div class="dropdown">
                <button
                    onclick="trigger('app:hook.dropdown', [event])"
                    exclude="dropdown"
                    class="camo"
                >
                    {{ icon "ellipsis" }}
                </button>

                <div class="inner shadow-md" exclude="dropdown">
                    <b class="title">Manage</b>
                    <a
                        href="#"
                        onclick="trigger('questions:delete', ['{{ question.id }}'])"
                        class="red"
                    >
                        {{ icon "trash" }} Delete
                    </a>
                </div>
            </div>
        </div>

        <!-- prettier-ignore -->
        <span class="question_content" hook="long">
            {{ shared::ui::render_markdown(question.content)|safe }}
        </span>
    </div>
    {% endfor %}
</div>
{% call super() %} {% endblock %}
