{% extends "base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}">
    Feed
    <b class="notification">{{ response_count }}</b>
</a>

<a href="/@{{ other.username }}/questions" class="active">
    Questions
    <b class="notification">{{ questions_count }}</b>
</a>
{% if is_helper %}
<a href="/@{{ other.username }}/mod">
    Manage
    <b class="notification">Mod</b>
</a>
{% endif %} {% endblock %} {% block panel %}
<!-- inboxes -->
{% if is_self | is_powerful %}
<div class="pillmenu convertible">
    <a href="/@{{ other.username }}/questions">Global</a>

    {% if is_powerful %}
    <a href="/@{{ other.username }}/questions/inbox" class="active">
        Inbox
        <b class="notification">Mod</b>
    </a>
    {% endif %}

    <a href="/@{{ other.username }}/questions/outbox">
        Outbox
        <b class="notification">Private</b>
    </a>
</div>
{% endif %}

<!-- global questions -->
<div id="questions" class="flex flex-col items-center gap-4">
    {% for question in questions %}
    <div
        class="card flex flex-col gap-1 secondary w-full"
        id="question:{{ question.id }}"
    >
        <div class="flex items-center justify-between gap-1 question_title">
            <div class="footernav">
                <b class="flex items-center gap-2 item">
                    <!-- prettier-ignore -->
                    {% let author_tag = crate::database::Database::anonymous_tag(question.author.username.as_ref()) %}
                    {% if author_tag.0 == false %}
                    <img
                        title="{{ question.author.username }}'s avatar"
                        src="/api/v0/auth/profile/{{ question.author.id }}/avatar"
                        alt=""
                        class="avatar"
                        loading="lazy"
                        style="--size: 20px"
                    />

                    <a
                        href="/@{{ question.author.username }}"
                        style="color: inherit"
                        class="username"
                    >
                        <!-- prettier-ignore -->
                        {% let display_name = question.author.metadata.kv.get("sparkler:display_name") %}

                        {% if let Some(display_name) = display_name %}
                            {{ crate::routing::pages::escape_username(display_name) }}
                        {% else %}
                            {{ question.author.username }}
                        {% endif %}
                    </a>
                    {% else %}
                    <img
                        title="{{ question.author.username }}'s avatar"
                        src="/static/images/default-avatar.svg"
                        alt=""
                        class="avatar"
                        loading="lazy"
                        style="--size: 20px"
                    />

                    anonymous {% endif %}

                    <!-- prettier-ignore -->
                    {% if is_powerful %}
                    {% if author_tag.0 %}
                    <a class="notification" href="/+u/{{ author_tag.1 }}">
                        {% if author_tag.1.contains("-") %}
                        <span title="User hiding as anonymous">🤫</span>
                        {% endif %}
                        <!-- prettier-ignore -->
                        {% if author_tag.1.len() >= 10 %}
                            {{ author_tag.1[..10] }}
                        {% else %}
                            {{ author_tag.1 }}
                        {% endif %}
                    </a>
                    {% endif %} {% endif %}
                </b>

                <span class="date item">{{ question.timestamp }}</span>
            </div>

            <div class="dropdown">
                <button
                    onclick="trigger('app:hook.dropdown', [event])"
                    exclude="dropdown"
                    class="camo"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16"
                        width="16"
                        height="16"
                        aria-label="Ellipsis symbol"
                        class="icon"
                    >
                        <path
                            d="M8 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM1.5 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm13 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                        ></path>
                    </svg>
                </button>

                <div class="inner shadow-md" exclude="dropdown">
                    <b class="title">Manage</b>
                    <a
                        href="#"
                        onclick="trigger('questions:delete', ['{{ question.id }}'])"
                        class="red"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            width="16"
                            height="16"
                            aria-label="Trash symbol"
                            class="icon"
                        >
                            <path
                                d="M11 1.75V3h2.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75ZM4.496 6.675l.66 6.6a.25.25 0 0 0 .249.225h5.19a.25.25 0 0 0 .249-.225l.66-6.6a.75.75 0 0 1 1.492.149l-.66 6.6A1.748 1.748 0 0 1 10.595 15h-5.19a1.75 1.75 0 0 1-1.741-1.575l-.66-6.6a.75.75 0 1 1 1.492-.15ZM6.5 1.75V3h3V1.75a.25.25 0 0 0-.25-.25h-2.5a.25.25 0 0 0-.25.25Z"
                            ></path>
                        </svg>
                        Delete
                    </a>
                </div>
            </div>
        </div>

        <!-- prettier-ignore -->
        <span class="question_content" hook="long">
            {{ shared::ui::render_markdown(question.content)|safe }}
        </span>
    </div>
    {% endfor %}
</div>
{% call super() %} {% endblock %}
