{% extends "../raw_base.html" %} {% block title %}{{ other.username }} - {{
config.name }}{% endblock %} {% block head %}
<!-- prettier-ignore -->
{% if let Some(biography) = other.metadata.kv.get("sparkler:biography") %}
<meta name="og:title" content="{{ other.username }}" />
<meta name="og:url" content="{{ config.host }}/@{{ other.username }}" />

<meta property="og:type" content="profile" />
<meta property="profile:username" content="{{ other.username }}" />

<meta
    name="og:image"
    content="{{ config.host }}/api/v0/auth/profile/{{ other.id }}/avatar"
/>

<meta
    name="twitter:image"
    content="{{ config.host }}/api/v0/auth/profile/{{ other.id }}/avatar"
/>

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Ask me something!" />
<meta
    name="twitter:description"
    content="Ask @{{ other.username }} something on {{ config.name }}!"
/>

{% let biography = biography.replace("\"", "\\\\\"") %}
<meta name="description" content="{{ biography }}" />
<meta name="og:description" content="{{ biography }}" />
{% endif %} {% endblock %} {% block base %}
<div id="toast_zone"></div>

<div id="page">
    <div class="content_container" id="page_content">
        <article id="editor">
            {{ other.layout.fill().as_ref().render_block()|safe }}
        </article>
    </div>
</div>

<!-- prettier-ignore -->
{% let as_json = serde_json::to_string(other.layout.fill().as_ref()).unwrap() %}
<script type="application/json" id="editor_json">
    {{ as_json|safe }}
</script>

<style>
    .layout_editor_block {
        width: 100%;
        padding: 1rem;
        background: var(--color-lowered);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 0 2px var(--color-super-lowered);
        font-family: monospace;
        font-size: 16px;
        cursor: pointer !important;
        user-select: none;
        border-radius: var(--radius);
        transform: box-shadow 0.15s;
    }

    .layout_editor_block:hover,
    .layout_editor_block.active {
        box-shadow: 0 0 0 2px var(--color-primary);
    }
</style>

<button
    class="big primary floating right permanent"
    title="Save"
    id="save"
    onclick="save_layout()"
>
    {{ icon "save" }}
</button>

<div class="dropdown">
    <button
        class="big floating permanent"
        title="Menu"
        onclick="trigger('app:hook.dropdown', [event])"
        exclude="dropdown"
    >
        {{ icon "menu" }}
    </button>

    <div class="inner left" exclude="dropdown">
        <a href="javascript:history.back()">
            {{ icon "arrow-left" }} {{ text "chats:chat.html:link.go_back" }}
        </a>

        <button onclick="globalThis.editor.render()">
            {{ icon "refresh-ccw" }} {{ text "general:link.render" }}
        </button>

        <button onclick="import_layout()">
            {{ icon "upload" }} {{ text "general:link.import" }}
        </button>

        <button onclick="export_layout()">
            {{ icon "download" }} {{ text "general:link.export" }}
        </button>

        <button onclick="reset_layout()" class="red">
            {{ icon "trash" }} {{ text "general:action.clear" }}
        </button>
    </div>
</div>

<style>
    @media screen and (min-width: 901px) {
        .dropdown:has(.floating) .inner.open {
            bottom: calc(64px + 1rem);
            left: 0.5rem !important;
        }
    }

    #editor {
        transition: transform 0.15s;
    }

    .sidebar {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        flex-direction: column;
        border-right: solid 1px var(--color-super-lowered);
        box-shadow: 0 0 2px var(--color-shadow);
        background: var(--color-lowered);
        overflow: auto;
        display: none;
        width: 25rem;
        height: 100dvh;
        padding: 1rem;
        animation: 0.2s ease-in-out forwards from_right;
    }

    .sidebar.open {
        display: flex;
    }

    @media screen and (max-width: 900px) {
        .sidebar {
            width: 100dvw;
            border-right: none;
        }
    }
</style>

<div class="sidebar gap-4" id="editor_sidebar"></div>

<script>
    require("LayoutEditor", (LayoutEditor) => {
        globalThis.editor = new LayoutEditor(
            document.getElementById("editor"),
            JSON.parse(document.getElementById("editor_json").innerHTML),
        );

        globalThis.save_layout = async () => {
            await trigger("app:debounce", ["settings:save_settings"]);
            const res = await (
                await fetch("/api/v0/auth/profile/{{ other.id }}/layout", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        layout: globalThis.editor.json,
                    }),
                })
            ).json();

            trigger("app:toast", [
                res.success ? "success" : "error",
                res.success ? "Layout saved!" : res.message,
            ]);
        };

        globalThis.reset_layout = async () => {
            if (
                !(await trigger("app:confirm", [
                    "Are you sure you would like to do this? This will reset your layout to the default.",
                ]))
            ) {
                return;
            }

            globalThis.editor.json = { json: "default.json" };
            globalThis.editor.render();

            trigger("app:toast", ["success", "Layout reset!"]);
        };

        globalThis.import_layout = async () => {
            const json = await trigger("app:prompt", ["Layout JSON:"]);

            if (!json) {
                return;
            }

            globalThis.editor.json = JSON.parse(json) || {
                json: "default.json",
            };
            globalThis.editor.render();
        };

        globalThis.export_layout = () => {
            trigger("app:copy_text", [JSON.stringify(globalThis.editor.json)]);
        };
    });
</script>

<!-- prettier-ignore -->
{% if is_self %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% call super() %} {% endblock %}
