{% extends "base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}">
    <span
        >{{ lang.get("profile:link.feed") }}
        <b class="notification">{{ response_count }}</b></span
    >
</a>

<a href="/@{{ other.username }}/questions">
    <span
        >{{ lang.get("profile:link.questions") }}
        <b class="notification">{{ questions_count }}</b></span
    >
</a>

{% if is_helper %}
<a href="/@{{ other.username }}/mod" class="active">
    <span
        >{{ lang.get("profile:link.manage") }}
        <b class="notification">Mod</b></span
    >
</a>
{% endif %} {% endblock %} {% block panel %}
<!-- info -->
<hr />
<div id="info" class="flex flex-col gap-4">
    <h3>Info</h3>

    <div class="card w-full shadow">
        <!-- prettier-ignore -->
        <ul style="margin-bottom: 0">
            <li>Joined: <span class="date">{{ other.joined }}</span></li>
            <li>Group: <a href="javascript:change_group()">{{ other.group }}</a></li>
            <li>Tier: <a href="javascript:change_tier()">{{ other.tier }}</a></li>
            <li><a href="/inbox/mail?profile={{ other.id }}">View mail</a></li>
            <li><a href="/inbox/notifications?profile={{ other.id }}">View notifications</a></li>
        </ul>

        <hr />

        <div class="flex gap-2 flex-wrap">
            {% for kv in other.metadata.kv %}
            <details>
                <summary class="flex items-center gap-2">
                    {{ icon "ellipsis" }}
                    <code style="background: transparent">{{ kv.0 }}</code>
                </summary>
                <pre><code>{{ kv.1 }}</code></pre>
            </details>
            {% endfor %}
        </div>
    </div>
</div>

{% if is_powerful %}
<!-- badges -->
<hr />
<div id="badges" class="flex flex-col gap-4">
    <h3>Badges</h3>

    <div class="card w-full shadow">
        <form class="flex flex-col gap-1" id="badges_form">
            <label for="badges_data">Badges data</label>

            <textarea type="text" name="badges" id="badges_data" required>
{{ badges }}</textarea
            >

            <button>{{ lang.get("general:form.submit") }}</button>
        </form>
    </div>

    <script>
        (() => {
            document
                .getElementById("badges_form")
                .addEventListener("submit", async (e) => {
                    e.preventDefault();

                    if (
                        !(await trigger("app:confirm", [
                            "Are you sure you want to do this?",
                        ]))
                    ) {
                        return;
                    }

                    fetch("/api/v0/auth/profile/{{ other.id }}/badges", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            badges: JSON.parse(e.target.badges.value),
                        }),
                    })
                        .then((res) => res.json())
                        .then((res) => {
                            trigger("app:toast", [
                                res.success ? "success" : "error",
                                res.message || "Badges updated!",
                            ]);

                            e.target.reset();
                        });
                });
        })();
    </script>
</div>

<!-- change password -->
<hr />
<div class="flex flex-col gap-4">
    <h3>Change password</h3>

    <form class="card flex flex-col gap-1" id="change_password">
        <label for="new_password">New password</label>
        <input
            type="password"
            name="new_password"
            id="new_password"
            minlength="6"
        />

        <button>{{ lang.get("general:form.submit") }}</button>
    </form>

    <script>
        (() => {
            document
                .getElementById("change_password")
                .addEventListener("submit", async (e) => {
                    e.preventDefault();

                    if (
                        !(await trigger("app:confirm", [
                            "Are you sure you want to do this?",
                        ]))
                    ) {
                        return;
                    }

                    fetch(
                        "/api/v0/auth/profile/{{ other.username }}/password",
                        {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                password: "",
                                new_password: e.target.new_password.value,
                            }),
                        },
                    )
                        .then((res) => res.json())
                        .then((res) => {
                            trigger("app:shout", [
                                res.success ? "tip" : "caution",
                                res.message || "Password changed!",
                            ]);

                            window.location.href = "#top";
                            e.target.reset();
                        });
                });
        })();
    </script>
</div>
{% endif %}

<!-- sessions -->
<hr />
<div id="sessions" class="flex flex-col gap-4">
    <div class="flex w-full gap-2 justify-between items-center">
        <h3>Sessions</h3>

        <a href="javascript:create_token()" class="button primary bold">
            {{ icon "plus" }} New
        </a>
    </div>

    <div class="card w-full shadow" style="overflow: auto">
        <table class="w-full">
            <thead>
                <tr>
                    <th>IP</th>
                    <th>App</th>
                    <th>Permissions</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <!-- prettier-ignore -->
            <tbody>
                {% for (i, session) in tokens_src.iter().enumerate() %}
                <tr id="session:{{ session }}" title="{{ session[..10] }}">
                    {% if let Some(ip) = other.ips.get(i.to_owned()) %}
                    <td style="white-space: nowrap">
                        {% if ip.is_empty() %}
                        <span class="tag">None</span>
                        {% else %}
                        <a href="javascript:globalThis.ban_ip('{{ ip }}')">{{ ip }}</a>
                        {% endif %}
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}

                    {% if let Some(ctx) = other.token_context.get(i.to_owned()) %}
                    <td style="white-space: nowrap">
                        {% let name = ctx.app_name() %}
                        {% if name.is_empty() %}
                        <span class="tag">None</span>
                        {% else %}
                        {{ name }}
                        {% endif %}
                    </td>
                    {% else %}
                    <td style="white-space: nowrap">
                        <span class="tag">None</span>
                    </td>
                    {% endif %}

                    {% if let Some(ctx) = other.token_context.get(i.to_owned()) %}
                    {% if let Some(permissions) = ctx.permissions %}
                    <td style="white-space: nowrap">
                        {% if permissions.is_empty() %}
                        <span class="tag">None</span>
                        {% else %}
                        <ul>
                            {% for permission in permissions %}
                            <li>
                                {{ serde_json::to_string(permission).unwrap() }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                    {% else %}
                    <td style="white-space: nowrap">
                        <span class="tag">All</span>
                    </td>
                    {% endif %}

                    {% else %}
                    <td></td>
                    {% endif %}

                    <td>
                        <a href="javascript:remove_session('{{ session }}')"
                            >Delete</a
                        >
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="application/json" id="tokens">
    {{ tokens|safe }}
</script>

<script>
    (() => {
        const tokens = JSON.parse(document.getElementById("tokens").innerText);

        globalThis.remove_session = async (id) => {
            if (
                !(await trigger("app:confirm", [
                    "Are you sure you want to do this?",
                ]))
            ) {
                return;
            }

            tokens.splice(tokens.indexOf(id), 1);
            document.getElementById(`session:${id}`).remove();
            globalThis.save_sessions();
        };

        globalThis.save_sessions = async () => {
            const res = await (
                await fetch("/api/v0/auth/profile/{{ other.id }}/tokens", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        tokens,
                    }),
                })
            ).json();

            trigger("app:toast", [
                res.success ? "success" : "error",
                res.success ? "Sessions saved!" : res.message,
            ]);
        };

        globalThis.create_token = async () => {
            const app_name = await trigger("app:prompt", ["App identifier:"]);
            if (!app_name) {
                return;
            }

            const permissions = await trigger("app:prompt", [
                "Permissions (comma separated):",
            ]);

            const res = await (
                await fetch(
                    "/api/v0/auth/profile/{{ other.id }}/tokens/generate",
                    {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            app: app_name,
                            permissions: permissions
                                ? permissions.split(",")
                                : [],
                        }),
                    },
                )
            ).json();

            trigger("app:toast", [
                res.success ? "success" : "error",
                res.success ? "Token generated!" : res.message,
            ]);

            if (res.success) {
                alert(res.payload);
            }
        };
    })();
</script>

<!-- chats -->
<hr />
<div id="chats" class="flex flex-col gap-4">
    <h3>Chats</h3>
    {% for chat in chats %} {% include "chats/components/listing.html" %} {%
    endfor %}
</div>

<!-- warnings -->
<hr />
<div id="warnings" class="flex flex-col gap-4">
    <h3>Warnings</h3>

    <div class="card-nest w-full shadow" id="warning_field">
        <div class="card flex flex-col gap-1">Create a warning</div>

        <div class="card">
            <form
                class="flex flex-col gap-2"
                onsubmit="warn_user(event, '{{ other.id }}')"
            >
                <textarea
                    class="w-full"
                    placeholder="Type your warning!"
                    minlength="1"
                    required
                    name="content"
                    id="content"
                ></textarea>

                <div class="flex justify-between w-full gap-1">
                    <div></div>
                    <button class="primary bold">
                        {{ lang.get("general:form.submit") }}
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- prettier-ignore -->
    {% for warning in warnings %}
        {% include "../components/warning.html" %}
    {% endfor %}
</div>

<script>
    function warn_user(e, user) {
        e.preventDefault();
        fetch("/api/v0/auth/warnings", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                recipient: user,
                content: e.target.content.value,
            }),
        })
            .then((res) => res.json())
            .then((res) => {
                trigger("app:toast", [
                    res.success ? "success" : "error",
                    res.success ? "User warned!" : res.message,
                ]);

                if (res.success === true) {
                    e.target.reset();
                }
            });
    }

    globalThis.ban_ip = function (ip) {
        const reason = prompt(
            "Please explain your reason for banning this IP below:",
        );

        if (!reason) {
            return;
        }

        fetch("/api/v0/auth/ipbans", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                ip,
                reason,
            }),
        })
            .then((res) => res.json())
            .then((res) => {
                trigger("app:toast", [
                    res.success ? "success" : "error",
                    res.success ? "IP banned!" : res.message,
                ]);
            });
    };

    globalThis.change_group = async () => {
        const group = await trigger("app:prompt", ["Enter group number:"]);

        if (!group) {
            return;
        }

        if (group !== "-1" && group !== "0") {
            return alert("Cannot grant moderator permissions to other users.");
        }

        fetch("/api/v0/auth/profile/{{ other.id }}/group", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                group: parseInt(group),
            }),
        })
            .then((res) => res.json())
            .then((res) => {
                trigger("app:toast", [
                    res.success ? "success" : "error",
                    res.success ? "Group updated!" : res.message,
                ]);
            });
    };

    globalThis.change_tier = async () => {
        const tier = await trigger("app:prompt", ["Enter tier number:"]);

        if (!tier) {
            return;
        }

        fetch("/api/v0/auth/profile/{{ other.username }}/tier", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                tier: parseInt(tier),
            }),
        })
            .then((res) => res.json())
            .then((res) => {
                trigger("app:toast", [
                    res.success ? "success" : "error",
                    res.success ? "Tier updated!" : res.message,
                ]);
            });
    };
</script>
{% call super() %} {% endblock %}
