{% extends "base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}">
    <span
        >{{ text "profile:link.feed" }}
        <b class="notification">{{ response_count }}</b></span
    >
</a>

<a href="/@{{ other.username }}/questions" class="active">
    <span
        >{{ text "profile:link.questions" }}
        <b class="notification">{{ questions_count }}</b></span
    >
</a>
{% if is_helper %}
<a href="/@{{ other.username }}/mod">
    <span
        >{{ text "profile:link.manage" }} <b class="notification">Mod</b></span
    >
</a>
{% endif %} {% endblock %} {% block panel %}
<!-- inboxes -->
{% if is_self | is_powerful %}
<div class="pillmenu convertible">
    <a href="/@{{ other.username }}/questions"
        ><span>{{ text "timelines:link.global" }}</span></a
    >

    {% if is_powerful %}
    <a href="/@{{ other.username }}/questions/inbox">
        <span
            >{{ text "general:link.inbox" }}
            <b class="notification">Mod</b></span
        >
    </a>
    {% endif %}

    <a href="/@{{ other.username }}/questions/outbox" class="active">
        <span
            >{{ text "profile:link.outbox" }}
            <b class="notification">Private</b></span
        >
    </a>
</div>
{% endif %}

<!-- global questions -->
<div id="questions" class="flex flex-col items-center gap-4">
    {% for question in questions %}
    <div class="card-nest w-full" id="question:{{ question.id }}">
        <div class="card flex flex-col gap-1">
            <div class="flex items-center justify-between gap-1 question_title">
                <div class="footernav">
                    <b class="flex items-center gap-2 item">
                        <!-- prettier-ignore -->
                        {% let author_tag = crate::database::Database::anonymous_tag(question.author.username.as_ref()) %}
                        {% if author_tag.0 == false %}
                        <img
                            title="{{ question.author.username }}'s avatar"
                            src="/api/v0/auth/profile/{{ question.author.id }}/avatar"
                            alt=""
                            class="avatar"
                            loading="lazy"
                            style="--size: 30px"
                        />

                        <a
                            href="/@{{ question.author.username }}"
                            style="color: inherit"
                            class="username"
                        >
                            <!-- prettier-ignore -->
                            {% let display_name = question.author.metadata.kv.get("sparkler:display_name") %}

                            {% if let Some(display_name) = display_name %}
                                {{ crate::routing::pages::escape_username(display_name) }}
                            {% else %}
                                {{ question.author.username }}
                            {% endif %}
                        </a>
                        {% else %}
                        <img
                            title="{{ question.author.username }}'s avatar"
                            src="/static/images/default-avatar.svg"
                            alt=""
                            class="avatar"
                            loading="lazy"
                            style="--size: 30px"
                        />

                        anonymous {% endif %}
                    </b>

                    <span class="date item">{{ question.timestamp }}</span>
                </div>

                <div class="dropdown">
                    <button
                        class="camo"
                        onclick="trigger('app::hooks::dropdown', [event])"
                        exclude="dropdown"
                    >
                        {{ icon "ellipsis" }}
                    </button>

                    <div class="inner" exclude="dropdown">
                        <b class="title">Manage</b>
                        <a
                            href="#"
                            onclick="trigger('questions::delete', ['{{ question.id }}'])"
                            class="red"
                        >
                            {{ icon "trash" }} Delete
                        </a>
                    </div>
                </div>
            </div>

            <!-- prettier-ignore -->
            <span class="question_content" hook="long" hook-arg="lowered">
                {{ rainbeam_shared::ui::render_markdown(question.content)|safe }}
            </span>
        </div>

        <b class="card flex items-center gap-2" title="Recipient">
            {{ icon "at-sign" }}

            <img
                title="{{ question.recipient.username }}'s avatar"
                src="/api/v0/auth/profile/{{ question.recipient.id }}/avatar"
                alt=""
                class="avatar"
                loading="lazy"
                style="--size: 30px"
            />

            <a
                href="/@{{ question.recipient.username }}"
                style="color: inherit"
            >
                <!-- prettier-ignore -->
                {% let display_name = question.recipient.metadata.kv.get("sparkler:display_name") %}

                {% if let Some(display_name) = display_name %}
                    {{ crate::routing::pages::escape_username(display_name) }}
                {% else %}
                    {{ question.recipient.username }}
                {% endif %}
            </a>
        </b>
    </div>
    {% endfor %}

    <!-- pagination buttons -->
    {% if questions_count != 0 %}
    <div class="flex justify-between gap-2 w-full">
        {% if page > 0 %}
        <a class="button secondary" href="?page={{ page - 1 }}"
            >{{ text "general:link.previous" }}</a
        >
        {% else %}
        <div></div>
        {% endif %} {% if questions.len() != 0 %}
        <a class="button secondary" href="?page={{ page + 1 }}"
            >{{ text "general:link.next" }}</a
        >
        {% endif %}
    </div>
    {% endif %}
</div>
{% call super() %} {% endblock %}
