{% extends "base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}" class="active">
    Feed
    <b class="notification">{{ response_count }}</b>
</a>

<a href="/@{{ other.username }}/questions">
    Questions
    <b class="notification">{{ questions_count }}</b>
</a>

{% if is_helper %}
<a href="/@{{ other.username }}/mod">
    Manage
    <b class="notification">Mod</b>
</a>
{% endif %} {% endblock %} {% block search %}
<!-- search -->
{% if tag.is_empty() %}
<form id="search_form" class="flex gap-2 flex-col">
    <label for="query">Query</label>

    <input
        id="query"
        name="q"
        value="{{ query }}"
        placeholder="Search responses"
        maxlength="512"
    />

    <div class="flex justify-between">
        <div></div>
        <button title="Search" class="primary bold">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                width="16"
                height="16"
                aria-label="Search symbol"
                class="icon"
            >
                <path
                    d="M10.68 11.74a6 6 0 0 1-7.922-8.982 6 6 0 0 1 8.982 7.922l3.04 3.04a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215ZM11.5 7a4.499 4.499 0 1 0-8.997 0A4.499 4.499 0 0 0 11.5 7Z"
                ></path>
            </svg>

            Search
        </button>
    </div>
</form>
{% endif %} {% endblock %} {% block panel %}
<!-- feed -->
<div id="feed" class="flex flex-col gap-4">
    <!-- prettier-ignore -->
    {% let anonymous_username = other.metadata.kv.get("sparkler:anonymous_username") %}
    {% let anonymous_avatar = other.metadata.kv.get("sparkler:anonymous_avatar") %}

    <!-- pinned -->
    <!-- prettier-ignore -->
    {% if let Some(pinned) = pinned %}
        {% for response in pinned %}
            {% let is_pinned = true %}
            {% let show_pin_button = true %}
            {% let do_not_render_question = false %}
            {% let show_comments = true %}
            {% let do_render_nested = true %}
            {% include "../components/response.html" %}
        {% endfor %}
    <hr class="small" />
    {% endif %} {% if !tag.is_empty() %}
    <h3>#{{ tag }}</h3>
    {% endif %} {% if responses.len() == 0 %}
    <div class="markdown-alert-important">
        <span>No results matching this query yet!</span>
    </div>
    {% endif %}

    <!-- pagination buttons -->
    {% if page != 0 %}
    <div class="flex justify-center items-center gap-4 w-full">
        <a
            class="button primary"
            href="?page=0{% if !tag.is_empty() %}&tag={{ tag }}{% endif %}"
        >
            View full feed
        </a>
    </div>
    {% endif %}

    <!-- actual feed -->
    {% include "partials/profile/feed.html" %}
</div>

<script>
    use("app", (app) => {
        app["hook.attach_to_partial"](
            "/@{{ other.username }}/_app/feed.html",
            "/@{{ other.username }}",
            document.getElementById("feed"),
            document.body,
            parseInt("{{ page }}"),
        ).then(() => {
            console.log("partial end");
            document.getElementById("feed").innerHTML +=
                `<div class="w-full flex flex-col gap-2">
                <hr />
                <p class="w-full flex justify-center fade">
                    You've reached the end
                </p>
            </div>`;
        });
    });
</script>
{% call super() %} {% endblock %}
