{% extends "base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}" class="active">
    <span
        >{{ text "profile:link.feed" }}
        <b class="notification">{{ response_count }}</b></span
    >
</a>

<a href="/@{{ other.username }}/questions">
    <span
        >{{ text "profile:link.questions" }}
        <b class="notification">{{ questions_count }}</b></span
    >
</a>

{% if is_helper %}
<a href="/@{{ other.username }}/mod">
    {{ text "profile:link.manage" }}
    <b class="notification">Mod</b>
</a>
{% endif %} {% endblock %} {% block search %}
<!-- search -->
{% if tag.is_empty() %}
<form id="search_form" class="flex gap-2 flex-col">
    <label for="query">Query</label>

    <input
        id="query"
        name="q"
        value="{{ query }}"
        placeholder="Search responses"
        maxlength="512"
    />

    <div class="flex justify-between">
        <div></div>
        <button title="Search" class="primary bold">
            {{ icon "search" }} {{ text "general:link.search" }}
        </button>
    </div>
</form>
{% endif %} {% endblock %} {% block panel %}
<!-- feed -->
<div id="feed" class="flex flex-col gap-4">
    <!-- prettier-ignore -->
    {% let anonymous_username = other.metadata.kv.get("sparkler:anonymous_username") %}
    {% let anonymous_avatar = other.metadata.kv.get("sparkler:anonymous_avatar") %}

    <!-- pinned -->
    <!-- prettier-ignore -->
    {% if let Some(pinned) = pinned %}
        {% for response in pinned %}
            {% let is_pinned = true %}
            {% let show_pin_button = true %}
            {% let do_not_render_question = false %}
            {% let show_comments = true %}
            {% let do_render_nested = true %}
            {% include "../components/response.html" %}
        {% endfor %}
    <hr class="small" />
    {% endif %} {% if !tag.is_empty() %}
    <h3>#{{ tag }}</h3>
    {% endif %} {% if responses.len() == 0 %}
    <div class="markdown-alert-warning">
        <span>{{ text "general:text.no_results" }}</span>
    </div>
    {% endif %}

    <!-- pagination buttons -->
    {% if page != 0 %}
    <div class="flex justify-center items-center gap-4 w-full">
        <a
            class="button primary"
            href="?page=0{% if !tag.is_empty() %}&tag={{ tag }}{% endif %}"
        >
            {{ text "general:text.view_full_feed" }}
        </a>
    </div>
    {% endif %}

    <!-- actual feed -->
    {% include "partials/profile/feed.html" %}
</div>

<script>
    use("app", (app) => {
        app["hook.attach_to_partial"](
            "/@{{ other.username }}/_app/feed.html",
            "/@{{ other.username }}",
            document.getElementById("feed"),
            document.body,
            parseInt("{{ page }}"),
        ).then(() => {
            console.log("partial end");
            document.getElementById("feed").innerHTML +=
                `<div class="w-full flex flex-col gap-2">
                <hr />
                <p class="w-full flex justify-center fade">
                    You've reached the end
                </p>
            </div>`;

            setTimeout(() => {
                trigger("questions:carp");
            }, 150);
        });
    });
</script>
{% call super() %} {% endblock %}
