{% extends "base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}">
    <span
        >{{ text "profile:link.feed" }}
        <b class="notification">{{ response_count }}</b></span
    >
</a>

<a href="/@{{ other.username }}/questions" class="active">
    <span>Questions <b class="notification">{{ questions_count }}</b></span>
</a>

{% if is_helper %}
<a href="/@{{ other.username }}/mod">
    <span
        >{{ text "profile:link.manage" }}
        <b class="notification">Mod</b></span
    >
</a>
{% endif %} {% endblock %} {% block search %}
<!-- search -->
<form id="search_form" class="flex gap-2 flex-col">
    <label for="query">Query</label>

    <input
        id="query"
        name="q"
        value="{{ query }}"
        placeholder="Search global questions"
        maxlength="512"
    />

    <div class="flex justify-between">
        <div></div>
        <button title="Search" class="primary bold">
            {{ icon "search" }} {{ text "general:link.search" }}
        </button>
    </div>
</form>
{% endblock %} {% block panel %}
<!-- inboxes -->
{% if is_self | is_powerful %}
<div class="pillmenu convertible">
    <a href="/@{{ other.username }}/questions" class="active"
        ><span>{{ text "timelines:link.global" }}</span></a
    >

    {% if is_powerful %}
    <a href="/@{{ other.username }}/questions/inbox">
        <span
            >{{ text "general:link.inbox" }}
            <b class="notification">Mod</b></span
        >
    </a>
    {% endif %}

    <a href="/@{{ other.username }}/questions/outbox">
        <span
            >{{ text "profile:link.outbox" }}
            <b class="notification"
                >{{ text "profile:label.private" }}</b
            ></span
        >
    </a>
</div>
{% endif %}

<!-- global questions -->
<div id="questions" class="flex flex-col items-center gap-4">
    <!-- prettier-ignore -->
    {% for question in questions %}
        {% include "../components/global_question.html" %}
    {% endfor %}

    <!-- pagination buttons -->
    {% if questions_count != 0 %}
    <div class="flex justify-between gap-2 w-full">
        {% if page > 0 %}
        <a class="button secondary" href="?page={{ page - 1 }}"
            >{{ text "general:link.previous" }}</a
        >
        {% else %}
        <div></div>
        {% endif %} {% if questions.len() != 0 %}
        <a class="button secondary" href="?page={{ page + 1 }}"
            >{{ text "general:link.next" }}</a
        >
        {% endif %}
    </div>
    {% endif %}
</div>
{% call super() %} {% endblock %}
