{% extends "../base.html" %} {% block title %}{{ other.username }} - {{
config.name }}{% endblock %} {% block content %} {% if let Some(warning) =
other.metadata.kv.get("sparkler:warning") %} {% if !warning.is_empty() %} {% let
warning_hash = rainbeam_shared::hash::hash(warning.to_string()) %}
<article>
    <main class="flex flex-col gap-4">
        <div class="card-nest">
            <div class="card">
                <span class="fade"
                    >{{ text "profile:base.html:text.warning_title" }}</span
                >
            </div>

            <div class="card profile_warning">
                {{ rainbeam_shared::ui::render_markdown(warning)|safe }}
            </div>
        </div>

        <span class="fade">
            {{ text "profile:base.html:text.warning_continue" }}
        </span>

        <div class="flex gap-2">
            <button
                class="primary bold"
                onclick="trigger('warnings:accept', ['{{ other.id }}', '{{ warning_hash }}', '/@{{ other.username }}']);"
            >
                {{ text "general:dialog.continue" }}
            </button>
            <a href="/" class="button bold"
                >{{ text "general:dialog.cancel" }}</a
            >
        </div>
    </main>
</article>

<!-- prettier-ignore -->
<script>
    setTimeout(() => {
        const warnings = ns("warnings");
        warnings.open("{{ other.id }}", "{{ warning_hash }}");
    }, 100);
</script>
{% endif %} {% endif %} {% if let Some(profile) = profile %} {% let other =
profile.clone() %}
<div id="is_self"></div>
{% let raw_metadata = crate::routing::pages::clean_metadata_raw(other.metadata)
%} {% include "components/theming.html" %} {% endif %} {% call super() %} {%
endblock %}
