[package]
name = "databeam"
version = "0.2.7"
edition = "2021"
description = "Database connection library"
authors = ["trisuaso", "swmff"]
homepage = "https://rainbeam.net"
repository = "https://github.com/swmff/rainbeam"
license = "MIT"

[features]
postgres = []
mysql = []
sqlite = []
default = ["sqlite"]

[dependencies]
redis = "0.28.2"
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.138"
toml = "0.8.20"
rainbeam-shared = "0.2.0"
pathbufd = "0.1.4"

[dependencies.sqlx]
version = "0.8.3"
features = [
    "sqlite",
    "postgres",
    "mysql",
    "any",
    "runtime-tokio",
    "tls-native-tls",
]
