{% extends "base.html" %} {% block title %}My mail inbox - {{ config.name }}{%
endblock %} {% block nav_left %}
<a class="button" href="/" title="Timeline">
    {{ icon "house" }}
    <span class="desktop">{{ lang.get("general:links.home") }}</span>
    <span class="mobile">{{ lang.get("general:links.home") }}</span>
</a>

<a class="button" href="/inbox" title="My inbox">
    {{ icon "inbox" }}
    <span class="flex items-center gap-2">
        <span>{{ lang.get("general:links.inbox") }}</span>
        {% if unread != 0 %}
        <span class="notification tr">{{ unread }}</span>
        {% endif %}
    </span>
</a>
{% endblock %} {% block nav_right %}
<a class="button" href="/inbox/notifications" title="My notifications">
    {{ icon "bell" }} {% if notifs != 0 %}
    <span class="notification tr">{{ notifs }}</span>
    {% endif %}
</a>
{% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-4">
        <div class="pillmenu convertible">
            <a href="/inbox/mail?profile={{ pid }}" class="active"
                ><span>Received</span></a
            >
            <a href="/inbox/mail/sent?profile={{ pid }}"><span>Sent</span></a>
        </div>

        {% include "components/box_header.html" %} {% if mail.len() == 0 %}
        <div class="markdown-alert-warning">
            <span>{{ lang.get("general:text.no_results") }}</span>
        </div>
        {% endif %} {% for letter in mail %} {% include
        "components/listing.html" %} {% endfor %}

        <!-- pagination buttons -->
        <div class="flex justify-between gap-2 w-full">
            {% if page > 0 %}
            <a
                class="button secondary"
                href="?page={{ page - 1 }}&profile={{ pid }}"
                >Previous</a
            >
            {% else %}
            <div></div>
            {% endif %} {% if mail.len() != 0 %}
            <a
                class="button secondary"
                href="?page={{ page + 1 }}&profile={{ pid }}"
                >Next</a
            >
            {% endif %}
        </div>
    </main>
</article>

{% if let Some(profile) = profile %} {% let other = profile.clone() %} {% if
profile.username == other.username %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% endif %} {% call super() %} {% endblock %}
