{% extends "base.html" %} {% block title %}View mail - {{ config.name }}{%
endblock %} {% block nav_left %}
<a class="button" href="/" title="Timeline">
    {{ icon "house" }}
    <span class="desktop">{{ lang.get("general:links.home") }}</span>
    <span class="mobile">{{ lang.get("general:links.home") }}</span>
</a>

<a class="button" href="/inbox" title="My inbox">
    {{ icon "inbox" }}
    <span class="flex items-center gap-2">
        <span>{{ lang.get("general:links.inbox") }}</span>
        {% if unread != 0 %}
        <span class="notification tr">{{ unread }}</span>
        {% endif %}
    </span>
</a>
{% endblock %} {% block nav_right %}
<a class="button" href="/inbox/notifications" title="My notifications">
    {{ icon "bell" }}
    {% if notifs != 0 %}
    <span class="notification tr">{{ notifs }}</span>
    {% endif %}
</a>
{% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-4">
        {% include "components/mail.html" %} {% if let Some(user) = profile %}
        <script>
            setTimeout(() => {
                if (
                    document.getElementById("unread") &&
                    "{{ user.id }}" !== "{{ author.id }}"
                ) {
                    // this mail has the "unread" state
                    trigger("mail:state", ["{{ letter.id }}", "Read"]);
                }
            }, 250);
        </script>
        {% endif %}
    </main>
</article>

{% if let Some(profile) = profile %} {% let other = profile.clone() %} {% if
profile.username == other.username %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% endif %} {% call super() %} {% endblock %}
