{% extends "profile_base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}">
    Answers
    <b class="notification">{{ response_count }}</b>
</a>

<a href="/@{{ other.username }}/questions" class="active">
    Questions
    <b class="notification">{{ questions_count }}</b>
</a>

<a href="/@{{ other.username }}/followers">
    Followers
    <b class="notification">{{ followers_count }}</b>
</a>

<a href="/@{{ other.username }}/following">
    Following
    <b class="notification">{{ following_count }}</b>
</a>
{% endblock %} {% block panel %}
<!-- global questions -->
<div id="questions" class="flex flex-col items-center gap-2">
    <!-- prettier-ignore -->
    {% for question in questions %}
        {% include "components/global_question.html" %}
    {% endfor %}

    <!-- pagination buttons -->
    {% if questions_count != 0 %}
    <div class="flex justify-between gap-2 w-full">
        {% if page > 0 %}
        <a class="button secondary" href="?page={{ page - 1 }}">Previous</a>
        {% else %}
        <div></div>
        {% endif %} {% if questions.len() != 0 %}
        <a class="button secondary" href="?page={{ page + 1 }}">Next</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% call super() %} {% endblock %}
