{% extends "profile_base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}">
    Answers
    <b class="notification">{{ response_count }}</b>
</a>

<a href="/@{{ other.username }}/questions">
    Questions
    <b class="notification">{{ questions_count }}</b>
</a>

<a href="/@{{ other.username }}/followers">
    Followers
    <b class="notification">{{ followers_count }}</b>
</a>

<a href="/@{{ other.username }}/following">
    Following
    <b class="notification">{{ following_count }}</b>
</a>

{% if is_powerful %}
<a href="/@{{ other.username }}/warnings" class="active">
    Warnings
    <b class="notification">Mod</b>
</a>
{% endif %} {% endblock %} {% block panel %}
<!-- warnings -->
<div id="warnings" class="flex flex-col gap-2">
    <div class="card-nest w-full shadow" id="warning_field">
        <div class="card flex flex-col gap-1">Create a warning</div>

        <div class="card">
            <form
                class="flex flex-col gap-2"
                onsubmit="warn_user(event, '{{ other.id }}')"
            >
                <textarea
                    class="w-full"
                    placeholder="Type your warning!"
                    minlength="1"
                    required
                    name="content"
                    id="content"
                ></textarea>

                <div class="flex justify-between w-full gap-1">
                    <div></div>
                    <button class="round-lg primary bold">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <hr />

    <!-- prettier-ignore -->
    {% for warning in warnings %}
        {% include "components/warning.html" %}
    {% endfor %}
</div>

<script>
    function warn_user(e, user) {
        e.preventDefault();
        fetch("/api/auth/warnings", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                recipient: user,
                content: e.target.content.value,
            }),
        })
            .then((res) => res.json())
            .then((res) => {
                trigger("app:shout", [
                    res.success ? "tip" : "caution",
                    res.message || "User warned!",
                ]);

                if (res.success === true) {
                    e.target.reset();
                }
            });
    }
</script>
{% call super() %} {% endblock %}
