{% extends "settings_base.html" %} {% block sidenav %}
<a href="/settings">Account</a>
<a class="active" href="/settings/profile">Profile</a>
<a href="/settings/privacy">Privacy</a>
{% endblock %} {% block panel %}
<div class="flex flex-col gap-2">
    <div class="flex flex-col gap-1">
        <label for="sparkler:motivational_header">Motivational header</label>

        <input
            name="sparkler:motivational_header"
            id="sparkler:motivational_header"
            onchange="update_kv('sparkler:motivational_header', event.target.value)"
        />

        <p class="fade">
            Motivate people to ask you a question! Shown just above the question
            input.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:anonymous_username">Anonymous username</label>

        <input
            name="sparkler:anonymous_username"
            id="sparkler:anonymous_username"
            onchange="update_kv('sparkler:anonymous_username', event.target.value)"
        />

        <p class="fade">
            This name will be shown instead of "anonymous" in the username slot
            of anonymous questions.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:anonymous_avatar">Anonymous avatar URL</label>

        <input
            type="url"
            name="sparkler:anonymous_avatar"
            id="sparkler:anonymous_avatar"
            onchange="update_kv('sparkler:anonymous_avatar', event.target.value)"
        />

        <p class="fade">
            This avatar will be shown instead of the default avatar on anonymous
            questions.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:pinned">Pinned</label>

        <textarea
            name="sparkler:pinned"
            id="sparkler:pinned"
            onchange="update_kv('sparkler:pinned', event.target.value)"
        ></textarea>

        <p class="fade">
            Put the ID of the responses you want to pin there. Note this will
            also pin the question! You can also do this by clicking "Pin" on any
            of your responses. (Responses should be separated by a comma, with a
            trailing comma at the end!)
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:profile_theme">Profile theme</label>

        <input
            name="sparkler:profile_theme"
            id="sparkler:profile_theme"
            onchange="update_kv('sparkler:profile_theme', event.target.value)"
        />

        <p class="fade">
            This is the base site theme used on your profile. You can leave it
            blank and let people use their default, or you can use either
            <code>light</code>
            or
            <code>dark</code>
        </p>
    </div>

    <hr />

    <div
        class="markdown-alert-important flex flex-col gap-2"
        style="align-items: flex-start"
    >
        <b>Theming best practices:</b>

        <ol>
            <li>Make sure your theme is easily readable and accessible</li>
            <li>Make sure your theme follows a coherent color scheme</li>
            <li>
                Make sure your theme isn't too bright or too dark, as many users
                could be sensitive to extreme colors
            </li>
        </ol>
    </div>

    <p>Or, you can define your own colors! Leave blank for defaults.</p>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_surface">Surface</label>

        <input
            name="sparkler:color_surface"
            id="sparkler:color_surface"
            onchange="update_kv('sparkler:color_surface', event.target.value)"
        />

        <p class="fade">Page background.</p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_lowered">Lowered</label>

        <input
            name="sparkler:color_lowered"
            id="sparkler:color_lowered"
            onchange="update_kv('sparkler:color_lowered', event.target.value)"
        />

        <p class="fade">
            Stuff that is darker than the page background. (questions,
            motivational header, buttons, textarea, etc.)
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_super_lowered">Super lowered</label>

        <input
            name="sparkler:color_surface"
            id="sparkler:color_surface"
            onchange="update_kv('sparkler:color_super_lowered', event.target.value)"
        />

        <p class="fade">Even darker than that. (button hover, etc.)</p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_raised">Raised</label>

        <input
            name="sparkler:color_raised"
            id="sparkler:color_raised"
            onchange="update_kv('sparkler:color_raised', event.target.value)"
        />

        <p class="fade">
            Stuff that is lighter than the page background. (profile card, pill
            menu button hover, responses, etc.)
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_super_raised">Super raised</label>

        <input
            name="sparkler:color_super_raised"
            id="sparkler:color_super_raised"
            onchange="update_kv('sparkler:color_super_raised', event.target.value)"
        />

        <p class="fade">Even lighter than that. (pill menu buttons, etc.)</p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_text">Text</label>

        <input
            name="sparkler:color_text"
            id="sparkler:color_text"
            onchange="update_kv('sparkler:color_text', event.target.value)"
        />

        <p class="fade">Text color used everywhere.</p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_text_raised">Text raised</label>

        <input
            name="sparkler:color_text_raised"
            id="sparkler:color_text_raised"
            onchange="update_kv('sparkler:color_text_raised', event.target.value)"
        />

        <p class="fade">
            Text color used on raised elements (profile card, responses, etc.)
            everywhere.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_text_lowered">Text lowered</label>

        <input
            name="sparkler:color_text_lowered"
            id="sparkler:color_text_lowered"
            onchange="update_kv('sparkler:color_text_lowered', event.target.value)"
        />

        <p class="fade">
            Text color used on lowered elements (motivation header, questions,
            etc.) everywhere.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_link">Link color</label>

        <input
            name="sparkler:color_link"
            id="sparkler:color_link"
            onchange="update_kv('sparkler:color_link', event.target.value)"
        />

        <p class="fade">Text color used on links.</p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_primary">Primary</label>

        <input
            name="sparkler:color_primary"
            id="sparkler:color_primary"
            onchange="update_kv('sparkler:color_primary', event.target.value)"
        />

        <p class="fade">That primary pink-ish color.</p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_primary_lowered">Primary lowered</label>

        <input
            name="sparkler:color_primary_lowered"
            id="sparkler:color_primary_lowered"
            onchange="update_kv('sparkler:color_primary_lowered', event.target.value)"
        />

        <p class="fade">
            That primary pink-ish color when you hover over it (buttons).
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_primary">Text primary</label>

        <input
            name="sparkler:color_text_primary"
            id="sparkler:color_text_primary"
            onchange="update_kv('sparkler:color_text_primary', event.target.value)"
        />

        <p class="fade">
            Text color used on elements using the primary color as a background.
        </p>
    </div>
</div>
{% call super() %} {% endblock %}
