{% extends "base.html" %} {% block m_nav_right %}
<form id="search_form" class="flex gap-2 flex-row w-full">
    <input
        id="query"
        name="q"
        value="{{ query }}"
        placeholder="Query"
        maxlength="512"
        style="flex: 1 0"
    />

    <button title="Search" class="normal">{{ icon "search" }}</button>
</form>
{% endblock %} {% block panel %}
<div class="flex flex-col gap-4">
    <!-- status sorts -->
    {% if creator.is_empty() %}
    <div class="pillmenu convertible true">
        <a
            href="?status=Featured"
            class="{% if status == authbeam::model::ItemStatus::Featured %}active{% endif %}"
            title="Featured items"
            >{{ icon "star" }} <span>{{ text "market:text.featured" }}</span></a
        >

        <a
            href="?status=Approved"
            class="{% if status == authbeam::model::ItemStatus::Approved %}active{% endif %}"
            title="Approved items"
            >{{ icon "circle-check" }}
            <span>{{ text "market:text.approved" }}</span></a
        >
        {% if is_helper %}
        <a
            href="?status=Pending"
            class="{% if status == authbeam::model::ItemStatus::Pending %}active{% endif %}"
            title="Pending items"
            >{{ icon "circle-dashed" }}
            <span>{{ text "market:text.pending" }}</span></a
        >
        <a
            href="?status=Rejected"
            class="{% if status == authbeam::model::ItemStatus::Rejected %}active{% endif %}"
            title="Rejected items"
            >{{ icon "ban" }} <span>{{ text "market:text.rejected" }}</span></a
        >
        {% endif %}
    </div>
    {% endif %} {% if items.len() == 0 %}
    <div class="markdown-alert-warning">
        <span>{{ text "general:text.no_results" }}</span>
    </div>
    {% endif %}

    <!-- items -->
    <div class="flex w-full flex-col gap-2" id="items">
        {% for (item, author) in items %} {% include "components/listing.html"
        %} {% endfor %}
    </div>

    <!-- pagination buttons -->
    <div class="flex justify-between gap-2 w-full">
        {% if page > 0 %}
        <a
            class="button secondary"
            href="?page={{ page - 1 }}&q={{ query }}&status={{ status.to_string() }}&creator={{ creator }}&customer={{ customer }}"
            >{{ text "general:link.previous" }}</a
        >
        {% else %}
        <div></div>
        {% endif %} {% if items.len() != 0 %}
        <a
            class="button secondary"
            href="?page={{ page + 1 }}&q={{ query }}&status={{ status.to_string() }}&creator={{ creator }}&customer={{ customer }}"
            >{{ text "general:link.next" }}</a
        >
        {% endif %}
    </div>
</div>
{% call super() %} {% endblock %}
