{% extends "base.html" %} {% block m_nav_right %}
<form id="search_form" class="flex gap-2 flex-row w-full">
    <input
        id="query"
        name="q"
        value="{{ query }}"
        placeholder="Query"
        maxlength="512"
        style="flex: 1 0"
    />

    <button title="Search" class="normal">{{ icon "search" }}</button>
</form>
{% endblock %} {% block panel %}
<div class="flex flex-col gap-4">
    {% if is_helper %}
    <!-- status sorts -->
    <div class="pillmenu convertible">
        <a
            href="?status=Approved"
            class="{% if status == authbeam::model::ItemStatus::Approved %}active{% endif %}"
            title="Approved items"
            >{{ icon "circle-check" }}
            <span>{{ text "market:text.approved" }}</span></a
        >
        <a
            href="?status=Pending"
            class="{% if status == authbeam::model::ItemStatus::Pending %}active{% endif %}"
            title="Pending items"
            >{{ icon "circle-dashed" }}
            <span>{{ text "market:text.pending" }}</span></a
        >
        <a
            href="?status=Rejected"
            class="{% if status == authbeam::model::ItemStatus::Rejected %}active{% endif %}"
            title="Rejected items"
            >{{ icon "ban" }} <span>{{ text "market:text.rejected" }}</span></a
        >
    </div>
    {% endif %} {% if items.len() == 0 %}
    <div class="markdown-alert-warning">
        <span>{{ text "general:text.no_results" }}</span>
    </div>
    {% endif %}

    <!-- items -->
    <div class="flex w-full flex-col gap-2" id="items">
        {% for (item, author) in items %}
        <a
            href="/market/item/{{ item.id }}"
            class="card flex justify-between gap-2"
        >
            <div class="flex flex-col gap-2">
                <b>{{ item.name }}</b>
                <div class="footernav items-center fade">
                    <span class="item">{{ item.type.to_string() }}</span>
                    <span class="date item">{{ item.timestamp }}</span>
                </div>
            </div>

            <div class="flex flex-col justify-right gap-2">
                <span class="flex items-center justify-right gap-2">
                    <img
                        title="{{ author.username }}'s avatar"
                        src="/api/v0/auth/profile/{{ author.id }}/avatar"
                        alt="@{{ author.username }}"
                        class="avatar"
                        loading="lazy"
                        style="--size: 20px"
                    />
                    <span>{{ author.username }}</span>
                </span>

                <b class="flex gap-2 items-center">
                    {% include "components/price.html" %}
                </b>
            </div>
        </a>
        {% endfor %}
    </div>

    <!-- pagination buttons -->
    <div class="flex justify-between gap-2 w-full">
        {% if page > 0 %}
        <a
            class="button secondary"
            href="?page={{ page - 1 }}&q={{ query }}&status={{ status.to_string() }}"
            >{{ text "general:link.previous" }}</a
        >
        {% else %}
        <div></div>
        {% endif %} {% if items.len() != 0 %}
        <a
            class="button secondary"
            href="?page={{ page + 1 }}&q={{ query }}&status={{ status.to_string() }}"
            >{{ text "general:link.next" }}</a
        >
        {% endif %}
    </div>
</div>
{% call super() %} {% endblock %}
