{% extends "base.html" %} {% block m_nav_right %}
<button
    title="{{ reaction_count }} reactions"
    onclick="trigger('reactions:toggle', ['{{ item.id }}', 'Item', event.target])"
    hook="check_reaction"
    hook-arg:id="{{ item.id }}"
>
    {{ icon "heart" }} {% if reaction_count > 0 %}
    <span class="notification camo">{{ reaction_count }}</span>
    {% endif %}
</button>
{% if !is_owned && (item.cost != -1) %}
<button
    class="primary"
    onclick="trigger('items:purchase', ['{{ item.id }}', '{{ item.cost }}'])"
>
    {{ icon "check" }}
    <span>{{ text "market:text.buy" }}</span>
</button>
{% endif %} {% endblock %} {% block panel %} {% let user =
profile.as_ref().unwrap() %}
<div class="flex flex-col gap-4">
    {% if is_helper %}
    <!-- status sorts -->
    <div class="pillmenu convertible true">
        <a
            href="#"
            class="{% if item.status == authbeam::model::ItemStatus::Featured %}active{% endif %}"
            title="Mark as featured"
            onclick="trigger('items:status', ['{{ item.id }}', 'Featured'])"
            data-item-status="Featured"
        >
            {{ icon "star" }}
            <span>{{ text "market:text.featured" }}</span>
        </a>

        <a
            href="#"
            class="{% if item.status == authbeam::model::ItemStatus::Approved %}active{% endif %}"
            title="Mark as approved"
            onclick="trigger('items:status', ['{{ item.id }}', 'Approved'])"
            data-item-status="Approved"
        >
            {{ icon "circle-check" }}
            <span>{{ text "market:text.approved" }}</span>
        </a>

        <a
            href="#"
            class="{% if item.status == authbeam::model::ItemStatus::Pending %}active{% endif %}"
            title="Mark as pending"
            onclick="trigger('items:status', ['{{ item.id }}', 'Pending'])"
            data-item-status="Pending"
        >
            {{ icon "circle-dashed" }}
            <span>{{ text "market:text.pending" }}</span>
        </a>

        <a
            href="#"
            class="{% if item.status == authbeam::model::ItemStatus::Rejected %}active{% endif %}"
            title="Mark as rejected"
            onclick="trigger('items:status', ['{{ item.id }}', 'Rejected'])"
            data-item-status="Rejected"
        >
            {{ icon "ban" }} <span>{{ text "market:text.rejected" }}</span>
        </a>
    </div>

    {% endif %}

    <!-- tabs -->
    <div class="pillmenu convertible">
        <a href="#/details" data-tab-button="details" class="active"
            >{{ text "market:text.details" }}</a
        >

        <a href="#/preview" data-tab-button="preview">
            {% if !is_owned %} {{ text "market:text.preview" }} {% else %} {{
            text "market:text.contents" }} {% endif %}
        </a>

        {% if (user.id == creator.id) | is_helper %}
        <a href="#/options" data-tab-button="options"
            >{{ text "general:action.edit" }}</a
        >
        {% endif %}
    </div>

    <!-- item -->
    <div class="flex w-full flex-col gap-2 card" data-tab="details">
        <h3>{{ item.name }}</h3>
        <div class="items-center footernav gap-2">
            <a
                href="/@{{ creator.username }}"
                class="item flex items-center gap-2"
            >
                <img
                    title="{{ creator.username }}'s avatar"
                    src="/api/v0/auth/profile/{{ creator.id }}/avatar"
                    alt="@{{ creator.username }}"
                    class="avatar"
                    loading="lazy"
                    style="--size: 25px"
                />
                <span>{{ creator.username }}</span>
            </a>

            <div class="item date">{{ item.timestamp }}</div>
        </div>

        <hr />

        {% if !is_owned %}
        <h4 id="price" class="flex items-center gap-2">
            {% include "components/price.html" %}
        </h4>

        {% if item.cost != -1 %}
        <button
            class="big primary bold big gap-2"
            onclick="trigger('items:purchase', ['{{ item.id }}', '{{ item.cost }}'])"
        >
            {{ icon "check" }}
            <span>{{ text "market:text.buy" }}</span>
        </button>

        <style>
            .big {
                font-size: 18px;
            }

            .big svg {
                --size: calc(1em * 1.25);
                width: var(--size);
                height: var(--size);
            }
        </style>
        {% endif %} {% else %}
        <span class="markdown-alert-tip"
            >{{ text "market:text.item_owned" }}</span
        >
        {% endif %}

        <hr />

        <div id="description">
            {{ rainbeam_shared::ui::render_markdown(item.description)|safe }}
        </div>
    </div>

    <!-- prettier-ignore -->
    <div data-tab="preview" class="hidden card w-full">
        {% if item.type == authbeam::model::ItemType::Text %}
        <!-- text item -->
        {% if is_owned %}
        <span class="markdown-alert-tip"
            >{{ text "market:text.item_owned" }}</span
        >
        <pre><code>{{ item.content }}</code></pre>
        {% else %}
        <span class="markdown-alert-caution no-margin"
            >{{ text "market:text.item_not_owned" }}</span
        >
        {% endif %}

        {% else if item.type == authbeam::model::ItemType::UserTheme %}
        <!-- user theme item -->
        {% if is_owned %}
        <span class="markdown-alert-tip"
            >{{ text "market:text.item_owned" }}</span
        >

        <script>
            globalThis.patch_metadata = async (metadata) => {
                fetch("/api/v0/auth/profile/{{ user.id }}/metadata", {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        metadata,
                    }),
                })
                    .then((res) => res.json())
                    .then((res) => {
                        trigger("app::toast", [
                            res.success ? "success" : "error",
                            res.success ? "Metadata updated!" : res.message,
                        ]);
                    });
            };
        </script>

        {% if (user.id == creator.id) %}
        <!-- use decompiled -->
        <button class="primary bold" onclick="copy_to_profile()">
            {{ icon "paint-bucket" }}
            <span>{{ text "market:action.copy_to_profile" }}</span>
        </button>
        {% else %}
        <!-- use compiled -->
        <button class="primary bold" onclick="use_template()">
            {{ icon "paint-bucket" }}
            <span>{{ text "market:action.use_theme" }}</span>
        </button>

        <script>
            async function use_template() {
                await patch_metadata({
                    kv: {
                        "rainbeam:market_theme_template":
                            document.getElementById("theme_content")
                                .innerText,
                    },
                });
            }
        </script>
        {% endif %}

        <script type="text/css" id="theme_content">{{ item.content }}</script>
        {% else %}
        <span class="markdown-alert-caution no-margin"
            >{{ text "market:text.item_not_owned" }}</span
        >
        {% endif %}
        <hr />
        <iframe src="/market/_app/theme_playground.html/{{ item.id }}" frameborder="0" class="card w-full" style="padding: 0; min-height: 45rem"></iframe>
        {% else if item.type == authbeam::model::ItemType::Layout %}
        <!-- layout item -->
        {% if is_owned %}
        <a class="button primary bold" href="/@{{ user.username }}/layout?id={{ item.id }}">
            {{ icon "layout-template" }}
            <span>{{ text "market:action.clone_layout" }}</span>
        </a>
        {% endif %}

        <hr />
        <iframe src="/market/_app/layout_playground.html/{{ item.id }}" frameborder="0" class="card w-full" style="padding: 0; min-height: 45rem"></iframe>
        {% endif %}
    </div>

    <!-- options -->
    {% if (user.id == creator.id) | is_helper %}
    <div data-tab="options" class="hidden card w-full flex flex-col gap-2">
        <div class="card secondary flex gap-2 flex-wrap">
            <button
                class="secondary"
                onclick="trigger('items:edit_content', ['{{ item.id }}', '{{ item.type.to_string() }}'])"
            >
                {{ icon "pen" }}
                <span>{{ text "market:action.edit_content" }}</span>
            </button>

            <button
                class="secondary"
                onclick="trigger('app:copy_text', ['{{ item.id }}'])"
            >
                {{ icon "copy" }}
                <span>{{ text "general:action.copy_id" }}</span>
            </button>

            <button
                class="red secondary"
                onclick="trigger('items:delete', ['{{ item.id }}'])"
            >
                {{ icon "trash" }}
                <span>{{ text "general:action.delete" }}</span>
            </button>
        </div>

        <form
            class="card secondary flex flex-col gap-2"
            onsubmit="event.preventDefault(); edit_item(event)"
        >
            <div class="row flex flex-col gap-1">
                <label for="name">{{ text "market:label.name" }}</label>
                <input
                    type="text"
                    name="name"
                    id="name"
                    required
                    minlength="2"
                    maxlength="32"
                    placeholder="Give your item an appealing name"
                    value="{{ item.name }}"
                />
            </div>

            <div class="row flex flex-col gap-1">
                <label for="description"
                    >{{ text "market:label.description" }}</label
                >
                <textarea
                    type="text"
                    name="description"
                    id="description"
                    minlength="0"
                    maxlength="8192"
                    placeholder="Describe your item here"
                >
{{ item.description }}</textarea
                >
            </div>

            <div class="row flex flex-col gap-1">
                <label for="cost">{{ text "market:label.cost" }}</label>
                <!-- prettier-ignore -->
                <input
                    type="number"
                    name="cost"
                    id="cost"
                    required
                    minlength="0"
                    maxlength="10000"
                    placeholder="25"
                    value="{{ item.cost }}"
                    {% if item.cost == -1 %}disabled{% endif %}
                />
            </div>

            <div class="checkbox_container">
                <!-- prettier-ignore -->
                <input
                    type="checkbox"
                    name="not_for_sale"
                    id="not_for_sale"
                    onchange="update_not_for_sale(event)"
                    {% if item.cost == -1 %}checked{% endif %}
                />
                <label for="not_for_sale" class="normal"
                    >{{ text "market:text.not_for_sale" }}</label
                >
            </div>

            <hr />

            <div class="flex w-full gap-2 justify-right">
                <button class="primary bold">{{ icon "check" }} Save</button>
            </div>

            <script>
                function update_not_for_sale(event) {
                    if (event.target.checked) {
                        document
                            .getElementById("cost")
                            .setAttribute("disabled", "true");
                    } else {
                        document
                            .getElementById("cost")
                            .removeAttribute("disabled");
                    }
                }

                async function edit_item(e) {
                    trigger("items::edit", [
                        "{{ item.id }}",
                        e.target.name.value,
                        e.target.description.value,
                        // if not_for_sale is checked, the price is -1
                        e.target.not_for_sale.checked
                            ? -1
                            : parseInt(e.target.cost.value) || 0,
                    ]);
                }
            </script>
        </form>

        {% if item.type == authbeam::model::ItemType::UserTheme %}
        <div class="card w-full secondary flex flex-col gap-2">
            <pre><code id="item_css_inner">{{ item.content }}</code></pre>
        </div>
        {% endif %}
    </div>

    <script>
        async function copy_to_profile() {
            if (!document.getElementById("item_css_inner")) {
                return;
            }

            const input = document.getElementById("item_css_inner").innerHTML;

            const output = { "sparkler:custom_css": "" };
            let is_custom_css = false;

            for (const line of input.split("\n")) {
                if (line === "/* sparkler:custom_css */") {
                    is_custom_css = true;
                    continue;
                }

                if (is_custom_css) {
                    // push to custom css
                    output["sparkler:custom_css"] += `${line}\n`;
                    continue;
                } else {
                    // push specific value
                    if (!line.startsWith("--")) {
                        continue;
                    }

                    const name = `sparkler:${line.split(":")[0].replaceAll("-", "_").replace("__", "")}`;
                    const value = line.split(":")[1].split(" !important")[0];
                    output[name] = value;
                }
            }

            // push to settings
            await patch_metadata({
                kv: output,
            });
        }
    </script>
    {% endif %}
</div>
{% call super() %} {% endblock %}
