{% extends "base.html" %} {% block panel %}
<form
    class="card shadow flex flex-col gap-2 w-full"
    onsubmit="event.preventDefault(); create_item(event)"
>
    {% include "components/form.html" %}
</form>

<script>
    async function create_item(e) {
        const type = e.target.type.options[e.target.type.selectedIndex].value;
        const content = await trigger("items:content_input", [type]);

        trigger("items:create", [
            e.target.name.value,
            e.target.description.value,
            content,
            // if not_for_sale is checked, the price is -1
            e.target.not_for_sale.checked
                ? -1
                : parseInt(e.target.cost.value) || 0,
            type,
        ]).then((res) => {
            window.location.href = `/market/item/${res.id}`;
        });
    }
</script>
{% call super() %} {% endblock %}
