<div class="flex w-full gap-2 justify-between flex-wrap">
    <div class="flex items-center gap-2">
        {% if violating_usc18_1702 %}
        {{ icon "mail-warning" }}
        <b>This is not your mail, please be careful.</b>
        {% endif %}
    </div>

    <div class="flex items-center gap-2">
        {% if is_helper && !violating_usc18_1702 %}
        <a
            href="?profile=0"
            class="button icon-only"
            title="Switch to system mail"
        >
            {{ icon "key-round" }}
        </a>
        {% else if is_helper %}
        <a href="?" class="button icon-only" title="Switch to user mail">
            {{ icon "user-round" }}
        </a>
        {% endif %}

        <a
            href="/settings?signature"
            class="button icon-only"
            title="Edit signature"
            target="_blank"
        >
            {{ icon "signature" }}
        </a>

        <a
            href="/inbox/mail/compose"
            class="button icon-only"
            title="Compose mail"
        >
            {{ icon "mail-plus" }}
        </a>
    </div>
</div>
