<div class="card-nest" style="gap: 0">
    <div class="card w-full flex flex-col flex-2">
        <div class="flex justify-between items-center flex-2">
            <div class="flex gap-1 items-center">
                {% if letter.state == authbeam::model::MailState::Unread %} {{
                icon "mail-open" }}
                <div id="unread"></div>
                {% else %} {{ icon "mail-check" }} {% endif %}

                <b>{{ letter.title }}</b>
            </div>

            <!-- prettier-ignore -->
            <div class="flex gap-2">
                {% if let Some(user) = profile %}
                {% if (letter.recipient.contains(user.id) | (user.id == letter.author)) | is_helper %}
                <a
                    class="button icon-only camo"
                    title="Reply"
                    href="/inbox/mail/compose?reply={{ letter.id }}&title=Re%3A%20{{ letter.title }}&to={{ letter.author }}"
                >
                    {{ icon "reply" }}
                </a>

                <a
                    class="button icon-only camo"
                    title="Reply all"
                    href="/inbox/mail/compose?reply={{ letter.id }}&title=Re%3A%20{{ letter.title }}&to={{ letter.author }},{% for recipient in letter.recipient %}{{ recipient }},{% endfor %}"
                >
                    {{ icon "reply-all" }}
                </a>
                {% endif %}

                {% if (letter.recipient.contains(user.id) | (user.id == letter.author)) | is_helper %}
                <button
                    class="icon-only camo red"
                    title="Delete"
                    onclick="trigger('mail::delete', ['{{ letter.id }}'])"
                >
                    {{ icon "trash" }}
                </button>
                {% endif %}
                {% endif %}
            </div>
        </div>

        <hr />

        <div class="fade flex items-center gap-2">
            <span>{{ text "mail:compose.html:label.to" }}:</span>

            {% for recipient in letter.recipient %}
            <a href="/+u/{{ recipient }}">
                <img
                    title="User avatar"
                    src="/api/v0/auth/profile/{{ recipient }}/avatar"
                    alt="@{{ recipient }}"
                    class="avatar"
                    loading="lazy"
                    style="--size: 25px"
                />
            </a>
            {% endfor %}
        </div>

        <div class="fade flex items-center gap-2">
            <span>{{ text "mail:mail.html:label.from" }}:</span>

            <a href="/@{{ author.username }}">
                <img
                    title="{{ author.username }}'s avatar"
                    src="/api/v0/auth/profile/{{ author.id }}/avatar"
                    alt="@{{ author.username }}"
                    class="avatar"
                    loading="lazy"
                    style="--size: 25px"
                />
                <span>{{ author.username }}</span>
            </a>
        </div>

        <div class="fade flex items-center gap-2">
            <span>{{ text "mail:mail.html:label.sent" }}:</span>
            <span class="date">{{ letter.timestamp }}</span>
        </div>

        <hr />

        {% if letter.recipient.get(0).unwrap() == "0" %}
        <div class="markdown-alert-warning">
            <span>{{ text "mail:mail.html:text.system" }}</span>
        </div>
        {% endif %}
    </div>

    <span class="card flex flex-col">
        {{ rainbeam_shared::ui::render_markdown(letter.content)|safe }}
    </span>
</div>
