<!-- prettier-ignore -->
{% for question in questions %}
    {% let relationship = relationships.get(question.0.author.id).unwrap().to_owned() %}
    {% if (relationship != crate::model::RelationshipStatus::Friends
        && question.0.author.metadata.is_true("sparkler:private_profile"))
        | (question.0.author.group == -1)
        | (relationship == crate::model::RelationshipStatus::Blocked) %}
        {% include "components/private_question.html" %}
    {% else %}
        {% let show_responses = true %}
        {% include "components/global_question.html" %}
    {% endif %}
{% endfor %}
