<!-- prettier-ignore -->
{% for response in responses %}
    {% if (relationships.get(response.1.author.id).unwrap().to_owned() != crate::model::RelationshipStatus::Friends
        && response.1.author.metadata.is_true("sparkler:private_profile")) | (response.1.author.group == -1) %}
        {% include "components/private_response.html" %}
    {% else %}
        {% let is_pinned = false %}
        {% let show_pin_button = false %}
        {% let do_not_render_question = false %}
        {% let anonymous_username = Some("anonymous") %}
        {% let anonymous_avatar = Some("") %}
        {% let show_comments = true %}
        {% let do_render_nested = true %}
        {% include "components/response.html" %}
    {% endif %}
{% endfor %}
