{% let responses = question.1 %} {% let question = question.clone().0 %}
<div class="card-nest w-full shadow" id="question:{{ question.id }}">
    <div class="card flex flex-col gap-1">
        <div class="flex items-center justify-between gap-1 question_title">
            <div class="footernav">
                <b class="flex items-center gap-2 item">
                    <img
                        title="{{ question.author }}'s avatar"
                        src="/api/v1/profiles/{{ question.author }}/avatar"
                        alt=""
                        class="avatar round-sm"
                        style="--size: 20px"
                    />

                    {% if question.author != "anonymous" %}
                    <a href="/@{{ question.author }}" style="color: inherit">
                        {{ question.author }}
                    </a>
                    {% else %} {{ question.author }} {% endif %}
                </b>

                <span class="date item">{{ question.timestamp }}</span>
            </div>

            <!-- prettier-ignore -->
            {% if let Some(profile) = profile %}
            {% if profile.username == question.author %}
            <!-- stuff for only the question author -->
            <div class="dropdown">
                <button
                    class="secondary"
                    onclick="trigger('app:hook.dropdown', [event])"
                    exclude="dropdown"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16"
                        width="16"
                        height="16"
                        aria-label="Ellipsis symbol"
                        class="icon"
                    >
                        <path
                            d="M8 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM1.5 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm13 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                        ></path>
                    </svg>
                </button>

                <div class="inner shadow-md" exclude="dropdown">
                    <b class="title">Manage</b>
                    <a
                        href="#"
                        onclick="trigger('questions:delete', ['{{ question.id }}'])"
                        class="red"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            width="16"
                            height="16"
                            aria-label="Trash symbol"
                            class="icon"
                        >
                            <path
                                d="M11 1.75V3h2.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75ZM4.496 6.675l.66 6.6a.25.25 0 0 0 .249.225h5.19a.25.25 0 0 0 .249-.225l.66-6.6a.75.75 0 0 1 1.492.149l-.66 6.6A1.748 1.748 0 0 1 10.595 15h-5.19a1.75 1.75 0 0 1-1.741-1.575l-.66-6.6a.75.75 0 1 1 1.492-.15ZM6.5 1.75V3h3V1.75a.25.25 0 0 0-.25-.25h-2.5a.25.25 0 0 0-.25.25Z"
                            ></path>
                        </svg>
                        Delete
                    </a>
                </div>
            </div>
            {% endif %} {% endif %}
        </div>

        <!-- prettier-ignore -->
        <span class="question_content">
           {{ xsu_util::ui::render_markdown(question.content)|safe }}
       </span>
    </div>

    <div class="card footernav items-center">
        <a
            href="/question/{{ question.id }}"
            class="button item"
            style="gap: 0.75rem"
        >
            Respond
            <span class="notification">{{ responses }}</span>
        </a>
    </div>
</div>
