<form id="post_form" class="flex flex-col gap-2" onsubmit="create_post(event)">
    <div id="compose_editor" class="post_editor"></div>
    {% include "components/more_response_options.html" %}

    <hr style="margin-top 0.75rem !important" />
    <div class="flex justify-between w-full gap-1">
        <div></div>
        <div class="flex gap-2">
            <button class="primary bold">Post</button>
            <button type="button" class="bold" onclick="window.history.back()">
                Cancel
            </button>
        </div>
    </div>
</form>
