<!-- buttons -->
{% if let Some(profile) = profile %} {% if profile.username == other.username %}
<!-- options for account owner -->
<div class="dropdown">
    <button
        title="Edit Profile"
        onclick="trigger('app::hooks::dropdown', [event])"
        exclude="dropdown"
        class="w-full bold primary"
    >
        <span class="possible_text"
            >{{ text "profile:base.html:link.edit_profile" }}</span
        >
        {{ icon "chevron-down" c(dropdown-arrow) }}
    </button>

    <div class="inner w-content left" exclude="dropdown">
        <a href="/settings/profile">
            {{ icon "pen" }} {{ text "general:link.settings" }}</a
        >

        <a href="/@{{ other.username }}/layout">
            {{ icon "layout-template" }} {{ text "profile:base.html:link.layout"
            }}</a
        >

        <a href="/settings/theme">
            {{ icon "palette" }} {{ text "settings:link.theme" }}
        </a>
    </div>
</div>

<div class="dropdown">
    <button
        title="More"
        onclick="trigger('app::hooks::dropdown', [event])"
        exclude="dropdown"
        class="w-full"
    >
        <span class="possible_text">{{ text "general:link.more" }}</span>
        {{ icon "chevron-down" c(dropdown-arrow) }}
    </button>

    <div class="inner w-content left" exclude="dropdown">
        <a href="/settings">
            {{ icon "settings" }} {{ text
            "profile:base.html:link.account_settings" }}
        </a>

        <button
            onclick="trigger('app::copy_text', ['{{ config.host }}/@{{ other.username }}'])"
        >
            {{ icon "copy" }} {{ text "general:action.copy_link" }}
        </button>

        <button onclick="document.getElementById('embed_dialog').showModal()">
            {{ icon "code" }} {{ text "profile:base.html:link.embed_profile" }}
        </button>
    </div>
</div>
{% else %}
<div class="flex gap-2">
    <!-- follow, unfollow -->
    {% if !is_following %}
    <button class="w-full bold primary" onclick="follow()" id="follow_button">
        {{ text "profile:base.html:action.follow" }}
    </button>
    {% else %}
    <button class="w-full" onclick="follow()" id="follow_button">
        {{ text "profile:base.html:action.unfollow" }}
    </button>
    {% endif %} {% if relationship == crate::model::RelationshipStatus::Unknown
    %}
    <button class="w-full primary bold" onclick="friend()">
        {{ text "profile:base.html:action.friend" }}
    </button>

    <script>
        globalThis.friend = function (username) {
            fetch("/api/v0/auth/relationships/friend/{{ other.id }}", {
                method: "POST",
            })
                .then((res) => res.json())
                .then((res) => {
                    trigger("app::toast", [
                        res.success ? "success" : "error",
                        res.success ? "Friend request sent!" : res.message,
                    ]);
                });
        };
    </script>
    {% else if relationship == crate::model::RelationshipStatus::Friends %}
    <button class="w-full" onclick="unfriend()">
        {{ text "profile:base.html:action.unfriend" }}
    </button>

    <script>
        globalThis.unfriend = async function (username) {
            if (
                !(await trigger("app::confirm", [
                    "Are you sure you want to do this?",
                ]))
            ) {
                return;
            }

            fetch("/api/v0/auth/relationships/current/{{ other.id }}", {
                method: "DELETE",
            })
                .then((res) => res.json())
                .then((res) => {
                    trigger("app::toast", [
                        res.success ? "success" : "error",
                        res.success ? "User unfriended!" : res.message,
                    ]);
                });
        };
    </script>
    {% else if relationship == crate::model::RelationshipStatus::Pending %}
    <button class="w-full" onclick="cancel_fr()" title="Cancel friend request">
        {{ text "general:dialog.cancel" }}
    </button>

    <script>
        globalThis.cancel_fr = async function () {
            if (
                !(await trigger("app::confirm", [
                    "Are you sure you want to do this?",
                ]))
            ) {
                return;
            }

            fetch("/api/v0/auth/relationships/current/{{ other.id }}", {
                method: "DELETE",
            })
                .then((res) => res.json())
                .then((res) => {
                    trigger("app::toast", [
                        res.success ? "success" : "error",
                        res.success ? "Request cancelled!" : res.message,
                    ]);

                    window.close();
                });
        };
    </script>
    {% endif %}
</div>

<!-- actions -->
<div class="dropdown">
    <button
        onclick="trigger('app::hooks::dropdown', [event])"
        exclude="dropdown"
        class="w-full"
    >
        <span class="possible_text">Actions</span>
        {{ icon "chevron-down" c(dropdown-arrow) }}
    </button>

    <div class="inner w-content left" exclude="dropdown">
        <b class="title">This user</b>
        <button onclick="trigger('chats::create', ['{{ other.id }}'])">
            {{ icon "message-circle-plus" }} {{ text "general:link.chat" }}
        </button>
        <a href="/inbox/mail/compose?to={{ other.id }}">
            {{ icon "mail-plus" }} {{ text "general:service.mail" }}
        </a>
        <a
            href="/settings?block={{ other.username }}#sparkler:block_somebody"
            target="_blank"
        >
            {{ icon "shield" }} {{ text "general:action.block" }}
        </a>
        <button onclick="trigger('app::ipblock', ['{{ other.id }}'])">
            {{ icon "shield" }} {{ text "general:action.ip_block" }}
        </button>
        <a
            href="javascript:trigger('reports::bootstrap', ['profiles', '{{ other.username }}'])"
        >
            {{ icon "flag" }} {{ text "general:action.report" }}
        </a>
        <a href="#" onclick="trigger('app::copy_text', ['{{ other.id }}'])">
            {{ icon "copy" }} {{ text "general:action.copy_id" }}
        </a>
        {% if is_powerful %}
        <!-- for managers ONLY -->
        <a href="javascript:delete_account()">
            {{ icon "trash" }} {{ text "general:action.delete" }}
        </a>

        <script>
            function delete_account() {
                if (!confirm("Are you sure you want to do this?")) {
                    return;
                }

                fetch("/api/v0/auth/profile/{{ other.id }}", {
                    method: "DELETE",
                })
                    .then((res) => res.json())
                    .then((res) => {
                        trigger("app::shout", [
                            res.success ? "tip" : "caution",
                            res.message || "Profile deleted!",
                        ]);

                        e.target.reset();
                    });
            }
        </script>
        {% endif %}
        <b class="title">Your account</b>
        <a href="/settings#sparkler:blocks">
            {{ icon "lock" }} {{ text "profile:base.html:link.manage_blocks" }}
        </a>
    </div>
</div>
{% endif %} {% else %}
<!-- anonymous actions -->
<div class="dropdown">
    <button
        onclick="trigger('app::hooks::dropdown', [event])"
        exclude="dropdown"
        class="w-full"
    >
        {{ text "general:link.actions" }} {{ icon "chevron-down"
        c(dropdown-arrow) }}
    </button>

    <div class="inner w-content left" exclude="dropdown">
        <b class="title">{{ text "profile:base.html:title.this_user" }}</b>
        <a
            href="javascript:trigger('reports::bootstrap', ['profiles', '{{ other.username }}'])"
        >
            {{ icon "flag" }} {{ text "general:action.report" }}
        </a>
    </div>
</div>
{% endif %}
