<!-- new question -->
<div class="card-nest w-full" id="question_box">
    <!-- prettier-ignore -->
    <div class="card motivational_header">
        {% if let Some(header) = other.metadata.kv.get("sparkler:motivational_header") %}
            {{ rainbeam_shared::ui::render_markdown(header)|safe }}
        {% else %}
            Ask a question
        {% endif %}
    </div>

    <div class="card">
        <!-- prettier-ignore -->
        {% if !lock_profile && (other.group != -1) %}
        {% if (require_account && profile.is_some()) | (disallow_anonymous && profile.is_some()) | (!require_account && !disallow_anonymous) %}
        <form
            id="question_form"
            class="flex flex-col gap-2"
            onsubmit="ask(event)"
        >
            <div id="carp_context"></div>
            <input
                name="carp_context"
                id="carp_content"
                type="text"
                style="display: none"
            />

            {% if let Some(profile) = profile %}
            <textarea
                class="w-full"
                placeholder="Type your question!"
                minlength="1"
                maxlength="{% if (profile.tier >= config.tiers.double_limits) | (other.tier >= config.tiers.double_limits) %}4096{% else %}2048{% endif %}"
                required
                name="content"
                id="content"
                hook="counter"
            ></textarea>
            {% else %}
            <textarea
                class="w-full"
                placeholder="Type your question!"
                minlength="1"
                maxlength="{% if other.tier >= config.tiers.double_limits %}4096{% else %}2048{% endif %}"
                required
                name="content"
                id="content"
                hook="counter"
            ></textarea>
            {% endif %}

            <!-- prettier-ignore -->
            <div class="flex justify-between w-full gap-1 flex-wrap">
                <div class="footernav items-center gap-2">
                    <span id="content:counter" class="notification item"></span>
                    {% if profile.is_some() && (disallow_anonymous == false) %}
                    <div class="checkbox_container item">
                        <input
                            type="checkbox"
                            name="anonymous"
                            id="anonymous"
                        />

                        <label for="anonymous" class="normal">
                            {{ text "general:action.hide_your_name" }}
                        </label>
                    </div>

                    <script>
                    function ls_anon_check() {
                        if (window.localStorage.getItem("always_anon") === "true") {
                            document.getElementById("anonymous").checked = true
                        }
                    }

                    ls_anon_check();
                    </script>
                    {% else %}
                    <div></div>
                    {% endif %}
                </div>

                <div class="flex gap-2">
                    {% if other.metadata.is_true("sparkler:allow_drawings") %}
                    <button onclick="attach_carp(event)" type="button">Draw</button>
                    {% endif %}

                    <button class="primary bold">
                        {{ text "profile:base.html:action.ask" }}
                    </button>
                </div>
            </div>
        </form>
        {% else %}
        <b>{{ text "profile:base.html:text.no_anonymous_questions" }}</b>
        {% endif %} {% else %}
        <b>{{ text "profile:base.html:text.no_questions" }}</b>

        <style>
            #question_box {
                display: none;
            }
        </style>
        {% endif %}
    </div>
</div>
