.card,
.card-nest {
    background: var(--color-raised);
    color: var(--color-text-raised) !important;
    border-radius: var(--radius);
    padding: 0.75rem;
    max-width: 100vw;
    box-shadow: 0 0 2px var(--color-shadow);
}

.card-nest {
    background: transparent;
    border: none;
}

.card.padded {
    padding: 1rem;
}

.card-nest {
    padding: 0;
}

.card-nest:has(.card:nth-child(3)) .card {
    /* if the nest has a third element, make cards default to no border-radius */
    border-radius: 0;
}

.card-nest .card {
    border: none;
}

.card-nest .card:first-child {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: var(--color-lowered);
    color: var(--color-text-lowered) !important;
    box-shadow: none;
}

.card-nest .card:last-child:not(details *),
.card-nest .card:nth-child(2):not(details *) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    box-shadow: none;
}

.card-nest.shadow:not(include-partial *) .card {
    border: none !important;
}

include-partial:has(.response) {
    cursor: pointer;
}

.card include-partial .card-nest:nth-child(1) {
    border: solid 1px var(--color-super-lowered);
}

.card.secondary {
    background: var(--color-lowered);
    color: var(--color-text-lowered) !important;
}

a.card {
    border: solid 1px var(--color-super-lowered);
}

a.card:hover {
    text-decoration: none;
    border-color: var(--color-primary);
}

.actions_bar a.button,
.actions_bar button {
    padding: 0.25rem 0.75rem;
    min-height: 26px !important;
    height: 26px !important;
}

legend,
label {
    font-weight: bold;
}

form button {
    width: max-content;
}

button:disabled {
    cursor: not-allowed;
    opacity: 75%;
}

blockquote {
    padding-left: 1rem;
    border-left: solid 5px var(--color-lowered);
}

blockquote p {
    white-space: pre-wrap;
    margin: 0;
    opacity: 75%;
}

blockquote p:is(.dark *) {
    opacity: 50%;
}

ul {
    list-style-position: initial;
}

/* nav */
nav {
    background: var(--color-primary);
    color: var(--color-text-primary) !important;
    color: inherit;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--color-text);
    position: sticky;
    top: 0;
    z-index: 6374;
    padding: 0.25rem 0.5rem;
    transition: opacity 0.15s;
    font-size: 16px;
}

nav .notification {
    font-size: 10px;
}

nav .content_container,
footer .content_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button:not(.inner *),
nav a.button:not(.inner *) {
    border-radius: var(--radius);
    color: inherit;
    padding: 0.75rem 0.75rem;
    background: transparent;
    text-decoration: none;
    position: relative;
    height: 48px;
    transition:
        opacity 0.15s,
        transform 0.15s;
}

nav button:not(.inner *):hover,
nav a.button:not(.inner *):hover {
    background: transparent !important;
    outline: none;
    opacity: 100%;
}

nav button:not(.title):not(.active),
nav .button:not(.title):not(.active) {
    opacity: 75%;
}

nav button:not(.title):not(.active):hover,
nav .button:not(.title):not(.active):hover {
    opacity: 100%;
}

/* footer */
footer {
    display: flex;
    background: var(--color-surface);
    border-top: solid 1px var(--color-super-lowered);
    padding: 1rem;
    font-size: 14px;
    margin-top: 2rem;
}

footer .content_container {
    align-items: flex-start;
}

footer .title {
    font-size: 16px;
}

footer .header {
    font-weight: 600;
}

footer a.button,
footer button,
footer .header {
    padding: 0.25rem 0.5rem;
}

footer a.button,
footer button {
    justify-content: flex-start;
    font-size: 14px;
    width: 100%;
    gap: 8px;
}

footer a.button svg,
footer button svg {
    width: calc(1em + 2px);
}

footer section {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    min-width: 10rem;
}

@media screen and (max-width: 900px) {
    footer section {
        width: 100%;
    }

    footer a.button,
    footer button,
    footer .header {
        padding: 0;
    }
}

/* markdown */
.markdown-alert-note,
.markdown-alert-tip,
.markdown-alert-important,
.markdown-alert-warning,
.markdown-alert-caution,
.markdown-alert-draft {
    margin-bottom: 1rem;
    width: 100%;
    border-radius: var(--radius);
    padding: 1rem;
    display: flex;
    align-items: center;
    font-style: normal;
    border: 0;
    transform: all 0.15s;
}

.no-margin.markdown-alert-note,
.no-margin.markdown-alert-tip,
.no-margin.markdown-alert-important,
.no-margin.markdown-alert-warning,
.no-margin.markdown-alert-caution,
.no-margin.markdown-alert-draft {
    margin-bottom: 0;
}

.markdown-alert-note p,
.markdown-alert-tip p,
.markdown-alert-important p,
.markdown-alert-warning p,
.markdown-alert-caution p,
.markdown-alert-draft p {
    opacity: 100% !important;
}

.markdown-alert-note {
    background: rgb(56 189 248 / 0.25);
    color: rgb(12, 74, 110);
}

.markdown-alert-note:is(.dark *) {
    background-color: rgb(56 189 248 / 0.15);
    color: rgb(125 211 252 / 0.75);
}

.markdown-alert-tip {
    background-color: rgb(74 222 128 / 0.25);
    color: rgb(20, 83, 45);
}

.markdown-alert-tip:is(.dark *) {
    background-color: rgb(74 222 128 / 0.15);
    color: rgb(134 239 172 / 0.75);
}

.markdown-alert-important {
    background: rgb(202 56 247 / 0.25);
    color: rgb(77, 12, 109);
}

.markdown-alert-important:is(.dark *) {
    background-color: rgb(202 56 247 / 0.15);
    color: rgb(228 187 249 / 0.75);
}

.markdown-alert-warning {
    background-color: rgb(253 224 71 / 0.25);
    color: rgb(113, 63, 18);
}

.markdown-alert-warning:is(.dark *) {
    background-color: rgb(253 224 71 / 0.15);
    color: rgb(254 240 138 / 0.75);
}

.markdown-alert-caution {
    background-color: rgb(248 113 113 / 0.25);
    color: rgb(127, 29, 29);
}

.markdown-alert-caution:is(.dark *) {
    background-color: rgb(248 113 113 / 0.15);
    color: rgb(254 202 202 / 0.75);
}

.markdown-alert-draft {
    background: var(--color-surface);
    border: dashed 2px var(--color-super-lowered);
}

.markdown-alert-draft:hover {
    border-color: var(--color-primary);
}

.footnote-definition {
    display: flex;
    gap: 0.5rem;
    opacity: 75%;
    padding: 0.25rem;
    border-radius: var(--radius);
    margin-bottom: 0.25rem;
}

.footnote-definition:target {
    outline: solid 2px var(--color-primary);
    outline-offset: 2px;
    background: var(--color-raised);
}

.footnote-definition p {
    margin: 0;
}

.footnote-definition:hover {
    background: var(--color-raised);
}

.footnote-definition .footnote-definition-label {
    font-weight: bold;
}
