* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-width: 0;
}

#is_chat_page,
#is_profile_page {
    display: none;
}

:root {
    color-scheme: light dark;
    --color-surface: hsl(0, 0%, 95%);
    --color-lowered: hsl(0, 0%, 94%);
    --color-raised: hsl(0, 0%, 98%);
    --color-super-lowered: hsl(0, 0%, 90%);
    --color-super-raised: hsl(0, 0%, 100%);
    --color-primary: hsl(341, 59%, 45%);
    --color-primary-hsl: 341, 59%, 45%;
    --color-primary-lowered: hsl(341, 59%, 40%);
    --color-primary-raised: var(--color-primary);
    --color-text: hsl(0, 0%, 0%);
    --color-text-raised: var(--color-text);
    --color-text-lowered: var(--color-text);
    --color-link: #2949b2;
    --color-text-primary: hsl(0, 0%, 100%);
    --color-shadow: rgba(0, 0, 0, 0.15);
    --color-red: hsl(0, 84%, 60%);
    --radius: 0.25rem;
    --circle: 360px;
}

.dark,
.dark * {
    --color-surface: hsl(0, 0%, 18%);
    --color-lowered: hsl(0, 0%, 24%);
    --color-raised: hsl(0, 0%, 21%);
    --color-super-lowered: hsl(0, 0%, 28%);
    --color-super-raised: hsl(0, 0%, 26%);
    --color-text: hsl(0, 0%, 95%);
    --color-link: #93c5fd;
    --color-primary-raised: hsl(341, 59%, 55%);
    --color-red: hsl(0, 94%, 82%);
}

.dark.midnight,
.dark.midnight * {
    --lit: 6% !important;
    --color-surface: hsl(0, 0%, 12%);
    --color-lowered: hsl(0, 0%, 18%);
    --color-raised: hsl(0, 0%, 15%);
    --color-super-lowered: hsl(0, 0%, 21%);
    --color-super-raised: hsl(0, 0%, 20%);
}

html,
body {
    line-height: 1.5;
    letter-spacing: 0.15px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--color-text);
    background: var(--color-surface);
    overflow: auto auto;
    height: 100dvh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.turbo-progress-bar {
    background: var(--color-link) !important;
    z-index: 6375 !important;
}

#page {
    background: var(--color-surface);
    padding: 0;
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex: 1 0 auto;
}

main {
    margin: auto;
    width: 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    main {
        width: calc(80ch + 1rem);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

article {
    width: 100%;
    margin: auto;
    max-width: 100%;
    padding: 0 0.75rem;
    margin-bottom: 0.75rem;
}

.content_container {
    margin: 0 auto;
    width: 100%;
}

@media screen and (min-width: 500px) {
    .content_container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    #page {
        padding: 0.5rem;
    }

    .content_container {
        max-width: 720px;
    }
}

@media (min-width: 900px) {
    .content_container {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        article {
            padding: 0;
        }

        .content_container {
            max-width: 1100px;
        }
    }
}

svg.icon {
    stroke: currentColor;
    width: 18px;
}

svg.icon.filled {
    fill: currentColor;
}

button svg {
    pointer-events: none;
}

ol,
ul,
menu {
    list-style: inside;
    margin: 0 0 1rem 0;
    padding: 0 0 0 20px;
}

hr {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border: 0;
    border-top: solid 1px var(--color-super-lowered);
}

hr.small {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

p,
pre,
table,
ul,
ol,
blockquote {
    margin-bottom: 1rem;
}

ol {
    list-style: decimal;
}

.footernav {
    display: flex;
    gap: 0.75rem;
}

.footernav .item {
    position: relative;
    margin-left: 0.5rem;
}

.footernav .item:first-child {
    margin-left: 0;
}

.footernav .item::before {
    content: "·";
    position: absolute;
    left: -0.75rem;
    color: var(--color-text) !important;
}

.footernav .item:first-child:before {
    display: none;
}

pre {
    padding: 0.5rem;
    border: solid 1px var(--color-super-lowered);
    background: var(--color-raised);
    overflow: auto;
    max-width: 100%;
    border-radius: var(--radius);
}

code:not(pre code) {
    padding: 0.2rem;
    border-radius: var(--radius);
    background: var(--color-lowered);
}

p,
li,
span,
code {
    max-width: 100%;
    overflow-wrap: normal;
    text-wrap: pretty;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
    width: -moz-max-content;
    width: max-content;
    position: relative;
    max-width: 100%;
}

h1 {
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

h1.left {
    text-align: left;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.75rem;
}

a {
    text-decoration: none;
    color: var(--color-link);
}

a:hover {
    text-decoration: underline;
}

img {
    display: inline;
    max-width: 100%;
    vertical-align: middle;
}

img.cover {
    object-fit: cover;
}

img.fill {
    object-fit: fill;
}

img.contain {
    object-fit: contain;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
    display: inline-block;
    cursor: text;
}

.avatar {
    --size: 50px;
    border-radius: var(--radius);
    width: var(--size);
    min-width: var(--size);
    max-width: var(--size);
    height: var(--size);
    min-height: var(--size);
    max-height: var(--size);
    object-fit: cover;
}

.spinner {
    display: block;
    font-size: 24px;
    width: max-content;
    cursor: progress;
    user-select: none;
    animation: loading_spin_y 1s 0.5s running forwards infinite;
}

.spinner.small {
    font-size: 1em;
    animation: loading_spin_z 2s 0.5s running forwards infinite;
}

@keyframes loading_spin_y {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes loading_spin_z {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}

/* table */
table {
    border-collapse: collapse;
    max-width: 100%;
    min-width: auto;
    overflow: auto;
}

table th {
    min-width: max-content;
    padding: 6px 8px;
    text-align: left;
    background: transparent;
    border: none;
}

table td {
    border-left: var(--color-super-lowered);
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: normal;
    word-break: normal;
    width: max-content;
}

table td:first-child {
    border-left: 0;
}

table tr {
    background: var(--color-lowered);
    border-bottom: solid 1px var(--color-super-lowered);
}

table tr:nth-child(even) {
    background: var(--color-raised);
}

table tr:hover {
    background: var(--color-super-raised);
}

table thead tr {
    background: transparent;
    border-bottom: solid 5px var(--color-super-lowered);
}

table tbody tr td {
    padding: 6px 8px;
}

table td:focus-within {
    box-shadow: none;
}

table p,
table ul,
table ol {
    margin-bottom: 0;
}
