<a
    href="/chats/{{ chat.0.id }}"
    class="card w-fill flex items-center justify-between"
    data-turbo="false"
>
    <div class="flex flex-col gap-1">
        <b>{{ chat.0.name }}</b>
        <div class="footernav flex-wrap">
            {% for user in chat.1 %}
            <span class="item flex items-center gap-2">
                <img
                    title="{{ user.username }}'s avatar"
                    src="/api/v0/auth/profile/{{ user.id }}/avatar"
                    alt="@{{ user.username }}"
                    class="avatar"
                    loading="lazy"
                    style="--size: 20px"
                />
                {{ user.username }}
            </span>
            {% endfor %}
        </div>
    </div>

    <button class="primary icon-only">
        {{ icon "chevron-right" }}
    </button>
</a>
