<div
    id="message:{{ message.0.id }}"
    class="message {% if is_own %}own{% endif %}"
>
    <a
        class="flex gap-2 item author_tag"
        href="/@{{ message.1.username }}"
        title="{{ message.1.username }}"
    >
        <img
            src="/api/v0/auth/profile/{{ message.1.id }}/avatar"
            alt=""
            class="avatar"
            loading="lazy"
            style="--size: 35px"
        />
    </a>

    <span
        class="message_content"
        hook="long"
        id="msg_content:{{ message.0.id }}"
    >
        {{ shared::ui::render_markdown(message.0.content)|safe }}
    </span>

    <div class="dropdown">
        <button
            onclick="trigger('app:hook.dropdown', [event])"
            exclude="dropdown"
            class="camo message_actions icon-only"
        >
            {{ icon "ellipsis" }}
        </button>

        <div
            class="inner shadow-md w-content {% if !is_own %}left{% endif %}"
            exclude="dropdown"
        >
            <span class="flex title">
                {% if (message.0.edited != 0) && (message.0.edited !=
                message.0.timestamp) %}
                <span class="date">{{ message.0.edited }}</span>
                <sup title="Edited">*</sup>
                {% else %}
                <span class="date">{{ message.0.timestamp }}</span>
                {% endif %}
            </span>

            {% if let Some(profile) = profile %} {% if is_own %}
            <!-- actions for the message author only -->
            <b class="title">Manage</b>

            <button
                onclick="trigger('chats:ui.views.editor', ['{{ message.0.id }}'])"
            >
                {{ icon "pen" }} Edit
            </button>

            <button
                onclick="trigger('chats:msg_delete', ['{{ message.0.id }}'])"
                class="red"
            >
                {{ icon "trash" }} Delete
            </button>
            {% endif %} {% endif %}
            <!-- actions for everybody -->
            <b class="title">Tools</b>
            <button onclick="trigger('app:copy_text', ['{{ message.0.id }}'])">
                {{ icon "copy" }} Copy ID
            </button>

            <!-- prettier-ignore -->
            {% if let Some(profile) = profile %}
                {% if !is_own %}
            <!-- actions for users that ARE NOT the author -->
            <a
                href="javascript:trigger('reports:bootstrap', ['messages', '{{ message.0.id }}'])"
            >
                {{ icon "flag" }} Report
            </a>
            {% endif %} {% if is_helper %}
            <b class="title">Mod</b>
            <button
                onclick="trigger('chats:msg_delete', ['{{ message.0.id }}'])"
                class="red"
            >
                {{ icon "trash" }} Delete
            </button>
            {% endif %} {% endif %}
        </div>
    </div>
</div>

<script>
    globalThis.message_contents["{{ message.0.id }}"] = `{{ message.0.content.replace("`", "\\`") }}`
</script>
