{% extends "../base.html" %} {% block title %}{{ circle.name }} - {{ config.name
}}{% endblock %} {% block head %}
<!-- prettier-ignore -->
{% if let Some(biography) = circle.metadata.kv.get("sparkler:biography") %}
<meta name="og:title" content="{{ circle.name }}" />
<meta name="og:url" content="{{ config.host }}/@{{ circle.name }}" />

<meta property="og:type" content="profile" />
<meta property="profile:username" content="{{ circle.name }}" />

<meta
    name="og:image"
    content="{{ config.host }}/api/v1/circles/{{ circle.id }}/avatar"
/>

<meta
    name="twitter:image"
    content="{{ config.host }}/api/v1/circles/{{ circle.id }}/avatar"
/>

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ circle.name }}" />
<meta
    name="twitter:description"
    content="+{{ circle.name }} on {{ config.name }}!"
/>
{% let biography = biography.replace("\"", "\\\\\"") %}
<meta name="description" content="{{ biography }}" />
<meta name="og:description" content="{{ biography }}" />
{% endif %} {% endblock %} {% block nav_left %} {% if profile.is_some() %}
<a class="button" href="/" title="Timeline">
    {{ icon "house" }}
    <span class="desktop">{{ text "general:link.timeline" }}</span>
    <span class="mobile">{{ text "general:link.home" }}</span>
</a>

<a class="button" href="/inbox" title="My inbox">
    {{ icon "inbox" }}
    <span class="flex items-center gap-2">
        <span>{{ text "general:link.inbox" }}</span>
        {% if unread != 0 %}
        <span class="notification tr">{{ unread }}</span>
        {% endif %}
    </span>
</a>
{% endif %} {% endblock %} {% block nav_right %} {% if profile.is_some() %}
<a class="button" href="/inbox/notifications" title="My notifications">
    {{ icon "bell" }} {% if notifs != 0 %}
    <span class="notification tr">{{ notifs }}</span>
    {% endif %}
</a>
{% endif %} {% endblock %} {% block content %}
<article class="flex flex-col gap-4">
    <main class="flex flex-col gap-4">
        {% if let Some(fit) = circle.metadata.kv.get("sparkler:banner_fit") %}
        <img
            title="{{ circle.name }}'s banner"
            src="/api/v1/circles/{{ circle.id }}/banner"
            alt=""
            class="shadow round {{ fit }}"
            style="width: 100%; min-height: 150px; max-height: 440px"
        />
        {% else %}
        <img
            title="{{ circle.name }}'s banner"
            src="/api/v1/circles/{{ circle.id }}/banner"
            alt=""
            class="shadow round cover"
            style="
                width: 100%;
                min-height: 150px;
                max-height: 440px;
                object-fit: cover;
            "
        />
        {% endif %}

        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-4 w-full profile_container">
                <style>
                    .profile_avatar {
                        --size: 160px;
                        margin: -100px 0 0;
                    }

                    @media screen and (max-width: 900px) {
                        .profile_avatar {
                            --size: 120px;
                            margin: -60px 0 0;
                        }
                    }
                </style>

                <div
                    id="profile_card"
                    class="card padded flex flex-col gap-2 sm:w-full"
                    style="height: max-content"
                >
                    <div class="flex gap-4">
                        <img
                            title="{{ circle.name }}'s avatar"
                            src="/api/v1/circles/{{ circle.id }}/avatar"
                            alt=""
                            class="avatar shadow-md profile_avatar"
                        />

                        <div class="flex flex-col gap-2">
                            <!-- prettier-ignore -->
                            <div id="names">
                                <h3 class="no-margin username" style="max-width: 100%">
                                    {% if let Some(display_name) = circle.metadata.kv.get("sparkler:display_name") %}
                                        {{ crate::routing::pages::escape_username(display_name) }}
                                    {% else %}
                                        {{ circle.name }}
                                    {% endif %}
                                </h3>

                                <h4 class="no-margin username" style="font-weight: normal; opacity: 50%">{{ circle.name }}</h4>
                            </div>

                            <!-- prettier-ignore -->
                            <div id="biography">
                                {% if let Some(biography) = circle.metadata.kv.get("sparkler:biography") %}
                                    {{ shared::ui::render_markdown(biography)|safe }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <hr class="w-full" />

                    <div class="flex gap-2">
                        <!-- buttons -->
                        {% if let Some(profile) = profile %} {% if
                        profile.username == circle.owner.username %}
                        <!-- options for account owner -->
                        <!-- <hr /> -->
                        <a
                            class="button bold primary"
                            href="/circles/@{{ circle.name }}/settings"
                            style="flex: 1 0 auto"
                        >
                            {{ icon "pen" }} Edit Circle
                        </a>
                        {% endif %}

                        <!-- options for members -->
                        {% if is_member %}
                        <a
                            href="/intents/post?circle={{ circle.id }}"
                            class="button primary bold"
                            style="flex: 1 0 auto"
                        >
                            {{ icon "plus" }} Post
                        </a>
                        {% endif %}

                        <!-- actions -->
                        <div class="dropdown" style="flex: 1 0 auto">
                            <button
                                onclick="trigger('app:hook.dropdown', [event])"
                                exclude="dropdown"
                                class="w-full"
                            >
                                Actions {{ icon "chevron-down" c(dropdown-arrow)
                                }}
                            </button>

                            <div
                                class="inner shadow-md w-content left"
                                exclude="dropdown"
                            >
                                <b class="title">This circle</b>
                                <a
                                    href="#"
                                    onclick="trigger('app:copy_text', ['{{ circle.id }}'])"
                                >
                                    {{ icon "copy" }} Copy ID
                                </a>
                                <a
                                    href="javascript:trigger('reports:bootstrap', ['circles', '{{ circle.id }}'])"
                                >
                                    {{ icon "flag" }} {{ text
                                    "general:action.report" }}
                                </a>

                                {% if is_owner %}
                                <a
                                    href="javascript:delete_circle_as_owner()"
                                    class="red"
                                >
                                    {{ icon "trash" }} {{ text
                                    "general:action.delete" }}
                                </a>

                                <script>
                                    function delete_circle_as_owner() {
                                        if (
                                            !confirm(
                                                "Are you sure you want to do this?",
                                            )
                                        ) {
                                            return;
                                        }

                                        fetch(
                                            "/api/v1/circles/{{ circle.id }}",
                                            {
                                                method: "DELETE",
                                            },
                                        )
                                            .then((res) => res.json())
                                            .then((res) => {
                                                trigger("app:shout", [
                                                    res.success
                                                        ? "tip"
                                                        : "caution",
                                                    res.message ||
                                                        "Circle deleted!",
                                                ]);
                                            });
                                    }
                                </script>
                                {% else if is_member %}
                                <!-- is member, but not owner -->
                                <a
                                    href="javascript:leave_circle()"
                                    class="red w-full"
                                >
                                    {{ icon "x" }} Leave
                                </a>

                                <script>
                                    function leave_circle() {
                                        if (
                                            !confirm(
                                                "Are you sure you want to do this?",
                                            )
                                        ) {
                                            return;
                                        }

                                        fetch(
                                            "/api/v1/circles/{{ circle.id }}/leave",
                                            {
                                                method: "POST",
                                            },
                                        )
                                            .then((res) => res.json())
                                            .then((res) => {
                                                trigger("app:shout", [
                                                    res.success
                                                        ? "tip"
                                                        : "caution",
                                                    res.message ||
                                                        "Left circle!",
                                                ]);
                                            });
                                    }
                                </script>
                                {% endif %} {% if is_powerful %}
                                <b class="title">Manage</b>

                                <!-- for managers ONLY -->
                                <a
                                    href="javascript:delete_circle()"
                                    class="red"
                                >
                                    {{ icon "trash" }} {{ text
                                    "general:action.delete" }}
                                </a>

                                <script>
                                    function delete_circle() {
                                        if (
                                            !confirm(
                                                "Are you sure you want to do this?",
                                            )
                                        ) {
                                            return;
                                        }

                                        fetch(
                                            "/api/v1/circles/{{ circle.id }}",
                                            {
                                                method: "DELETE",
                                            },
                                        )
                                            .then((res) => res.json())
                                            .then((res) => {
                                                trigger("app:shout", [
                                                    res.success
                                                        ? "tip"
                                                        : "caution",
                                                    res.message ||
                                                        "Circle deleted! Thanks for keeping {{ config.name }} clean!",
                                                ]);

                                                e.target.reset();
                                            });
                                    }
                                </script>
                                {% endif %}
                            </div>
                        </div>
                        {% else %}
                        <!-- anonymous actions -->
                        <div class="dropdown">
                            <button
                                onclick="trigger('app:hook.dropdown', [event])"
                                exclude="dropdown"
                                class="w-full"
                            >
                                Actions {{ icon "chevevron-down"
                                c(dropdown-arrow) }}
                            </button>

                            <div
                                class="inner shadow-md w-content left"
                                exclude="dropdown"
                            >
                                <b class="title">This circle</b>
                                <a
                                    href="javascript:trigger('reports:bootstrap', ['circles', '{{ circle.id }}'])"
                                >
                                    {{ icon "flag" }} {{ text
                                    "general:action.report" }}
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <section id="feed" class="flex flex-col gap-4 w-full">
                <!-- menu -->
                <div class="pillmenu convertible">
                    {% block pillmenu %}{% endblock %}
                </div>

                <!-- panel -->
                <div id="panel" style="display: contents">
                    {% block panel %}{% endblock %}
                </div>
            </section>
        </div>
    </main>
</article>

{% if let Some(warning) = circle.metadata.kv.get("sparkler:warning") %} {% if
!warning.is_empty() %}
<dialog id="warning_dialog">
    <div class="inner flex flex-col gap-2">
        <span class="fade">This circle has published this warning:</span>

        <hr />
        <div class="profile_warning">
            {{ shared::ui::render_markdown(warning)|safe }}
        </div>

        <hr />
        <span class="fade">
            Press "Continue" if you wish to view this circle.
        </span>

        <div class="flex gap-2">
            <button class="primary bold" onclick="trigger('warnings:accept')">
                Continue
            </button>
            <a href="/" class="button bold">Cancel</a>
        </div>
    </div>
</dialog>

<!-- prettier-ignore -->
{% if !is_member %}
{% let warning_hash = shared::hash::hash(warning.to_string()) %}
<script>
    setTimeout(() => {
        const dialogs = ns("dialogs");
        dialogs.add("warning_dialog");

        const warnings = ns("warnings");
        warnings.open("{{ circle.id }}", "{{ warning_hash }}");
    }, 100);
</script>
{% endif %} {% endif %} {% endif %} {% if is_member %}
<script type="application/json" id="metadata">
    {{ metadata|safe }}
</script>

<script>
    (() => {
        let metadata = JSON.parse(
            document.getElementById("metadata").innerHTML,
        );

        globalThis.save_metadata = async function () {
            const res = await (
                await fetch("/api/v1/circles/{{ circle.id }}/metadata", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        metadata,
                    }),
                })
            ).json();

            trigger("app:shout", [
                res.success ? "tip" : "caution",
                res.message || "Settings saved!",
            ]);
        };

        globalThis.pin_response = function (id) {
            if (!metadata.kv["sparkler:pinned"]) {
                metadata.kv["sparkler:pinned"] = "";
            }

            metadata.kv["sparkler:pinned"] += `${id},`;
            save_metadata();
            alert("Pinned!");
        };

        globalThis.unpin_response = function (id) {
            metadata.kv["sparkler:pinned"] = metadata.kv[
                "sparkler:pinned"
            ].replace(`${id},`, "");

            save_metadata();
            alert("Unpinned!");
        };
    })();
</script>
{% endif %} {% if let Some(profile) = profile %} {% let other = profile.clone()
%} {% if profile.username == other.username %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% endif %} {% call super() %} {% endblock %}
