{% extends "../base.html" %} {% block title %}My circles - {{ config.name }}{%
endblock %} {% block head %}
<meta name="description" content="{{ config.description }}" />
{% endblock %} {% block nav_left %}
<a class="button" href="/" title="Timeline">
    {{ icon "house" }}
    <span class="desktop">{{ text "general:link.timeline" }}</span>
    
</a>

<a class="button" href="/inbox" title="My inbox">
    {{ icon "inbox" }}
    <span class="flex items-center gap-2">
        <span class="desktop">{{ text "general:link.inbox" }}</span>
        {% if unread != 0 %}
        <span class="notification tr">{{ unread }}</span>
        {% endif %}
    </span>
</a>

<a class="button" href="/discover" title="Discover">
    {{ icon "compass" }}
    <span class="flex items-center gap-2">
        <span class="desktop">{{ text "general:link.discover" }}</span>
    </span>
</a>
{% endblock %} {% block nav_right %}
<a class="button" href="/inbox/notifications" title="My notifications">
    {{ icon "bell" }} {% if notifs != 0 %}
    <span class="notification tr">{{ notifs }}</span>
    {% endif %}
</a>
{% endblock %} {% block content %}
<article>
    <main class="flex flex-col gap-2">
        <div class="pillmenu">
            <a href="/circles" class="active"><span>List</span></a>
            <a href="/circles/new" data-turbo="false"><span>Create</span></a>
        </div>

        <!-- prettier-ignore -->
        {% for circle in circles %}
        <div class="card-nest w-full">
            <div class="card" style="padding: 0">
                <img
                    title="{{ circle.name }}'s banner"
                    src="/api/v1/circles/{{ circle.id }}/banner"
                    alt=""
                    class="shadow round"
                    style="
                        width: 100%;
                        min-height: 80px;
                        max-height: 80px;
                        object-fit: cover;
                        border-bottom-left-radius: 0 !important;
                        border-bottom-right-radius: 0 !important;
                    "
                />
            </div>

            <div class="card flex gap-2">
                <img
                    title="{{ circle.name }}'s avatar"
                    src="/api/v1/circles/{{ circle.id }}/avatar"
                    alt=""
                    class="avatar"
                    style="--size: 80px; margin: -50px 0.5rem 0"
                />

                <h3 class="no-margin">
                    <a href="/+{{ circle.name }}">{{ circle.name }}</a>
                </h3>
            </div>
        </div>
        {% endfor %}
    </main>
</article>

{% if let Some(profile) = profile %} {% let other = profile.clone() %} {% if
profile.username == other.username %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% endif %} {% call super() %} {% endblock %}
