{% extends "base.html" %} {% block pillmenu %}
<a href="/+{{ circle.name }}">
    Answers
    <b class="notification">{{ response_count }}</b>
</a>

<a href="/circles/@{{ circle.name }}/memberlist">
    Members
    <b class="notification">{{ member_count }}</b>
</a>

{% if is_member %}
<a href="/circles/@{{ circle.name }}/inbox" class="active">Inbox</a>
<a href="/circles/@{{ circle.name }}/settings">Settings</a>
{% endif %} {% endblock %} {% block panel %}
<!-- inbox -->
<div id="inbox" class="flex flex-col gap-4">
    {% for question in questions %}
    <div class="card-nest w-full shadow" id="question:{{ question.id }}">
        <div class="card flex flex-col gap-1">
            <div class="flex items-center justify-between gap-1 question_title">
                <div class="footernav">
                    <b class="flex items-center gap-2 item">
                        <!-- prettier-ignore -->
                        {% let author_tag = crate::database::Database::anonymous_tag(question.author.username.as_ref()) %}
                        {% if author_tag.0 == false %}
                        <img
                            title="{{ question.author.username }}'s avatar"
                            src="/api/v1/profiles/{{ question.author.username }}/avatar"
                            alt=""
                            class="avatar round-sm"
                            style="--size: 20px"
                        />

                        <a
                            href="/@{{ question.author.username }}"
                            style="color: inherit"
                        >
                            <!-- prettier-ignore -->
                            {% let display_name = question.author.metadata.kv.get("sparkler:display_name") %}

                            {% if let Some(display_name) = display_name %}
                                {{ display_name }}
                            {% else %}
                                {{ question.author.username }}
                            {% endif %}
                        </a>
                        {% else %} {% if let Some(avatar) = anonymous_avatar %}
                        {% if (avatar.is_empty()) |
                        (!avatar.starts_with("https://")) %}
                        <!-- default avatar, setting set but blank or unsafe -->
                        <img
                            title="{{ question.author.username }}'s avatar"
                            src="/static/images/default-avatar.svg"
                            alt=""
                            class="avatar round-sm"
                            style="--size: 20px"
                        />
                        {% else %}
                        <!-- anonymous avatar, setting set and valid -->
                        <img
                            title="This profile's anonymous avatar"
                            src="/api/util/ext/image?img={{ avatar }}"
                            alt=""
                            class="avatar round-sm"
                            style="--size: 20px"
                        />
                        {% endif %} {% else %}
                        <!-- default avatar, setting not set -->
                        <img
                            title="{{ question.author.username }}'s avatar"
                            src="/static/images/default-avatar.svg"
                            alt=""
                            class="avatar round-sm"
                            style="--size: 20px"
                        />
                        {% endif %}

                        <!-- prettier-ignore -->
                        {% if let Some(username) = anonymous_username %}
                            {% if username.is_empty() %}
                                anonymous
                            {% else %}
                                {{ username }}
                            {% endif %}
                        {% else %}
                            anonymous
                        {% endif %}
                        {% endif %}
                    </b>

                    <span class="date item">{{ question.timestamp }}</span>
                </div>

                <div class="dropdown">
                    <button
                        onclick="trigger('app:hook.dropdown', [event])"
                        exclude="dropdown"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            width="16"
                            height="16"
                            aria-label="Ellipsis symbol"
                            class="icon"
                        >
                            <path
                                d="M8 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM1.5 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm13 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                            ></path>
                        </svg>
                    </button>

                    <div class="inner shadow-md" exclude="dropdown">
                        <b class="title">Manage</b>
                        <a
                            href="#"
                            onclick="trigger('questions:delete', ['{{ question.id }}'])"
                            class="red"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 16 16"
                                width="16"
                                height="16"
                                aria-label="Trash symbol"
                                class="icon"
                            >
                                <path
                                    d="M11 1.75V3h2.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75ZM4.496 6.675l.66 6.6a.25.25 0 0 0 .249.225h5.19a.25.25 0 0 0 .249-.225l.66-6.6a.75.75 0 0 1 1.492.149l-.66 6.6A1.748 1.748 0 0 1 10.595 15h-5.19a1.75 1.75 0 0 1-1.741-1.575l-.66-6.6a.75.75 0 1 1 1.492-.15ZM6.5 1.75V3h3V1.75a.25.25 0 0 0-.25-.25h-2.5a.25.25 0 0 0-.25.25Z"
                                ></path>
                            </svg>
                            Delete
                        </a>
                    </div>
                </div>
            </div>

            <!-- prettier-ignore -->
            <span class="question_content" hook="long" hook-arg="lowered">
                {{ shared::ui::render_markdown(question.content)|safe }}
            </span>
        </div>

        <div class="card">
            <form
                class="flex flex-col gap-2"
                onsubmit="respond(event, '{{ question.id }}')"
            >
                <textarea
                    class="w-full"
                    placeholder="Type your response!"
                    minlength="1"
                    maxlength="4096"
                    required
                    name="content"
                    id="content-{{ question.id }}"
                    hook="counter"
                ></textarea>

                {% include "components/more_response_options.html" %}

                <div class="flex justify-between w-full gap-1">
                    <span
                        id="content-{{ question.id }}:counter"
                        class="notification item"
                    ></span>
                    <button class="round-lg primary bold">Submit</button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    function respond(e, question) {
        e.preventDefault();
        trigger("responses:create", [
            question,
            e.target.content.value,
            e.target.tags.value,
            e.target.warning.value,
        ]).then((_) => {
            // reset if successful
            e.target.reset();
        });
    }
</script>
{% call super() %} {% endblock %}
