{% extends "base.html" %} {% block pillmenu %}
<a href="/+{{ circle.name }}"><span>Feed</span></a>

<a href="/circles/@{{ circle.name }}/memberlist" class="active">
    <span>Members <b class="notification">{{ member_count }}</b></span>
</a>

{% if is_member %}
<a href="/circles/@{{ circle.name }}/settings"><span>Settings</span></a>
{% endif %} {% endblock %} {% block panel %}
<!-- memberlist -->
<div id="memberlist" class="flex flex-col gap-4">
    {% if is_owner %}
    <div class="flex justify-between gap-2">
        <div></div>
        <button onclick="send_invite()" class="bold">
            {{ icon "user-plus" }} Invite sombody
        </button>

        <script>
            async function send_invite() {
                const user = await trigger("app:prompt", ["Username:"]);

                if (!user) {
                    return;
                }

                fetch(`/api/v1/circles/{{ circle.id }}/invite/${user}`, {
                    method: "POST",
                })
                    .then((res) => res.json())
                    .then((res) => {
                        trigger("app:toast", [
                            res.success ? "success" : "error",
                            res.success ? "Invite sent!" : res.message,
                        ]);
                    });
            }
        </script>
    </div>
    {% endif %} {% for card in members %}
    <div class="card-nest w-full">
        <div class="card" style="padding: 0">
            <img
                title="{{ card.username }}'s banner"
                src="/api/v0/auth/profile/{{card.id }}/banner"
                alt=""
                class="shadow round"
                style="
                    width: 100%;
                    min-height: 80px;
                    max-height: 80px;
                    object-fit: cover;
                    border-bottom-left-radius: 0 !important;
                    border-bottom-right-radius: 0 !important;
                "
            />
        </div>

        <div class="card flex gap-2">
            <img
                title="{{ card.username }}'s avatar"
                src="/api/v0/auth/profile/{{ card.id }}/avatar"
                alt=""
                class="avatar shadow-md"
                style="--size: 80px; margin: -50px 0.5rem 0"
            />

            <div class="flex items-center gap-4">
                <h3 class="no-margin">
                    <a href="/@{{ card.username }}">{{ card.username }}</a>
                </h3>

                {% if is_owner %}
                <button onclick="kick_member('{{ card.id }}')" class="red bold">
                    {{ icon "x" }} Kick
                </button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if is_owner %}
<script>
    async function kick_member(id) {
        if (
            !(await trigger("app:confirm", [
                "Are you sure you want to do this?",
            ]))
        ) {
            return;
        }

        fetch(`/api/v1/circles/{{ circle.id }}/kick/${id}`, {
            method: "POST",
        })
            .then((res) => res.json())
            .then((res) => {
                trigger("app:toast", [
                    res.success ? "success" : "error",
                    res.success ? "Member kicked!" : res.message,
                ]);
            });
    }
</script>
{% endif %} {% call super() %} {% endblock %}
