{% extends "../base.html" %} {% block title %}Create circle - {{ config.name
}}{% endblock %} {% block head %}
<meta name="description" content="{{ config.description }}" />
{% endblock %} {% block nav_left %}
<a class="button" href="/">
    {{ icon "house" }}
    <span class="desktop">{{ lang.get("general:link.timeline") }}</span>
</a>

<a class="button" href="/inbox">
    {{ icon "inbox" }}
    <span class="desktop">Inbox</span>
    {% if unread != 0 %}
    <span class="notification">{{ unread }}</span>
    {% endif %}
</a>
{% endblock %} {% block nav_right %}
<a class="button" href="/inbox/notifications">
    {{ icon "bell" }} {% if notifs != 0 %}
    <span class="notification">{{ notifs }}</span>
    {% endif %}
</a>
{% endblock %} {% block content %}
<article class="flex flex-col gap-1 items-center">
    <main class="flex flex-col gap-2">
        <div class="pillmenu">
            <a href="/circles"><span>List</span></a>
            <a href="/circles/new" class="active" data-turbo="false"
                ><span>Create</span></a
            >
        </div>

        <div
            id="success"
            class="card flex flex-col gap-2"
            style="display: none; width: 100%"
        ></div>
        <div
            id="error"
            class="markdown-alert-caution"
            style="display: none; width: 100%"
        ></div>

        <div id="forms" class="flex flex-col gap-2 items-center">
            <div class="card w-full">
                <form id="create_form" class="flex flex-col gap-2">
                    <div class="row flex flex-col gap-1">
                        <label for="username">Name</label>
                        <input
                            type="text"
                            name="name"
                            id="name"
                            required
                            minlength="2"
                            maxlength="32"
                        />
                    </div>

                    <div
                        class="h-captcha"
                        data-sitekey="{{ config.captcha.site_key }}"
                    ></div>

                    <hr />

                    <button class="primary bold">Create</button>
                </form>
            </div>
        </div>

        <script>
            const error = document.getElementById("error");
            const success = document.getElementById("success");
            const forms = document.getElementById("forms");

            document
                .getElementById("create_form")
                .addEventListener("submit", async (e) => {
                    e.preventDefault();

                    // sign up
                    const res = await fetch("/api/v1/circles", {
                        method: "POST",
                        body: JSON.stringify({
                            name: e.target.name.value,
                            token: e.target.querySelector(".h-captcha textarea")
                                .value,
                        }),
                        headers: {
                            "Content-Type": "application/json",
                        },
                    });

                    const json = await res.json();

                    if (json.success === false) {
                        error.style.display = "block";
                        error.innerHTML = `<div class="mdnote-title">${json.message}</div>`;
                    } else {
                        success.style.display = "flex";
                        success.innerHTML = `<p>Circle created!</p>

                    <hr />
                    <a href="/circles/@${e.target.name.value}" class="button primary bold">Continue</a>`;
                        forms.style.display = "none";
                    }
                });
        </script>
    </main>
</article>

{% if let Some(profile) = profile %} {% let other = profile.clone() %} {% if
profile.username == other.username %}
<div id="is_self"></div>
{% endif %} {% let raw_metadata =
crate::routing::pages::clean_metadata_raw(other.metadata) %} {% include
"components/theming.html" %} {% endif %} {% call super() %} {% endblock %}
