{% extends "base.html" %} {% block pillmenu %}
<a href="/+{{ circle.name }}" class="active"><span>Feed</span></a>

<a href="/circles/@{{ circle.name }}/memberlist">
    <span>Members <b class="notification">{{ member_count }}</b></span>
</a>

{% if is_member %}
<a href="/circles/@{{ circle.name }}/settings"><span>Settings</span></a>
{% endif %} {% endblock %} {% block panel %}
<!-- feed -->
<div id="feed" class="flex flex-col gap-4">
    <!-- prettier-ignore -->
    {% let anonymous_username = circle.metadata.kv.get("sparkler:anonymous_username") %}
    {% let anonymous_avatar = circle.metadata.kv.get("sparkler:anonymous_avatar") %}

    <!-- pinned -->
    <!-- prettier-ignore -->
    {% if let Some(pinned) = pinned %}
        {% for response in pinned %}
            {% let is_pinned = true %}
            {% let show_pin_button = true %}
            {% let do_not_render_question = false %}
            {% let show_comments = true %}
            {% let do_render_nested = true %}
            {% let is_liked = reactions.contains(response.1.id) %}
            {% include "../components/response.html" %}
        {% endfor %}
    <hr class="small" />
    {% endif %}

    <!-- pagination buttons -->
    {% if page != 0 %}
    <div class="flex justify-center items-center gap-4 w-full">
        <a class="button primary" href="?page=0">View full feed</a>
    </div>
    {% endif %}

    <!-- actual feed -->
    {% let other = circle.clone() %} {% include "partials/profile/feed.html" %}
</div>

<script>
    use("app", (app) => {
        app["hook.attach_to_partial"](
            "/+{{ circle.name }}/_app/feed.html",
            "/+{{ circle.name }}",
            document.getElementById("feed"),
            document.body,
            parseInt("{{ page }}"),
        ).then(() => {
            console.log("partial end");
            document.getElementById("feed").innerHTML +=
                `<div class="w-full flex flex-col gap-2">
                <hr />
                <p class="w-full flex justify-center fade">
                    You've reached the end
                </p>
            </div>`;
        });
    });
</script>
{% call super() %} {% endblock %}
