{% extends "base.html" %} {% block pillmenu %}
<a href="/+{{ circle.name }}" class="active">
    Answers
    <b class="notification">{{ response_count }}</b>
</a>

<a href="/circles/@{{ circle.name }}/memberlist">
    Members
    <b class="notification">{{ member_count }}</b>
</a>

{% if is_member %}
<a href="/circles/@{{ circle.name }}/inbox">
    Inbox
    <b class="notification">{{ inbox_count }}</b>
</a>

<a href="/circles/@{{ circle.name }}/settings">Settings</a>
{% endif %} {% endblock %} {% block panel %}
<!-- feed -->
<div id="feed" class="flex flex-col gap-4">
    <!-- prettier-ignore -->
    {% let anonymous_username = circle.metadata.kv.get("sparkler:anonymous_username") %}
    {% let anonymous_avatar = circle.metadata.kv.get("sparkler:anonymous_avatar") %}

    <!-- pinned -->
    <!-- prettier-ignore -->
    {% if let Some(pinned) = pinned %}
        {% for response in pinned %}
            {% let is_pinned = true %}
            {% let show_pin_button = true %}
            {% let do_not_render_question = false %}
            {% let show_comments = true %}
            {% include "../components/response.html" %}
        {% endfor %}
    <hr class="small" />
    {% endif %}

    <!-- actual feed -->
    <!-- prettier-ignore -->
    {% for response in responses %}
        {% let is_pinned = false %}
        {% let show_pin_button = true %}
        {% let do_not_render_question = false %}
        {% let show_comments = true %}
        {% include "../components/response.html" %} 
    {% endfor %}

    <!-- pagination buttons -->
    {% if response_count != 0 %}
    <div class="flex justify-between gap-4 w-full">
        {% if page > 0 %}
        <a class="button secondary" href="?page={{ page - 1 }}">Previous</a>
        {% else %}
        <div></div>
        {% endif %} {% if responses.len() != 0 %}
        <a class="button secondary" href="?page={{ page + 1 }}">Next</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% call super() %} {% endblock %}
