<select
    name="language"
    id="language"
    onchange="set_language(event.target.options[event.target.selectedIndex].value)"
>
    <option value="net.rainbeam.langs:en-US">🇺🇸 en-US</option>
    <option value="net.rainbeam.langs.testing:aa-BB">🏁 aa-BB (debug)</option>
</select>

<script>
    function fill_language() {
        document
            .querySelector('option[value="{{ lang.name }}"]')
            .setAttribute("selected", "true");
    }

    fill_language();

    async function set_language(lang) {
        fetch(`/api/v0/util/lang/set?id=${lang}`, { method: "POST" }).then(
            () => {
                window.location.reload();
            },
        );
    }
</script>
