<div class="flex flex-col gap-4">
    <h4 class="title">General Privacy</h4>
    <div class="flex flex-col gap-1">
        <div class="checkbox_container">
            <input
                type="checkbox"
                name="sparkler:lock_profile"
                id="sparkler:lock_profile"
                onchange="update_kv('sparkler:lock_profile', event.target.checked.toString())"
            />

            <label for="sparkler:lock_profile" class="normal">
                Lock your profile
            </label>
        </div>

        <p class="fade subtext">
            Locking your profile blocks everybody from submitting questions to
            you.
        </p>
    </div>

    <div class="checkbox_container">
        <input
            type="checkbox"
            name="sparkler:disallow_anonymous"
            id="sparkler:disallow_anonymous"
            onchange="update_kv('sparkler:disallow_anonymous', event.target.checked.toString())"
        />

        <label for="sparkler:disallow_anonymous" class="normal">
            Disallow anonymous questions on your profile
        </label>
    </div>

    <div class="flex flex-col gap-1">
        <div class="checkbox_container">
            <input
                type="checkbox"
                name="sparkler:disallow_anonymous_comments"
                id="sparkler:disallow_anonymous_comments"
                onchange="update_kv('sparkler:disallow_anonymous_comments', event.target.checked.toString())"
            />

            <label for="sparkler:disallow_anonymous_comments" class="normal">
                Disallow anonymous comments on your responses
            </label>
        </div>
    </div>

    <div class="checkbox_container">
        <input
            type="checkbox"
            name="sparkler:require_account"
            id="sparkler:require_account"
            onchange="update_kv('sparkler:require_account', event.target.checked.toString())"
        />

        <label for="sparkler:require_account" class="normal">
            Require an account to ask questions on your profile
        </label>
    </div>

    <div class="checkbox_container">
        <input
            type="checkbox"
            name="sparkler:private_social"
            id="sparkler:private_social"
            onchange="update_kv('sparkler:private_social', event.target.checked.toString())"
        />

        <label for="sparkler:private_social" class="normal">
            Keep your socials private (followers/following)
        </label>
    </div>

    <h4 class="title">Moderation</h4>
    <div class="flex flex-col gap-1">
        <label for="sparkler:filter">Filter</label>

        <textarea
            name="sparkler:filter"
            id="sparkler:filter"
            onchange="update_kv('sparkler:filter', event.target.value)"
        ></textarea>

        <p class="fade">
            A list of strings that are not allowed in questions asked to you.
            Each different string
            <b>must</b>
            be on a new line.
        </p>
    </div>
</div>
