<div class="flex flex-col gap-4">
    <h4 class="title">
        {{ text "settings:profile_options.html:title.about_me" }}
    </h4>
    <div class="flex flex-col gap-1">
        <label for="sparkler:display_name">
            {{ text "settings:profile_options.html:label.display_name" }}
        </label>

        <input
            name="sparkler:display_name"
            id="sparkler:display_name"
            onchange="update_kv('sparkler:display_name', event.target.value)"
        />

        <p class="fade">
            Your display name is shown about your username on your profile and
            can be used to have a name that is not bound by character limits!
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:biography" class="flex gap-2 items-center">
            {{ text "settings:profile_options.html:label.biography" }}
        </label>

        <textarea
            name="sparkler:biography"
            id="sparkler:biography"
            onchange="update_kv('sparkler:biography', event.target.value)"
        ></textarea>

        <p class="fade">A short description about you. Supports Markdown.</p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:sidebar" class="flex gap-2 items-center">
            {{ text "settings:profile_options.html:label.sidebar" }}
        </label>

        <textarea
            name="sparkler:sidebar"
            id="sparkler:sidebar"
            onchange="update_kv('sparkler:sidebar', event.target.value)"
        ></textarea>

        <p class="fade">
            A sidebar shown under your profile card on your profile. Use it to
            display extra information separate from your biography. Supports
            Markdown.
        </p>
    </div>

    <h4 class="title">Images</h4>
    <div class="flex flex-col gap-1">
        <label for="sparkler:avatar_url">
            {{ text "settings:profile_options.html:label.avatar_url" }}
        </label>

        <input
            type="url"
            name="sparkler:avatar_url"
            id="sparkler:avatar_url"
            onchange="update_kv('sparkler:avatar_url', event.target.value)"
        />

        <p class="fade">
            Put a link to your avatar above. If you are unable to get a link,
            you can alternatively upload the file directly. Uploaded files must
            be less than 8MB and will be converted to AVIF.
        </p>

        <form
            class="flex gap-2 flex-row items-center"
            method="post"
            enctype="multipart/form-data"
            action="/api/v0/auth/me/upload_avatar"
        >
            <input
                name="file"
                type="file"
                accept="image/png,image/jpeg,image/avif,image/webp"
                class="w-content"
            />
            <button class="primary">{{ icon "check" }}</button>
        </form>

        <p class="fade">
            Uploading an image will cost you
            <a href="/settings/coins">C$25</a> every time after your first
            upload.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:banner_url">
            {{ text "settings:profile_options.html:label.banner_url" }}
        </label>

        <input
            type="url"
            name="sparkler:banner_url"
            id="sparkler:banner_url"
            onchange="update_kv('sparkler:banner_url', event.target.value)"
        />

        <p class="fade">
            Same deal as the avatar! This is the big thing at the top of your
            profile. If you are unable to get a link, you can alternatively
            upload the file directly. Uploaded files must be less than 8MB and
            will be converted to AVIF.
        </p>

        <form
            class="flex gap-2 flex-row items-center"
            method="post"
            enctype="multipart/form-data"
            action="/api/v0/auth/me/upload_banner"
        >
            <input
                name="file"
                type="file"
                accept="image/png,image/jpeg,image/avif,image/webp"
                class="w-content"
            />
            <button class="primary">{{ icon "check" }}</button>
        </form>

        <p class="fade">
            Uploading an image will cost you
            <a href="/settings/coins">C$25</a> every time after your first
            upload.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:banner_fit">
            {{ text "settings:profile_options.html:label.banner_fit" }}
        </label>

        <select
            type="url"
            name="sparkler:banner_fit"
            id="sparkler:banner_fit"
            onchange="update_kv('sparkler:banner_fit', event.target.options[event.target.selectedIndex].value)"
        >
            <option value="cover" id="cover">Cover (default)</option>
            <option value="fill" id="fill">Fill</option>
            <option value="contain" id="contain">Contain</option>
        </select>

        <p class="fade">
            The way your banner image is fit onto the image element.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:desktop_tl_logo">
            {{ text "settings:profile_options.html:label.desktop_top_left_logo"
            }}
        </label>

        <input
            type="url"
            name="sparkler:desktop_tl_logo"
            id="sparkler:desktop_tl_logo"
            onchange="update_kv('sparkler:desktop_tl_logo', event.target.value)"
        />

        <p class="fade">
            The image located at the top left of Neospring on desktop.
        </p>
    </div>

    <h4 class="title">
        {{ text "settings:profile_options.html:title.greetings" }}
    </h4>
    <div class="flex flex-col gap-1">
        <label
            for="sparkler:motivational_header"
            class="flex gap-2 items-center"
        >
            {{ text "settings:profile_options.html:label.motivational_header" }}
        </label>

        <input
            name="sparkler:motivational_header"
            id="sparkler:motivational_header"
            onchange="update_kv('sparkler:motivational_header', event.target.value)"
        />

        <p class="fade">
            Motivate people to ask you a question! Shown just above the question
            input.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:warning" class="flex gap-2 items-center">
            {{ text "settings:profile_options.html:label.profile_warning" }}
        </label>

        <textarea
            name="sparkler:warning"
            id="sparkler:warning"
            onchange="update_kv('sparkler:warning', event.target.value)"
        ></textarea>

        <p class="fade">
            This will show a warning on your profile when people visit it.
            People will be given the option to continue to your profile or go
            the Sparkler homepage. Set this to nothing to disable it!
        </p>
    </div>

    <h4 class="title">
        {{ text "settings:profile_options.html:title.anonymous" }}
    </h4>
    <div class="flex flex-col gap-1">
        <label for="sparkler:anonymous_username">
            {{ text "settings:profile_options.html:title.anonymous_username" }}
        </label>

        <input
            name="sparkler:anonymous_username"
            id="sparkler:anonymous_username"
            onchange="update_kv('sparkler:anonymous_username', event.target.value)"
        />

        <p class="fade">
            This name will be shown instead of "anonymous" in the username slot
            of anonymous questions.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:anonymous_avatar">
            {{ text "settings:profile_options.html:label.anonymous_avatar_url"
            }}
        </label>

        <input
            type="url"
            name="sparkler:anonymous_avatar"
            id="sparkler:anonymous_avatar"
            onchange="update_kv('sparkler:anonymous_avatar', event.target.value)"
        />

        <p class="fade">
            This avatar will be shown instead of the default avatar on anonymous
            questions.
        </p>
    </div>

    <h4 class="title">{{ text "settings:profile_options.html:title.feed" }}</h4>
    <div class="flex flex-col gap-1">
        <label for="sparkler:pinned">
            {{ text "settings:profile_options.html:label.pinned" }}
        </label>

        <textarea
            name="sparkler:pinned"
            id="sparkler:pinned"
            onchange="update_kv('sparkler:pinned', event.target.value)"
        ></textarea>

        <p class="fade">
            Put the ID of the responses you want to pin there. Note this will
            also pin the question! You can also do this by clicking "Pin" on any
            of your responses. (Responses should be separated by a comma, with a
            trailing comma at the end!)
        </p>
    </div>

    <h4 class="title">Theming</h4>
    <div class="flex flex-col gap-1">
        <label for="sparkler:profile_theme">Profile theme</label>

        <select
            type="url"
            name="sparkler:profile_theme"
            id="sparkler:profile_theme"
            onchange="update_kv('sparkler:profile_theme', event.target.options[event.target.selectedIndex].value)"
        >
            <option value="">User-choice</option>
            <option value="light" id="light">
                {{ text "settings:text.light" }}
            </option>
            <option value="dark" id="dark">Dark</option>
            <option value="dark midnight" id="dark midnight">
                {{ text "settings:text.midnight" }}
            </option>
        </select>

        <p class="fade">This is the base theme used on your profile.</p>
    </div>

    <h4 class="title">Layout</h4>
    <div class="flex flex-col gap-1">
        <label for="sparkler:layout">Profile layout</label>

        <select
            type="url"
            name="sparkler:layout"
            id="sparkler:layout"
            onchange="update_kv('sparkler:layout', event.target.options[event.target.selectedIndex].value)"
        >
            <option value="0" id="0">Sidebar on left (default)</option>
            <option value="1" id="1">Sidebar on right</option>
        </select>

        <p class="fade">The layout used on your profile.</p>
    </div>

    <h4 class="title">Colors</h4>

    <div
        class="markdown-alert-important flex flex-col gap-2"
        style="align-items: flex-start"
    >
        <b>Theming best practices:</b>

        <ol>
            <li>Make sure your theme is easily readable and accessible</li>
            <li>Make sure your theme follows a coherent color scheme</li>
            <li>
                Make sure your theme isn't too bright or too dark, as many users
                could be sensitive to extreme colors
            </li>
        </ol>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_surface">Surface</label>

        <input
            name="sparkler:color_surface"
            id="sparkler:color_surface"
            onchange="update_kv('sparkler:color_surface', event.target.value)"
        />

        <p class="fade">Page background.</p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_lowered">Lowered</label>

        <input
            name="sparkler:color_lowered"
            id="sparkler:color_lowered"
            onchange="update_kv('sparkler:color_lowered', event.target.value)"
        />

        <p class="fade">
            Stuff that is darker than the page background. (questions,
            motivational header, buttons, textarea, etc.)
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_super_lowered">Super lowered</label>

        <input
            name="sparkler:color_super_lowered"
            id="sparkler:color_super_lowered"
            onchange="update_kv('sparkler:color_super_lowered', event.target.value)"
        />

        <p class="fade">Even darker than that. (button hover, etc.)</p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_raised">Raised</label>

        <input
            name="sparkler:color_raised"
            id="sparkler:color_raised"
            onchange="update_kv('sparkler:color_raised', event.target.value)"
        />

        <p class="fade">
            Stuff that is lighter than the page background. (profile card, pill
            menu button hover, responses, etc.)
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_super_raised">Super raised</label>

        <input
            name="sparkler:color_super_raised"
            id="sparkler:color_super_raised"
            onchange="update_kv('sparkler:color_super_raised', event.target.value)"
        />

        <p class="fade">Even lighter than that. (pill menu buttons, etc.)</p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_text">Text</label>

        <input
            name="sparkler:color_text"
            id="sparkler:color_text"
            onchange="update_kv('sparkler:color_text', event.target.value)"
        />

        <p class="fade">Text color used everywhere.</p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_text_raised">Text raised</label>

        <input
            name="sparkler:color_text_raised"
            id="sparkler:color_text_raised"
            onchange="update_kv('sparkler:color_text_raised', event.target.value)"
        />

        <p class="fade">
            Text color used on raised elements (profile card, responses, etc.)
            everywhere.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_text_lowered">Text lowered</label>

        <input
            name="sparkler:color_text_lowered"
            id="sparkler:color_text_lowered"
            onchange="update_kv('sparkler:color_text_lowered', event.target.value)"
        />

        <p class="fade">
            Text color used on lowered elements (motivation header, questions,
            etc.) everywhere.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_link">Link color</label>

        <input
            name="sparkler:color_link"
            id="sparkler:color_link"
            onchange="update_kv('sparkler:color_link', event.target.value)"
        />

        <p class="fade">Text color used on links.</p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_primary">Primary</label>

        <input
            name="sparkler:color_primary"
            id="sparkler:color_primary"
            onchange="update_kv('sparkler:color_primary', event.target.value)"
        />

        <p class="fade">That primary pink-ish color.</p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_primary_lowered">Primary lowered</label>

        <input
            name="sparkler:color_primary_lowered"
            id="sparkler:color_primary_lowered"
            onchange="update_kv('sparkler:color_primary_lowered', event.target.value)"
        />

        <p class="fade">
            That primary pink-ish color when you hover over it (buttons).
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_primary_raised">Primary raised</label>

        <input
            name="sparkler:color_primary_raised"
            id="sparkler:color_primary_raised"
            onchange="update_kv('sparkler:color_primary_raised', event.target.value)"
        />

        <p class="fade">A lightly lighter version of your primary color.</p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_text_primary">Text primary</label>

        <input
            name="sparkler:color_text_primary"
            id="sparkler:color_text_primary"
            onchange="update_kv('sparkler:color_text_primary', event.target.value)"
        />

        <p class="fade">
            Text color used on elements using the primary color as a background.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:color_shadow">Shadow</label>

        <input
            name="sparkler:color_shadow"
            id="sparkler:color_shadow"
            onchange="update_kv('sparkler:color_shadow', event.target.value)"
        />

        <p class="fade">Color used for shadows.</p>
    </div>

    <h4 class="title">Advanced</h4>
    <div class="flex flex-col gap-1">
        <label for="sparkler:custom_css">Custom CSS</label>

        <textarea
            name="sparkler:custom_css"
            id="sparkler:custom_css"
            onchange="update_kv('sparkler:custom_css', event.target.value)"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="off"
            style="font-family: monospace"
        ></textarea>

        <p class="fade">
            Custom profile CSS that accepts more than just colors.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="rainbeam:market_theme_template">Theme base</label>

        <button onclick="update_kv('rainbeam:market_theme_template', '')">
            Clear
        </button>

        <p class="fade">
            Pressing "Clear" will reset the theme base applied from market
            themes.
        </p>
    </div>
</div>
