<div class="flex flex-col gap-4">
    <h4 class="title">
        {{ text "settings:profile_options.html:title.about_me" }}
    </h4>

    <div class="flex flex-col gap-1">
        <label for="sparkler:display_name">
            {{ text "settings:profile_options.html:label.display_name" }}
        </label>

        <input
            name="sparkler:display_name"
            id="sparkler:display_name"
            onchange="update_kv('sparkler:display_name', event.target.value)"
        />

        <p class="fade">
            Your display name is shown about your username on your profile and
            can be used to have a name that is not bound by character limits!
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:biography" class="flex gap-2 items-center">
            {{ text "settings:profile_options.html:label.biography" }}
        </label>

        <textarea
            name="sparkler:biography"
            id="sparkler:biography"
            onchange="update_kv('sparkler:biography', event.target.value)"
        ></textarea>

        <p class="fade">A short description about you. Supports Markdown.</p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:sidebar" class="flex gap-2 items-center">
            {{ text "settings:profile_options.html:label.sidebar" }}
        </label>

        <textarea
            name="sparkler:sidebar"
            id="sparkler:sidebar"
            onchange="update_kv('sparkler:sidebar', event.target.value)"
        ></textarea>

        <p class="fade">
            A sidebar shown under your profile card on your profile. Use it to
            display extra information separate from your biography. Supports
            Markdown.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label class="flex gap-2 items-center">
            {{ text "settings:profile_options.html:label.links" }}
        </label>

        <div class="flex gap-2">
            <button class="primary" onclick="globalThis.save_links()">
                {{ text "general:action.save" }}
            </button>

            <button onclick="globalThis.add_link()">
                {{ text "settings:profile_options.html:text.add_link" }}
            </button>
        </div>

        <ul id="links_display"></ul>
    </div>

    <!-- prettier-ignore -->
    <script>
        let links = {
            {% for link in user.links %}
            "{{ link.0 }}": "{{ link.1 }}",
            {% endfor %}
        };

        globalThis.save_links = async () => {
            await trigger("app::debounce", ["settings::save_settings"]);
            const res = await (
                await fetch("/api/v0/auth/profile/{{ user.id }}/links", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        links,
                    }),
                })
            ).json();

            trigger("app::toast", [
                res.success ? "success" : "error",
                res.success ? "Links saved!" : res.message,
            ]);
        };

        globalThis.add_link = async () => {
            const title = await trigger("app:prompt", ["Link label::"]);

            if (!title) {
                return
            }

            const url = await trigger("app:prompt", ["Link URL::"]);

            if (!url) {
                return
            }

            links[title] = url;
            globalThis.render_links();
        }

        globalThis.render_links = () => {
            document.getElementById("links_display").innerHTML = "";

            for (const [i, link] of Object.entries(Object.entries(links))) {
                document.getElementById("links_display").innerHTML +=
                    `<li><b>${link[0]}</b>: <a href="${link[1]}">${link[1]}</a> (<a href="javascript:globalThis.remove_link(${i})">Remove</a>)</li>`;
            }
        }

        globalThis.remove_link = (idx) => {
            // turn links into array, remove idx, then turn array back to object
            let arr = Object.entries(links);
            arr.splice(idx, 1);
            links = {};

            for (const [k, v] of arr) {
                links[k] = v;
            }

            globalThis.render_links();
        }

        globalThis.render_links();
    </script>

    <h4 class="title">Images</h4>
    <div class="flex flex-col gap-1">
        <label for="avatar_file">
            {{ text "settings:profile_options.html:label.avatar" }}
        </label>

        <form
            class="flex gap-2 flex-row items-center"
            method="post"
            enctype="multipart/form-data"
            action="/api/v0/auth/me/upload_avatar"
        >
            <input
                id="avatar_file"
                name="file"
                type="file"
                accept="image/png,image/jpeg,image/avif,image/webp"
                class="w-content"
            />

            <button class="primary">{{ icon "check" }}</button>
        </form>

        <p class="fade">
            Uploaded files must be less than 8 MB and will be converted to AVIF.
        </p>

        <details class="w-full">
            <summary class="flex items-center gap-2">
                {{ icon "ellipsis" }}
                <span>
                    {{ text "settings:profile_options.html:label.advanced" }}
                </span>
            </summary>

            <div class="card secondary w-full flex flex-col gap-1">
                <label for="sparkler:avatar_url">
                    {{ text "settings:profile_options.html:label.avatar_url" }}
                </label>

                <p class="fade">
                    <b>Wait!</b> You probably really shouldn't do this. This is
                    only really useful if you want to have a gif (or any
                    animated) file. We <b>cannot</b> ensure that these services
                    will always work, and this is
                    <b>ONLY A TEMPORARY SOLUTION</b>.
                </p>

                <input
                    type="url"
                    name="sparkler:avatar_url"
                    id="sparkler:avatar_url"
                    onchange="update_kv('sparkler:avatar_url', event.target.value)"
                />

                <p class="fade">Put a link to your avatar above.</p>
            </div>
        </details>
    </div>

    <div class="flex flex-col gap-1 title">
        <label for="banner_file">
            {{ text "settings:profile_options.html:label.banner" }}
        </label>

        <form
            class="flex gap-2 flex-row items-center"
            method="post"
            enctype="multipart/form-data"
            action="/api/v0/auth/me/upload_banner"
        >
            <input
                id="banner_file"
                name="file"
                type="file"
                accept="image/png,image/jpeg,image/avif,image/webp"
                class="w-content"
            />

            <button class="primary">{{ icon "check" }}</button>
        </form>

        <p class="fade">
            Uploaded files must be less than 8 MB and will be converted to AVIF.
        </p>

        <details class="w-full">
            <summary class="flex items-center gap-2">
                {{ icon "ellipsis" }}
                <span>
                    {{ text "settings:profile_options.html:label.advanced" }}
                </span>
            </summary>

            <div class="card secondary w-full flex flex-col gap-1">
                <label for="sparkler:banner_url">
                    {{ text "settings:profile_options.html:label.banner_url" }}
                </label>

                <p class="fade">
                    <b>Wait!</b> You probably really shouldn't do this. This is
                    only really useful if you want to have a gif (or any
                    animated) file. We <b>cannot</b> ensure that these services
                    will always work, and this is
                    <b>ONLY A TEMPORARY SOLUTION</b>.
                </p>

                <input
                    type="url"
                    name="sparkler:banner_url"
                    id="sparkler:banner_url"
                    onchange="update_kv('sparkler:banner_url', event.target.value)"
                />

                <p class="fade">
                    Put a link to your banner above. This is the big thing at
                    the top of your profile.
                </p>
            </div>
        </details>
    </div>

    <div class="flex flex-col gap-1 title">
        <label for="sparkler:banner_fit">
            {{ text "settings:profile_options.html:label.banner_fit" }}
        </label>

        <select
            type="url"
            name="sparkler:banner_fit"
            id="sparkler:banner_fit"
            onchange="update_kv('sparkler:banner_fit', event.target.options[event.target.selectedIndex].value)"
        >
            <option value="cover" id="cover">Cover (default)</option>
            <option value="fill" id="fill">Fill</option>
            <option value="contain" id="contain">Contain</option>
        </select>

        <p class="fade">
            The way your banner image is fit onto the image element.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:desktop_tl_logo">
            {{ text "settings:profile_options.html:label.desktop_top_left_logo"
            }}
        </label>

        <input
            type="url"
            name="sparkler:desktop_tl_logo"
            id="sparkler:desktop_tl_logo"
            onchange="update_kv('sparkler:desktop_tl_logo', event.target.value)"
        />

        <p class="fade">
            The image located at the top left of Neospring on desktop.
        </p>
    </div>

    <h4 class="title">
        {{ text "settings:profile_options.html:title.greetings" }}
    </h4>
    <div class="flex flex-col gap-1">
        <label
            for="sparkler:motivational_header"
            class="flex gap-2 items-center"
        >
            {{ text "settings:profile_options.html:label.motivational_header" }}
        </label>

        <input
            name="sparkler:motivational_header"
            id="sparkler:motivational_header"
            onchange="update_kv('sparkler:motivational_header', event.target.value)"
        />

        <p class="fade">
            Motivate people to ask you a question! Shown just above the question
            input.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:warning" class="flex gap-2 items-center">
            {{ text "settings:profile_options.html:label.profile_warning" }}
        </label>

        <textarea
            name="sparkler:warning"
            id="sparkler:warning"
            onchange="update_kv('sparkler:warning', event.target.value)"
        ></textarea>

        <p class="fade">
            This will show a warning on your profile when people visit it.
            People will be given the option to continue to your profile or go
            the Sparkler homepage. Set this to nothing to disable it!
        </p>
    </div>

    <h4 class="title">
        {{ text "settings:profile_options.html:title.anonymous" }}
    </h4>
    <div class="flex flex-col gap-1">
        <label for="sparkler:anonymous_username">
            {{ text "settings:profile_options.html:label.anonymous_username" }}
        </label>

        <input
            name="sparkler:anonymous_username"
            id="sparkler:anonymous_username"
            onchange="update_kv('sparkler:anonymous_username', event.target.value)"
        />

        <p class="fade">
            This name will be shown instead of "anonymous" in the username slot
            of anonymous questions.
        </p>
    </div>

    <div class="flex flex-col gap-1">
        <label for="sparkler:anonymous_avatar">
            {{ text "settings:profile_options.html:label.anonymous_avatar_url"
            }}
        </label>

        <input
            type="url"
            name="sparkler:anonymous_avatar"
            id="sparkler:anonymous_avatar"
            onchange="update_kv('sparkler:anonymous_avatar', event.target.value)"
        />

        <p class="fade">
            This avatar will be shown instead of the default avatar on anonymous
            questions.
        </p>
    </div>

    <h4 class="title">{{ text "settings:profile_options.html:title.feed" }}</h4>
    <div class="flex flex-col gap-1">
        <label for="sparkler:pinned">
            {{ text "settings:profile_options.html:label.pinned" }}
        </label>

        <textarea
            name="sparkler:pinned"
            id="sparkler:pinned"
            onchange="update_kv('sparkler:pinned', event.target.value)"
        ></textarea>

        <p class="fade">
            Put the ID of the responses you want to pin there. Note this will
            also pin the question! You can also do this by clicking "Pin" on any
            of your responses. (Responses should be separated by a comma, with a
            trailing comma at the end!)
        </p>
    </div>
</div>
